.hr-no-icon.hr-no-icon div,
.hr-tog.hr-tog div
{ 
    --hr-icon-symbol: ; 
    --hr-image: ; 
}

.hr-center-vertically .hr { 
    --hr-thickness: 0;
    --hr-alignment: -50%;
    
    & hr { 
        --hr-color: var(--hr); 
        --hr-thickness: 2px; 
    }
}