/*@settings
name: Embed Adjustments
id: embed-adjustments
settings:
    - 
        id: info-text-SlRvb-embed-adj
        type: info-text
        title: Embed Adjustments by SlRvb
        description: "[Embed Adjustments Snippet How-To Guide](https://publish.obsidian.md/slrvb-docs/ITS+Theme/Embed+Adjustments)"
        markdown: true
*/


@use 'Theme Rewrite/custom-css/embed-adjustments'