body {
    --canvas-node-padding: 0 7px;
}

body.theme-dark {
    --canvas-color: 88, 100, 159;
}
body.theme-light {
    --canvas-color: 166, 180, 204;
}

.canvas-control-group,
.canvas-control-item {
    border-width: 2px;
    border-color: var(--outline);
}
.canvas-control-item {
    background-color: var(--note);
}

.canvas-card-menu {
    border: var(--box-border);
}

//Canvas Embed Sizing
// .canvas .canvas-node-content .markdown-embed-content 
// { --embed-padding: 0; height: auto; }
// .canvas-node-content.markdown-embed > .markdown-embed-content > .markdown-preview-view {
//     padding: var(--canvas-node-padding)
// }
