@use 'tag-pane';
@use 'outline-pane';
@use 'popover';
@use 'back-outgoing-links';
@use 'graph';
@use 'mermaid';
@use 'publish';
@use 'query';
@use 'slides';
@use 'bookmarks';
@use 'canvas';
@use 'metadata';