@use 'tag-pane';
@use 'outline-pane';
@use 'popover';
@use 'back-outgoing-links';
@use 'graph';
@use 'mermaid';
@use 'publish';
@use 'query';
@use 'slides';
@use 'bookmarks';
@use 'canvas';
@use 'metadata';
@use 'bases';

// .cm-line > .image-embed .image-wrapper { width: auto; max-width: 100%; }
// .cm-content .image-embed { width: 100%; }

.cm-editor.cm-focused .image-embed.is-selected, .cm-editor .image-embed.has-active-menu 
{ --image-radius: var(--radius-s); }