/* Tag Pane */
.tag-container  {
    padding: 0;

    & .tree-item-self { align-items: center; }
    & .tree-item-children { padding: 0; }
    
    --nav-item-children-margin-left: 12px;
}

//Fix Tag Dot
// .tag-container .tree-item-children > div:first-child { display: none; }



// Add Hash Tag
// .tree-item .tree-item-self .collapse-icon::before,
.tag-pane-tag:not(.mod-collapsible) > div > .tree-item-inner-text::before,
.tag-pane-tag-text:before {
    // padding-left: 0;
    // margin-left: -3px;

    content: "#";
    padding-right: 5px;
    margin-left: 1px;
    position: relative;
    color: var(--tag-text);
    width: var(--size-4-4);
}
// .tree-item-children > .tree-item-self { padding-left: 10px; }


//Hover
.tag-pane-tag.tag-pane-tag:hover .tree-item-inner-text::before,
.tag-container .tree-item-self:hover .tag-pane-tag-text:before {
    color: var(--text-dl);
}
.collapse-icon + .tree-item-inner > .tag-pane-tag-text:before { 
    content: none;
    padding-left: 2px;
    color: var(--tag-text);
}