
/*Button Plugin*/
.button-default {
    border-radius: var(--radius) !important;
    box-shadow: none !important;
    background-color: var(--th) !important;
    border: 0 !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    color: var(--text-dl) !important;
}
.button-default:hover {
    box-shadow: 0 .5em var(--embed-bg) !important;
    color: var(--text-dl) !important;
}

/*Admonition*/
.admonition { 
    border-radius: var(--radius) !important;
    box-shadow: 5px 5px var(--outline) !important; 
}
.admonition-title { padding: 10px 15px !important; }
.admonition-content { 
    padding: 0 0 0 5px !important;
}
