
/*Admonition*/
body .admonition { 
    border-radius: var(--radius);
    box-shadow: 5px 5px var(--outline); 
}
body .admonition-title { padding: 10px 15px; }
body .admonition-content { padding: 0 0 0 5px; }