/*Plugin: Quick Explorer*/
#quick-explorer .explorable { opacity: unset !important; }

/*Block Reference*/
body .block-ref-count:hover {
    color: var(--text-dl);
    background: var(--interactive-accent);
    border: 0;
}

/*AidenLX Folder Fix*/
.nav-folder.nav-folder.alx-folder-with-note .nav-folder-title-content {
    width: unset;
}

/*Plugin: Link Favicons*/
object.link-favicon { height: inherit !important; margin-right: 5px; }

/*Plugin: Indent Group*/
.ig-lists .HyperMD-list-line .ig-tab::before,
.ig-code .HyperMD-codeblock .ig-tab::before {
    width: var(--b-line) !important;
    margin-left: 7px;
}
/*
.ig-tab.ig-indent-group-level::before { background: var(--lite-accent) !important; }
.ig-tab:not(.ig-indent-group-level)::before                 { background-color: var(--b-l-1) !important; }
.ig-tab:not(.ig-indent-group-level):nth-child(2n):before    { background-color: var(--b-l-2) !important; }
.ig-tab:not(.ig-indent-group-level):nth-child(3n):before    { background-color: var(--b-l-3) !important; }
.ig-tab:not(.ig-indent-group-level):nth-child(4n):before    { background-color: var(--b-l-4) !important; }
.ig-tab:not(.ig-indent-group-level):nth-child(5n):before    { background-color: var(--b-l-5) !important; }
.ig-tab:not(.ig-indent-group-level):nth-child(6n):before    { background-color: var(--b-l-6) !important; }
*/