@use 'file-explorer';

@use 'image-adjustments';
@use 'embed-adjustments';

@use 'alt-checkbox';
@use 'callouts';
@use 'canvas';

@use 'sizing';

@use 'iframe';
@use 'plugins';

@use 'metadata-adj';

//CSS Classes
@use 'tables';
@use 'note';
@use 'outline-hide';
@use 'titlebar';
@use 'tags';
@use 'lists';
@use 'header-bar';
@use 'sidebar';
@use 'headings';
@use 'links';
@use 'hr';
@use 'inline-title';
@use 'workspace'; 
@use 'ribbon';
