.markdown-rendered :is(img, .internal-embed)[alt][alt]:is(
    [alt*="img-banner"],
    [alt*="banner"],
    [alt~="img-sban"],
    [alt~="sban"]
) { 
    --img-adj-size-w: 100%;
    --img-adj-display: block;
    --img-adj-object-fit: cover;
}


/*Banners*/
:is(img, .internal-embed)[alt][alt][alt*="banner"] {
    object-fit: var(--img-adj-object-fit);
    width: var(--img-adj-size-w);
    display: var(--img-adj-display);
    // margin-bottom: 0px;
    // clear: both;
    
    height: var(--img-adj-size-h);
}

.markdown-rendered :is(img, .image-embed)[alt][alt] {
    &:is([alt~="img-banner"], [alt~="banner"]) { --img-adj-size-h: var(--small); }
    &:is([alt~="img-banner+small"], [alt~="banner+small"]) { --img-adj-size-h: var(--tiny); }
    &:is([alt~="img-banner+tall"], [alt~="banner+tall"]) { --img-adj-size-h: var(--medium); }
}



// Customizable
.internal-embed[src*="#img-sban"] img,
:is(img, .internal-embed)[alt][alt]:is([alt~="img-sban"], [alt~="sban"])
{
    object-fit: var(--img-adj-object-fit);
    width: var(--img-adj-size-w);
    display: var(--img-adj-display);
}