.markdown-rendered :is(img, image-embed):is(
    [alt][alt][alt~="portrait"],
    [alt][alt][alt*="portrait+"]
) {   
    --img-adj-size-h: var(--med-small);
    --img-adj-size-w: calc(var(--img-adj-size-h) / 1.7);
    --img-adj-object-fit: cover;
}


/*Portait*/
:is(img, image-embed):is(
    [alt][alt][alt~="portrait"],
    [alt][alt][alt*="portrait+"]
) {
    object-fit: var(--img-adj-object-fit);
    height: var(--img-adj-size-h);
    width: var(--img-adj-size-w);
}

.markdown-rendered :is(img, image-embed)[alt][alt]{
    &[alt~="portrait+small"] { --img-adj-size-h: var(--small-med); }
    &[alt~="portrait+tall"] { --img-adj-size-h: var(--medium); }
}