
/*Fit image within bounds WITHOUT stretching*/
img[alt*="cover"],
img:is([alt*="cover"], [alt*="cvr"]), 
.image-embed:is([src*="#cover"], [src*="#cvr"]), 
span.image-embed:is([src*="#cover"], [src*="#cvr"]) img 
{ object-fit: cover; }

/*Fix Float Issues*/
:is(img, .image-embed)[alt*="clear"],
.image-embed[src*="#clear"] 
{ clear: both; }


img[alt*="unclr"],
.image-embed[src*="#unclr"] 
{ clear: none !important; }



//Live Preview Location Override
:not(.lp-img-float) .is-live-preview  {
& img,
& .image-embed {
    &:is([alt*="right"], [alt*="locr"]),
    &:is([alt*="left"], [alt*="locl"]) {
        float: unset;
    }
}
}

img,
.image-embed {
&:is([alt~="lp"], [alt~="live-preview"]) {
    &:is([alt*="right"], [alt*="locr"]) { float: right !important; }
    &:is([alt*="left"], [alt*="locl"]) { float: left !important; }
}
}


//Clears
.clear-hr { --hr-width: 100%; }
.clear-headings :is(h1, h2, h3, h4, h5, h6),
.clear-heading-1 h1,
.clear-heading-2 h2,
.clear-heading-3 h3,
.clear-heading-4 h4,
.clear-heading-5 h5,
.clear-heading-6 h6 { clear: both; }