
/*Image Shapes*/
img[alt][alt*="circle"] {
    --img-adj-border-radius: 50%;
    border-radius: var(--img-adj-border-radius);
}

//Square
img[alt~="square"],
.image-embed[alt~="square"] img {
    --img-adj-border-radius: 0;
    border-radius: var(--img-adj-border-radius);
}