/*Image Locations*/


/*Center Image*/
// .image-embed:is([src*="#ctr"], [src*="#center"])
.img-adj-center.img-adj-center img,
img:is([alt*="ctr"], [alt*="center"]) {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

//Live Preview
.img-adj-center.img-adj-center .is-live-preview img {
    margin-left: auto !important;
    margin-right: auto !important;
}


/*Left & Right*/
:not(.is-live-preview) {
    img,
    .image-embed {
        &:is([alt*="left"], [alt*="locl"]),
        &[src*="#locl"] img 
        {
            float:left;
            margin-right: 2%;
            margin-top: 0px;
            margin-bottom: 0px;
        }
    
        &:is([alt*="right"], [alt*="locr"]),
        &[src*="#locr"] img 
        {
            float:right;
            margin-left: 2%;
            margin-bottom: 0px;
        }
    }
}



//Customizable Version

/*--Image Position--*/
img[alt*="p+"], .image-embed[src*="#p+"] img { object-fit: cover; }

/*Inner Image*/
img[alt*="p+c"], .image-embed[src*="#p+c"] img { object-position: center;   }
img[alt*="p+t"], .image-embed[src*="#p+t"] img { object-position: top;      }
img[alt*="p+b"], .image-embed[src*="#p+b"] img { object-position: bottom;   }
img[alt*="p+l"], .image-embed[src*="#p+l"] img { object-position: left;     }
img[alt*="p+r"], .image-embed[src*="#p+r"] img { object-position: right;    }


img[alt*="p+cl"],   .image-embed[src*="#p+cl"]  img { object-position: 15%; }
img[alt*="p+ccl"],  .image-embed[src*="#p+ccl"] img { object-position: 25%; }
img[alt*="p+cr"],   .image-embed[src*="#p+cr"]  img { object-position: 60%; }
img[alt*="p+ccr"],  .image-embed[src*="#p+ccr"] img { object-position: 75%; }

img[alt*="p+tc"],   .image-embed[src*="#p+tc"]  img { object-position: 50% 10%; }
img[alt*="p+tcc"],  .image-embed[src*="#p+tcc"] img { object-position: 50% 20%; }
img[alt*="p+cct"],  .image-embed[src*="#p+cct"] img { object-position: 50% 30%; }
img[alt*="p+ct"],   .image-embed[src*="#p+ct"]  img { object-position: 50% 40%; }

img[alt*="p+cb"],   .image-embed[src*="#p+cb"]  img { object-position: 50% 60%; }
img[alt*="p+ccb"],  .image-embed[src*="#p+ccb"] img { object-position: 50% 70%; }
img[alt*="p+bc"],   .image-embed[src*="#p+bc"]  img { object-position: 50% 80%; }
img[alt*="p+bcc"],  .image-embed[src*="#p+bcc"] img { object-position: 50% 90%; }

