@use 'img-variables';
@use 'img-adj-sizes';
@use 'img-adj-location';
@use 'img-adj-invert';
@use 'img-adj-fixes';

@use 'img-adj-shapes-banner';
@use 'img-adj-shapes-portrait';
@use 'img-adj-shapes-profile';
@use 'img-adj-shapes';

@use 'img-adj-styling';

//Mobile Viewer Fix
.mobile-image-viewer img[alt][alt][alt] {
    height: 100%;
    width: 100%;
    object-fit: contain;
}