/* Obsidian v0.16 */
.theme-dark, .theme-light {
    --radius-s: 0;
    --radius-m: 0;
    --radius-l: 0;
    --tab-radius: var(--radius-m);
    --tab-radius-active: var(--radius-m);
    --tab-curve: 0;

	/* --callout-padding: 0; */
	--callout-title-padding: 10px;
	--tag-radius: 0;
    --list-indent: 20px;
    --dialog-width: unset;
    --dialog-max-width: 50vw;
    --link-decoration: none;
    --link-decoration-hover: none;
    --table-border-color: var(--note);
    --code-background: var(--code-bg);

    --nav-item-white-space: wrap;

    --tag-color: var(--text-dl);
    --tag-background: var(--tag);
    --tag-opacity: 1;
    --graph-controls-width: 20vw;
    
    --sidebar-markdown-font-size: calc(var(--f-s-nt) - 2px);
    --background-modifier-hover: var(--text-highlight-bg);
}

.is-readable-line-width.markdown-source-view.mod-cm6 .cm-contentContainer.cm-contentContainer.cm-contentContainer, .is-readable-line-width.markdown-source-view.mod-cm6 .cm-content.cm-content.cm-content, 
.is-readable-line-width.markdown-source-view.mod-cm6 .cm-line.cm-line.cm-line:not(.HyperMD-table-row), 
.is-readable-line-width.markdown-source-view.mod-cm6 .markdown-preview-sizer.markdown-preview-sizer,
.is-readable-line-width.markdown-preview-view .cm-line.cm-line.cm-line:not(.HyperMD-table-row) {
    margin: unset;
}


.mod-left-split .workspace-tab-container-inner, 
.mod-right-split .workspace-tab-container-inner {
    gap: 0;
    padding: 0;
}

.nav-folder-children { padding: 0; }
.nav-folder, .nav-file { border: 0; }

.nav-folder.mod-root { margin-left: 0; }

.nav-file-title,
.nav-folder-title.nav-folder-title { 
    margin-left: var(--size-4-3);
    padding-left: 0;
    padding-bottom: 2px;
    padding-top: 4px;
    margin-bottom: 0;
}
.nav-folder.mod-root .nav-folder > .nav-folder-children {
    margin-left: 17px;
    border-color: var(--lines);
    border-width: 2px;
}
.nav-folder.mod-root > .nav-folder-children > .nav-file .nav-file-title {
    padding-left: 0;
}

// Lists
body ul > li::marker {
    color: transparent;
}
.list-bullet::after,
.markdown-source-view:not(.is-live-preview) .cm-formatting-list-ul::before {
    background-color: transparent;
    
	width: 7px;
	height: 7px;
}
.markdown-source-view .list-bullet::after { top: 0; }


ul > li::before { margin-left: -26px; }
.markdown-rendered.show-indentation-guide li > ul::before,
.markdown-rendered.show-indentation-guide li > ol::before,
.markdown-rendered.show-indentation-guide li.task-list-item > ul::before,
.markdown-rendered.show-indentation-guide li.task-list-item > ol::before {
    left: -19px;
}
.markdown-source-view.mod-cm6.mod-cm6 .cm-indent::before {
    margin-left: -1.5px;
}
.markdown-source-view.mod-cm6.is-live-preview .cm-indent::before {
    margin-left: 1.5px;
}


.is-collapsed .list-bullet { display: none; }

.cm-fold-indicator.cm-fold-indicator:hover ~ .cm-formatting-list .list-bullet:after,
.is-collapsed ~ .cm-formatting-list .list-bullet:after,
.is-collapsed ~ .cm-formatting-list .list-bullet:after { 
    background: transparent;
    box-shadow: unset;
}

// .markdown-source-view.mod-cm6 .list-bullet::after {
//     margin-left: -8px;
// }
// .markdown-source-view.mod-cm6.mod-cm6 .cm-indent::before {
//     margin-left: -2px;
// }

.markdown-preview-view li .collapse-icon {
    margin-top: 7px;
    margin-left: -47px;
}
.task-list-item-checkbox.task-list-item-checkbox.task-list-item-checkbox::after {
    display: none;
}


/* Tabs */
.workspace-tab-header::before, .workspace-tab-header::after {
    display: none;
}
.nav-files-container {
    padding: 0;
}

.workspace-tab-header.is-active {
    background: var(--note);
}
.mod-left-split .markdown-preview-view {
    padding: 10px;
}

// Callout
.callout { mix-blend-mode: unset; }
.callout-fold svg {
    margin-bottom: unset;
}

// Search
.search-result-file-matches {
    box-shadow: unset;
}

.cm-s-obsidian span.cm-hashtag {
    color: var(--tag-color);
}

// Fix Tables
.markdown-rendered table:not(.dataview) thead tr > th:nth-child(2n+2) {
    background-color: var(--th);
}


/* kanban */
.kanban-plugin__item-title-wrapper {
    align-content: center;
    align-items: center;
}
textarea.kanban-plugin__item-input {
    background: var(--note);
    /* resize: vertical; */
    height: unset;
    border-style: solid;
}
// .kbn .kanban-plugin__item-title-wrapper {
//     padding: 2px 4px !important;
// }