.theme-dark,
.theme-light {
    --modal-border-color: var(--outline);
    --modal-border-width: 3px;

    --modal-community-sidebar-width: 310px;


    
    --toggle-width: 20px;
    --toggle-border-width: 1px;
    
}