// * { transition: none !important; }


// Hover Text Fix
.backlink-pane > .tree-item-self.is-collapsed:hover, 
.outgoing-link-pane > .tree-item-self.is-collapsed:hover,
.tree-item-self:hover :is(.tree-item-inner-subtext, .tree-item-icon, .tree-item-flair) 
{ color: var(--nav-item-color-hover); }

.tree-item-self:hover .collapse-icon svg.svg-icon { color: unset; }

.nav-file-tag {
    background-color: var(--tag);
    color: var(--text-on-accent);
}

// Hover Arrow Fix
// .tree-item-self:hover .tree-item-inner-subtext,
.search-result-hover-button,
.nav-folder-title:hover svg.svg-icon,
.search-result-file-title:hover .collapse-icon svg.svg-icon
{ color: var(--nav-item-color-hover); }


//Sliders
input[type='range'] {
    border-radius: var(--slider-track-radius);
}




.notice,
.tooltip { 
    color: var(--message-color); 
    box-shadow: var(--message-box-shadow);
    border: var(--message-border-width) solid var(--message-border-color);
}


.tree-item-self {
    align-items: center;
}

