.theme-dark,
.theme-light,
:root {
    //Workspace
    --titlebar-background: var(--note);
    --titlebar-background-focused: var(--outer-bar);
    --titlebar-text-color: var(--text-faint);
    
    --background-primary: var(--note);
    --background-primary-alt: var(--outer-bar);
    --background-secondary: var(--side-bar);
    --background-secondary-alt: var(--outer-bar);

    --background-modifier-form-field: var(--input-bg);

    
    --background-modifier-message: var(--dark-accent);
    --toggle-thumb-color: transparent;
    // --interactive-accent-hsl: ;
    
    //Borders
    --background-modifier-border: var(--lines);
    --background-modifier-border-hover: var(--hr);
    --background-modifier-border-focus: var(--accent);
    
    --divider-color: var(--outer-bar);
    --divider-color-hover: var(--outer-bar);
    
    --prompt-border-color: var(--outline);
    



    //Text
    --text-on-accent: var(--accent-text);
    --text-normal: var(--text);
    --text-accent: var(--accent2-lite);
    --text-accent-hover: var(--lite-accent);
    --text-muted: var(--soft-text);
    --text-faint: var(--faint-text);

    --code-normal: var(--code-text);
    --text-highlight-bg: var(--hvr);
    --text-highlight-bg-active: var(--hvr-active);
    --text-selection: var(--highlight); 


    //Buttons
    --interactive-normal: var(--code-bg);
    --interactive-hover: var(--embed-bg);
    --interactive-accent: var(--bttn);
    --interactive-accent-hover: var(--bg);
    --interactive-accent-hsl: var(--selected-rgb);

    --background-modifier-hover: var(--hvr-active);
    --background-modifier-success: var(--success-bg);
    --background-modifier-error: var(--failure-bg);
    --background-modifier-active-hover: var(--dark-accent);
    // --background-modifier-error-rgb: 61, 0, 0;
    // --background-modifier-error-hover: #3d0000;
    --background-modifier-cover: var(--td);


    //Icon
    --icon-opacity: .7;
    --icon-color: var(--soft-text);//lite-accent
    --icon-color-active: var(--text-dl);
    --icon-color-hover: var(--text);
    --icon-color-focused: var(--lite-accent);

    //File Explorer: _sidebar

    --drag-ghost-background: var(--dark-accent);
    --drag-ghost-text-color: var(--text-dl);

    
    //Other

    --blockquote-background-color: var(--embed-bg);
    --blockquote-border-color: var(--bg);
    
    --code-background: var(--code-bg);
    --embed-block-shadow-hover: inset 0 0 0 2px var(--outline); //LP preview

    --italic-color: var(--text);
    --bold-color: var(--text);
    
    //_tags
    //_tables
    //_lists: Checkbox, Bullets, Lines, Numbers, etc

    
    //Graph
    --graph-text: var(--text-normal);
    --graph-line: var(--graph-lines);
    --graph-node: var(--headers);
    --graph-node-unresolved: var(--graph-404);
    --graph-node-focused: var(--hvr);
    --graph-node-tag: var(--graph-tag);
    --graph-node-attachment: var(--graph-img);


    //Scrollbar
    --scrollbar-bg: var(--bg);
    --scrollbar-thumb-bg: var(--accent);
    --scrollbar-active-thumb-bg: var(--lite-accent);

    
    //------
    
    //
    --text-dl: #e5ebee;
    --accent-text: #dcddde;
    
    --heading-formatting: var(--inactive);

    --h1-color: var(--headers);
    --h2-color: var(--headers);
    --h3-color: var(--headers);
    --h4-color: var(--headers);
    --h5-color: var(--headers);
    --h6-color: var(--headers);
}



.theme-dark {
    //Bright colors
    --deep-dark-accent: #3f1010; //#2f1010
    --dark-accent: #652121; //#571a1a, #53201F
    --lite-accent: #c94d4d; //#ec4c4c//#e06c75
    --accent: #863737;//#883737, #c14343
    --accent2: #42536e;//#4c78cc
    --accent2-lite: #61afef;
    
    //Workspace
    --side-bar: var(--note);
    --side-bar-bg: var(--outer-bar);
    --outer-bar: #0b0f13; //#0e0f15
    --dark-sidebar: #0d1014;
    --bttn: var(--dark-accent);
    

    --input-bg: rgba(0, 0, 0, 0.3);
    --selected-rgb: 168, 60, 60;
    --hvr: rgba(168, 60, 60, 0.4);
    --hvr2: var(--highlight);
    --hvr-active: rgba(212, 47, 47, 0.4);
    --highlight: rgba(122, 20, 20, 0.4);
    
    --bg: #252c36;
    --fg: #cfd7dd;
    --success-bg: #32603e;
    --failure-bg: #772d2d;
    
    --inactive: #586477;
    --outline: var(--outer-bar);

    //Nav
    --folder: #e05858;
    --file: #aab3ca;
    --f-icon: var(--inactive);
    --f-hover: var(--accent);
    --lines: var(--hr); //#465164
    
    //Notes
    --note: #1a1e24; //#0d131c
    --note-rgb: 26, 30, 36;
    --text: #bccad8; //#dcddde
    --headers: #c14343;
    --soft-text: #aab3ca;//#d04e4e
    --faint-text: #4e5b6f;
    --code-text: #fa4545;
    --footnote: #63778f;//#6e7e89

    --code-bg: #232831;
    --embed-bg: var(--dark-sidebar);//#111417
    --aside-bg: #11151d;

    --th: var(--dark-accent);
    --th-text: var(--text-dl);
    --td: #06080c60;
    
    --tag: var(--dark-accent);
    --table: #2a2e35;
    --hr: #2f3b4d; //#2a3b55, #3c5274
    --i-at: #bf5e5e;
    --progress: var(--accent);
    --progress-bg: var(--bg);
    
    //Graph
    --graph-bg: var(--outer-bar);
    --graph-lines: rgba(var(--selected-rgb), .2);
    --graph-node: var(--fg);
    --graph-fill: var(--headers);
    --graph-404: #727e93;
    --graph-img: #4c78cc; //#ff86be
    --graph-tag: var(--headers);
    --graph-focused: var(--text-highlight-bg-active);
}

.theme-light {
    //Bright colors
    --deep-dark-accent: #2f1010;
    --dark-accent: #c35c5c;
    --lite-accent: #cd2626;//#a35158
    --accent: #912e2e;
    --accent2: #aac1d3; //#4c78cc
    --accent2-lite: #5599d0;

    //Workspace
    --side-bar: var(--note);
    --side-bar-bg: var(--outer-bar);
    --outer-bar: #eef3fd;//#e1e9f6
    --dark-sidebar: #f1f5ff;
    --bttn: var(--headers);
    
    
    --input-bg: var(--td);
    --selected-rgb: 52, 123, 237;
    --hvr: rgba(255, 0, 0, 0.212);
    --hvr2: var(--highlight);
    --hvr-active:rgba(253, 115, 115, 0.4);
    --highlight: rgba(229, 149, 149, 0.37);
    
    --bg: #e1e9f6;
    --fg: var(--accent); //#9f0202
    --success-bg: #599049;
    --failure-bg: #772d2d;
    
    
    --inactive: #a6bbde; //#91a3c1
    --outline: var(--bg);
    
    //Nav
    --folder: #ce6d6d;
    --file: #7e8ea3;
    --f-icon: var(--inactive);
    --f-hover: var(--accent);
    --lines: #b5c2d8;
    --icons: #d04e4e;
    
    //Notes
    --note: #f8fbff;
    --note-rgb: 248, 251, 255;
    --text: #30353a;
    --headers: #c14343;
    --faint-text: #4e5b6f;
    --soft-text: #697580;
    --code-text: #ea4262;
    --footnote: #8996a0;

    --code-bg: var(--embed-bg); //#eef6ff
    --embed-bg: var(--dark-sidebar); //#ebf1f8
    --aside-bg: var(--dark-sidebar);
    
    --th: var(--headers);
    --th-text: var(--text-dl);
    --td: #d0ddef62;
    
    //Highlights
    // --hl-md: rgba(199, 129, 129, 0.4);
    // --hl-search: rgba(253, 115, 115, 0.4);
    // --hl-cursor: rgba(229, 149, 149, 0.37);
    
    // --hvr: var(--text-highlight-bg);
    // --hvr2: var(--text-selection);

    --tag: #c65656;
    --table: #ccd6eb;
    --hr: #d6deea;
    --i-at: var(--folder);//#804848
    --progress: var(--accent);
    --progress-bg: var(--bg);
    
    --graph-bg: var(--note);
    --graph-lines: #e4e7f8;
    --graph-node: var(--headers);
    --graph-fill: var(--folder);
    --graph-404: #727e93;
    --graph-img: #4c78cc; //#5469de
    --graph-tag: #000000; 
    --graph-focused: var(--text-highlight-bg-active);
}