.theme-dark, .theme-light{
    /*Characters*/
    --mylt: #2f1010;
    --dyan: #6D5A8C;
    --quinn: #ff8ad7;
    --ryan: #79aec6;
    --elisa: #e06c75;
    --luciera: #619861;
    --ferran: #957130;
    --ryo: #3d5986;
    --daniel: #0b1c41;
    --anthera: #431314;
    --jasmine: #c6a20a;
    --alex: #7f7c8d;
}
