.nav-folder-title[data-path=""] .nav-folder-title-content::before {
    content: " ";
    font-size:1.3em;
    color: #000;
}

/*Main Folders*/

.nav-folder-title[data-path="Stories"] .nav-folder-title-content::before {
    content: "📕 ";
    font-size:1.3em;
    color: #000;
}

.nav-folder-title[data-path="Characters"] .nav-folder-title-content::before {
    content: "👥";
    font-size:1.3em;
    color: #000;
}

.nav-folder-title[data-path="Universe"] .nav-folder-title-content::before {
    content: "🌌";
    font-size:1.3em;
    color: #000;
}

.nav-folder-title[data-path="Wiki"] .nav-folder-title-content::before {
    content: "🧾 ";
    font-size:1.3em;
    color: #000;
}

.nav-folder-title[data-path="Writing"] .nav-folder-title-content::before {
    content: "🖋 ";
    font-size:1.2em;
    color: #000;
}

.nav-folder-title[data-path="100 Research"] .nav-folder-title-content::before {
    content: "🔎";
    font-size:1.3em;
    color: #000;
}

.nav-folder-title[data-path="000 Technical"] .nav-folder-title-content::before {
    content: "💿";
    font-size:1.3em;
    color: #000;
}


/*Stories*/

.nav-folder-title[data-path="Stories/"] .nav-folder-title-content::before {
    content: " ";
}


.nav-folder-title[data-path="Stories/Lucifer Night"] .nav-folder-title-content::before {
    content: "🔍 ";
    text-shadow: 0 0 0 var(--ln);
}

.nav-folder-title[data-path="Stories/Bi Bar Of Lonely Hearts"] .nav-folder-title-content::before {
    content: "🎓";
    text-shadow: 0 0 0 var(--bblh);
}

.nav-folder-title[data-path="Stories/Sins Of A Saint"] .nav-folder-title-content::before {
    content: "☨ ";
    text-shadow: 0 0 0 var(--soas);
    font-size: 18px;
}

.nav-folder-title[data-path="Stories/The Slayer"] .nav-folder-title-content::before {
    content: "🗡";
    text-shadow: 0 0 0 var(--ts-hr);
}

.nav-folder-title[data-path="Stories/Devil Lady"] .nav-folder-title-content::before {
    content: "👹";
    text-shadow: 0 0 0 var(--dl);
}

.nav-folder-title[data-path="Stories/50 Shades In The Shadows"] .nav-folder-title-content::before {
    content: "⚯ ";
    text-shadow: 0 0 0 var(--50sits);
}

.nav-folder-title[data-path="Stories/Pulse"] .nav-folder-title-content::before {
    content: "💊";
    text-shadow: 0 0 0 var(--pu);
}

.nav-folder-title[data-path="Stories/SALT"] .nav-folder-title-content::before {
    content: "♟ ";
    text-shadow: 0 0 0 var(--salt);
}