/*Credit: https://github.com/Braweria/Spectrum*/
/*Just an edit to make the colors and lists work for any theme. This is not mine.*/

.theme-dark {
    --note: var(--background-primary);
    --td: #030a1445;
    --hvr: rgba(105, 88, 178, 0.51);
    --hvr2: rgba(40, 20, 77, 0.51);
    --table: var(--background-modifier-border);
    
}
.theme-light {
    --note: var(--background-primary);
    --td: #d0ddef32;
    --hvr: rgba(125, 94, 255, 0.19);
    --hvr2: rgba(171, 137, 234, 0.3);
    --table: var(--background-modifier-border);
}


/*Widen Page*/
.kanban .markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
    max-width: 100% !important;
}
/*Reduce Padding at Top Kanban of Page*/
.kanban {
    padding-top: 10px;
}


/*Remove Text Spacing from bullet/number*/
.kanban .task-list-item-checkbox {
    margin-left: 24px;
    margin-top: 2px;
    
}
/*Fix List Checkbox Margins*/
.kanban ol .task-list-item-checkbox {
    margin-left: 0;
}

/*Hide Bullet*/
.kanban ul {
    list-style: none;
}

.kanban ul, .kanban ol {
    display: flex;
    flex-direction: row;
    border-radius: 0;
    flex-wrap: wrap;
    padding-inline-start: 0px;
}

.kanban ul li {
    flex: 1 1 20%;
    margin-left: 10px;
    margin-right: 10px;
    border: 0;
}
.kanban ol li {
    flex: 1 1 20%;
    margin-right: 10px;
    margin-left: 30px;
    border: 0;
}

.kanban ul ul, .kanban ol ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
    margin-top: 5px;
    background: none;
}
/*Kaban Lines*/
.kanban ul ul {
    margin-left: 5px;
    border-left: 2px solid var(--table);
}
.kanban ol ol {
    margin-left: -15px;
    padding-left: 20px;
    border-left: 2px solid var(--table);
}
/*Color & Formatting*/
.kanban ul ul li {
    width: 100%;
    display: block;
    background: var(--td);
    padding-left: 15px;
    border-radius: 0;
}
.kanban ol ol li {
    width: 100%;
    background: var(--td);
    margin-left: 14px;
}

/*Alternating Colors*/
.kanban ul ul li:nth-child(even),
.kanban ol ol li:nth-child(even) {
    background: var(--note);
    border: 0;
}

/*Hover Colors*/
.kanban ul ul li:hover, .kanban ol ol li:hover {
    background: var(--hvr);
}

.kanban ul li:hover, .kanban ol li:hover {
    background: var(--hvr2);
}
/*Arrow*/
.kanban ul .list-collapse-indicator {
    margin-left: -20px;
}



/*----Personal Edits----*/
/*Fix Margins/Padding*/
.kanban .internal-embed blockquote {
    padding: 1%;
    padding-left: 10px;
    font-size: 12px;
    line-height: 15px;
    border-left-width: 3px;
    margin: 0;
    overflow: hidden;
}

/*Remove Quote*/
.kanban .internal-embed blockquote:before {
    display:none;
}
/*Shrink margins*/
.markdown-preview-view .markdown-embed, .markdown-preview-view .file-embed {
    margin: 0;
}


/*Display Embed Title*/
.kanban .internal-embed::before{
    content: attr(alt);
    line-height: 15px;
}
.kanban .image-embed::before {
    content: none;
}

/*Hide Link but make embed clickable as a link*/
.kanban .internal-embed .markdown-embed-link {
    left: 0;
    top: -40%;
    background-color: transparent;
    color: transparent;
}
.kanban .internal-embed .markdown-embed .markdown-preview-view {
    margin: 0;
    padding: 0;
}
/*Reduce Hr Height*/
.kanban hr{
    margin: 0;
    margin-bottom: 10px;
}