:root {
    /*FONTS*/
    --default-font: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif; /*Note text*/
    --mermaid-font: var(--default-font); /*mermaidjs text*/
    --reveal-font: var(--default-font); /*??*/
    --font-monospace: 'Fira Code Medium', /*'JetBrains Mono Medium', 'Recursive Mono Casual Static Medium', 'Menlo Bold',*/ 'Source Code Pro', monospace; /*Code block text*/
    --font: 'Calisto MT', 'Palatino Black', 'Book Antiqua', 'Georgia', 'Suez One', serif; /*Works, but if it doesn't, needs !important*/
}

.workspace {
    background-color: var(--background-secondary);
    
    /*Sizes*/
    --border-radius: 0px;
    --tiny: 100px;
    --small: 200px;
    --small-med: 300px;
    --med-small: 400px;
    --medium: 500px;
    --med-tall: 600px;
    --tall: 700px;
    
    
    --slide-shadow: rgba(0, 28, 74, 0.15);
}

.theme-dark {
    --background-primary: var(--note); /*Note background*/
    --background-primary-alt: var(--deep-dark-accent); /*Note Title background active*/
    --background-secondary: var(--side-bar); /*Sidebar background*/
    --background-secondary-alt: var(--outer-bar); /*Sidebar Title background*/
    
    --background-modifier-border: var(--table); /*Border outline of quotes, tables, line breaks*/
    
    --background-modifier-form-field: rgba(0, 0, 0, 0.3); /*Search Field Bg Color*/
    --background-modifier-form-field-highlighted: rgba(52, 123, 237, 0.22); /*Searched Highlight Color*/
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3); /*Outershadow*/
    --background-modifier-success: #197300; /*Publish Upload Success Background*/
    --background-modifier-error: #3d0000; /*Delete Screen Button*/
    --background-modifier-error-rgb: 61, 0, 0; /*??*/
    --background-modifier-error-hover: #470000; /*??*/
    --background-modifier-cover: black; /*Obsidian Title Bar Bg*/
    
    --text-on-accent: #dcddde; /*Program Title bar Text*/
    --text-muted: var(--soft-text); /*Text darker for sidebar, toggles, inactive, tags, etc*/
    --text-normal: var(--text); /*Text body of note*/
    --text-accent: var(--accent2-lite); /*Links*/
    --text-accent-hover: var(--accent); /*Links hover*/
    --text-faint: #4e5b6f; /*Link brackets color & Gutter Numbers*/
    --text-error: #ff3333; /*??*/
    --text-error-hover: #990000; /*??*/
    
    --text-highlight-bg: rgba(168, 60, 60, 0.4); /*Text highlights*/
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4); /*??*/
    --text-selection: rgba(77, 23, 23, 0.46); /*Cursor dragged highlights*/
    
    --interactive-normal: #652121; /*Button Color*/
    --interactive-hover: var(--embed-bg);/*Button Color*/
    --interactive-accent: var(--accent); /*Workspace Note Title Underline*/
    --interactive-accent-rgb: 52, 123, 237; /*Publish item select*/
    --interactive-accent-hover: #862f35; /*Menu Button Hover*/
    --interactive-success: #197300; /*??*/
    
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: lighten;

    /*--DEFAULT VARIABLES--*/

    /*Compatibility Color Recoloring*/
    --deep-dark-accent: #270f0f /*#2f1010*/;
    --dark-accent: #571a1a /*#53201F*/;
    --lite-accent: #e06c75;
    --accent: #883737/*#c14343*/;
    --accent2: var(--hr)/*#4c78cc*/;
    --accent2-lite: #61afef;
    --bg: #252c36;
    --fg: #cfd7dd;
    --side-bar: var(--note);
    --outer-bar: #0e0f15;
    --dark-sidebar: #10161d;
    --inactive: #586477;
    
    --file: #aab3ca;
    --folder: #e05858;
    --f-hover: var(--accent);
    --lines: var(--accent2)/*#465164*/;
        
    --note: #1a1e24 /*#0d131c*/;
    --text: #bccad8 /*#dcddde*/;
    --headers: #c14343;
    --soft-text: #aab3ca/*#d04e4e*/;
    --code-bg: #232831;
    --code-text: #fa4545;
    --embed-bg: var(--dark-sidebar);
    --footnote: #6e7e89;
    
    --th: var(--dark-accent);
    --td: #030a1495;
    
    --tag: var(--dark-accent);
    --table: #283846;
    --hr: #3c5274;
    --i-at: #bf5e5e;
    
    --graph-bg: var(--dark-sidebar);
    --graph-lines: var(--dark-accent);
    --graph-node: var(--fg);
    --graph-fill: var(--headers);
    --graph-404: #727e93;
    --graph-img: #4c78cc /*#ff86be*/;
    --graph-tag: var(--headers);
}

.theme-light {
    --background-primary: var(--note); /*Note background*/
    --background-primary-alt: var(--dark-accent); /*Note Title background active*/
    --background-secondary: var(--side-bar); /*Sidebar background*/
    --background-secondary-alt: var(--outer-bar); /*Sidebar Title background*/
    
    --background-modifier-border: var(--table); /*Border outline of quotes, tables, line breaks*/
    
    --background-modifier-form-field: rgba(0, 0, 0, 0.3); /*??*/
    --background-modifier-form-field-highlighted: rgba(240, 131, 131, 0.22); /*Search Bar Active Highlight*/
    --background-modifier-box-shadow: rgba(0, 0, 0, 0.3); /*??*/
    --background-modifier-success: #deedd9; /*Publish Upload Success Background*/
    --background-modifier-error: var(--accent); /*Delete Screen Button*/
    --background-modifier-error-rgb: 240, 131, 131; /*Ctrl F Search Background*/
    --background-modifier-error-hover: #470000; /*??*/
    --background-modifier-cover: var(--deep-dark-accent); /*Obsidian Title Bar*/
    
    --text-on-accent: #dcddde; /*Program Title bar text*/
    --text-muted: var(--soft-text); /*Text darker for sidebar, toggles, inactive, tags, etc*/
    --text-normal: var(--text); /*Text body of note*/
    --text-accent: var(--accent2-lite); /*Links*/
    --text-accent-hover: var(--accent); /*Links hover*/
    --text-faint: #4e5b6f; /*Link brackets color*/
    --text-error: #ff3333; /*??*/
    --text-error-hover: #990000; /*??*/
    
    --text-highlight-bg: rgba(199, 129, 129, 0.4); /*Text highlights*/
    --text-highlight-bg-active: rgba(253, 115, 115, 0.4); /*Search Highlight*/
    --text-selection: rgba(229, 149, 149, 0.37); /*Cursor dragged highlights*/
    
    --interactive-normal: var(--outer-bar); /*Button background Color*/
    --interactive-hover: var(--embed-bg)/*#5d2b2b*/; /*Button hover text*/
    --interactive-accent: var(--accent); /*Workspace Note Title Underline*/
    --interactive-accent-rgb: 52, 123, 237; /*Publish item select, Resize Handle*/
    --interactive-accent-hover: var(--lite-accent); /*Menu Button Hover*/
    --interactive-success: #197300; /*??*/
    
    --scrollbar-bg: rgba(255, 255, 255, 0.05);
    --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
    --highlight-mix-blend-mode: darken; /*Search Highlight Mode*/

    /*--DEFAULT VARIABLES--*/    
    
    /*Compatibility Color Recoloring*/
    --deep-dark-accent: #2f1010;
    --dark-accent: #ffeded;
    --lite-accent: #a35158;
    --accent: #c14343;
    --accent2: var(--hr)/*#4c78cc*/;
    --accent2-lite: #5599d0;
    --bg: #dde4ef;
    --fg: #9f0202;
    --side-bar: var(--note);
    --outer-bar: #dfe7ef;
    --dark-sidebar: var(--embed-bg);
    --inactive: #a6bbde /*#91a3c1*/;
    
    --file: #7e8ea3;
    --folder: #ce6d6d;
    --f-hover: #912e2e;
    --lines: #b5c2d8;
    
    --headers: #c14343;
    --note: #f8fbff;
    --text: #697580;
    --soft-text: #d04e4e;
    --code-bg: #eef6ff;
    --code-text: #ea4262;
    --embed-bg: #f1f5ff /*#ebf1f8*/;
    --footnote: #8996a0;
    
    --th: #c14343;
    --td: #d0ddef62;

    --tag: #c65656;
    --table: #ccd6eb;
    --hr: #d6deea;
    --i-at: var(--headers)/*#804848*/;
    
    --graph-bg: var(--note);
    --graph-lines: #e4e7f8;
    --graph-node: var(--headers);
    --graph-fill: #2e5db2;
    --graph-404: #727e93;
    --graph-img: #4c78cc /*#5469de*/;
    --graph-tag: #000000;    
}



/*--WORKSPACE--*/
/*Obsidian Title Bar Cover*/
.titlebar {
    background-color: var(--background-modifier-cover);
}
/*Exit Button*/
.titlebar-button:hover {
    color: var(--fg);
}


/*Ribbon Icons*/
.side-dock-ribbon-tab, .side-dock-ribbon-action, .workspace-tab-header-inner-icon{
    color: var(--soft-text);
    text-align: center;
    cursor: pointer;
    stroke-width: 2px;
}

/*Buttons*/
.nav-action-button.is-active {
    background-color: var(--dark-accent);
    color: var(--soft-text);
}
/*Button Hover Color*/
.modal button:not(.mod-cta):not(.mod-warning):hover, button:hover, button.mod-cta:hover {
    background-color: var(--dark-accent) !important;
    color: white;
}

button, button.mod-cta {
    border-radius: var(--border-radius);
}

/*Pinned Pane Button Color*/
.view-action:hover, .view-action.is-active {
    color: var(--accent);
}

/*Sidebar Resize Handle*/
.workspace-leaf-resize-handle {
    background-color: var(--dark-sidebar);
    transition: background-color 200ms ease-in-out;
}


/*Square Tabs*/
/*Left*/
.workspace-tab-container-before.is-before-active .workspace-tab-header-inner, .workspace-tab-header.is-before-active .workspace-tab-header-inner {
    border-bottom-right-radius: 0px;
}
/*Right*/
.workspace-tab-container-after.is-after-active .workspace-tab-header-inner, .workspace-tab-header.is-after-active .workspace-tab-header-inner {
    border-bottom-left-radius: 0px;
}
/*Top*/
.workspace-tab-header.is-active {
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}



/*-File Navbar-*/
/*Adjusting Padding of Navbar Icons*/
.nav-header {
    padding: 3% 0px 5px;
}
/*Adjusting Button Padding*/
.nav-action-button {
    padding: 5px 8px 0 8px;
    margin: 0 3px 0px 3px;
    border-radius: var(--border-radius);
}

/*Remove Bottom Scrollbar*/
.nav-files-container {
    overflow-x: hidden;
}

/*Vault Name*/
.nav-folder.mod-root > .nav-file-title, .nav-folder.mod-root > .nav-folder-title {
    color: var(--headers);
    font-family: var(--font);
    font-size: 24px;
    /*border-bottom: 3px solid var(--accent);*/
    padding-bottom: 2%;
    padding-left: 1.5% !important;
}

/*Nav Folder/File Icons*/
.nav-folder-children .nav-folder-title-content::before {
    content: '📁'/*\1F5BF*/;
    color: transparent;
    text-shadow: 0 0 0 var(--folder);
    margin-right: 4px;
    font-size: 13px;
}
.nav-folder-children .nav-file-title-content::before {
    content: "📄"/*\1F5D0*/;
    color: transparent;
    text-shadow: 0 0 0 var(--file);
    margin-right: 5px;
    font-size: 12px;
}

/*Inactive Folder Color*/
.is-collapsed .nav-folder-title-content:before {
    text-shadow: 0 0 0 var(--headers);
}

/*Nav Folder Lines*/
.nav-folder, .nav-file {
    margin: -2px !important;
    border-left: 2px solid var(--table);
}
/*Align Folder Line*/
.nav-folder-children {
    padding-left: 18px;
}

/*Text wrap*/
.nav-file-title, .nav-folder-title {
    white-space: normal;
    width: auto;
    border-radius: var(--border-radius);
}

/*Folder Bold*/
.nav-folder-title-content {
    font-weight: 600;
}

/*Folder Push Left*/
.nav-folder-title {
    padding-left: 4px;
}
.nav-folder-title:hover {
    color: var(--f-hover) !important;
}

/*File Colors|File Under Folder*/
.nav-file-title {
    padding-left: 1.8%;
    color: var(--file);
}
.nav-file-title:hover {
    color: var(--f-hover) !important;
    font-weight: 600; 
}
.nav-folder-children .nav-file-title-content::before{
    text-shadow: 0 0 0 var(--inactive);
}


/*File selected*/
.nav-file-title.is-active {
    background-color: var(--dark-accent);
    color: var(--fg);
}

/**/
.nav-folder-title.is-being-dragged-over {
    border:none;
}

/*Arrows*/
.nav-folder .collapse-icon {
    display: none;
}


/*-Core Plugin Panes-*/
/*Word Wrap Pane*/
.tree-item-inner {
    word-wrap: break-word;
    width: 100%;
}



/*--Tag Pane--*/
/*Text*/
.tree-item-self {
    color: var(--soft-text);
    border-radius: var(--border-radius);
}
.tag-container .tree-item-self:hover {
    color: var(--code-text);
}

/*Count Squared*/
.tree-item-flair {
    border-radius: var(--border-radius);
}


/*Tag Pane Lines*/
/* Works but Dot appears*/
.tag-container .tree-item-children {
    margin-left: 4%;
    border-left: 1px solid var(--lines);
    transition: all 0.5s ease-in-out;
}

.tag-container .tree-item-children:hover {
    border-left: 2px solid var(--lines);
}

/*Outline Pane Lines*/
.outline .tree-item-children {
    margin-left: 3.9%;
    border-left: 1px solid var(--lines);
    transition: all 0.5s ease-in-out;
    border-radius: var(--border-radius);
    padding-left: 0px;
}
.outline .tree-item-text:hover {
    border-left-color: var(--accent);
}
/*Set Outline Padding*/
.outline {
    padding: 20px 10px !important;
    overflow: hidden;
}



/*--Search--*/
/*Highlight Search Result*/
.search-result-file-matched-text {
    color: var(--soft-text);
    background-color: var(--background-modifier-form-field-highlighted);
    padding: 2px;
}

/*Text Input Field*/
input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
    background-color: var(--note);
    border-radius: var(--border-radius);
    border: 1px solid var(--table);
    color: var(--soft-text);
}

input[type='text']:hover,
input[type='search']:hover,
input[type='email']:hover,
input[type='password']:hover,
input[type='number']:hover {
    background-color: var(--bg);
    z-index: 0;
}
.document-search-container {
    background-color: var(--dark-sidebar);
}
.document-search-button {
    color: var(--text-normal);
}

.document-search-button:hover {
    background-color: var(--interactive-accent);
    color: white;
}




/*-Graph Settings-*/
.graph-controls.is-close {
    /* background-color: var(--background-primary); */
}
/*Opened Settings*/
.graph-controls {
    background-color: var(--side-bar);
    border: 1px solid var(--background-modifier-border);
    border-radius: var(--border-radius);
}

/*Arrows*/
.collapse-icon svg {
    transition: transform 100ms ease-in-out;
    color: var(--lines);
}


/*Slider Colors*/
input[type='range'] {
    background-color: var(--bg);
    border-radius: var(--border-radius);
}
input[type='range']::-webkit-slider-thumb {
    border-radius: var(--border-radius);
}

/*Settings Toggle*/
.checkbox-container {
    cursor: pointer;
    background-color: var(--bg);
    border-radius: var(--border-radius);
    width: 22px;
}
/*Checkbox*/
.checkbox-container:after {
    display: none;
    border-radius: var(--border-radius);
}

.suggestion-item.is-selected {
    background-color: var(--dark-accent);
}



/*--Setings Menu--*/
/*Square Settings Background*/
.modal {
    border-radius: var(--border-radius);
}

/*Undo b quote formatting*/
b.u-pop {
    font-weight: 900;
    color: var(--folder) !important;
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
    background: transparent;
}


/*Setting Item Padding Reduction*/
.setting-item {
    padding: 1% 0 1% 0;
}


/*Settings Right*/
.modal.mod-settings .vertical-tab-content-container {
    padding: 35px 40px 20px 0;
    height: 70vh;
    background-color: var(--sidebar);
}
.horizontal-tab-content, .vertical-tab-content {
    background-color: var(--sidebar);
    padding: 5px 30px;
}

/*Settings Left*/
.vertical-tab-header {
    background-color: var(--dark-sidebar);
}
.horizontal-tab-nav-item, .vertical-tab-nav-item {
    background-color: var(--dark-sidebar);
    padding: 10px 6px 10px 24px;
    cursor: default;
    font-size: 16px;
}
/*Selected Item*/
.horizontal-tab-nav-item.is-active, .vertical-tab-nav-item.is-active {
    background-color: var(--dark-accent);
}


/*Dropdown Arrow*/
.dropdown {
    background-color: var(--embed-bg);
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
    border-radius: var(--border-radius);
}

/*Account Header 2*/
.vertical-tab-content h2 {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    font-family: var(--font) !important;
}

/*Hotkey*/
.setting-hotkey {
    background-color: var(--code-bg);
    color: var(--soft-text);
}



/*--Publish Settings--*/
.modal-bg {
    background-color: var(--background-modifier-form-field-highlighted);
}
.list-item-part mod-extended publish-upload-item-title {
    color: white;
}

/*Published flair*/
.flair {
    background-color: var(--interactive-normal);
    color: var(--accent);
    border-radius: var(--border-radius);
}

/*Publish item select*/
.file-tree-item-header.is-selected {
    background-color: rgba(var(--interactive-accent-rgb), 0.2);
}

/*--Graph View--*/
/*  background of graph view pane*/
.workspace-leaf-content[data-type = "graph"] .view-content{
    background-color: var(--graph-bg); 
}

.graph-view.color-fill {
    color: var(--graph-node); /*Created notes color*/
}

.graph-view.color-line {
    color: var(--graph-lines);
}
.graph-view.color-text {
    color: var(--soft-text);
}
/*Hover Node*/
.graph-view.color-fill-highlight {
    color: var(--graph-fill); /*Circle color*/
}
.graph-view.color-circle {
    color: white; /*Outline color*/
}

.graph-view.color-line-highlight {
    color: var(--accent);
}

.graph-view.color-arrow {
    color: var(--soft-text);
}

.graph-view.color-fill-tag {
    color: var(--graph-tag) !important;
}

.graph-view.color-fill-attachment {
    color: var(--graph-img) !important;
}

.graph-view.color-fill-unresolved {
    color: var(--graph-404) !important; 
}


/*--Starred Pane--*/
.item-list .nav-file {
    padding-left: 20px;
}
.item-list {
    overflow-x: hidden;
}

/*File: Move Further In*/
.nav-file-icon {
    top: 5px;
}

/*--Bottom Bar--*/
.status-bar {
    background-color: var(--outer-bar);
    border-top: 1px solid var(--background-modifier-border);
    color: var(--text-muted);
}



/*--Scrollbars--*/
/*Scrollbar*/
::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    -webkit-border-radius: var(--border-radius); /*Remove Rounding*/
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--lite-accent);
    -webkit-border-radius: var(--border-radius); /*Remove Rounding*/
}
::-webkit-scrollbar {
    background-color: var(--bg);
    -webkit-border-radius: var(--border-radius); /*Remove Rounding*/
}


/*--NOTE TITLEBAR--*/
/*Inactive Note Titlebar*/
.view-header-title {
    color: var(--inactive);    
}

.view-header-icon {
    color: var(--soft-text);
}

/*Active Note Titlebar*/
.workspace-leaf.mod-active .view-header-title {
    color: var(--soft-text);
}





/*--NOTES--*/
/*Note*/
body {
    text-rendering: optimizeLegibility;
    font-family: var(--default-font);
    line-height: 1.5em;
    font-size: 16px;
    background-color: var(--background-primary);
    color: var(--text-normal);
    z-index: 1;
}

.justified p {
    text-align: justify;
}


/*--Headings--*/
h1, h2, h3, h4, h5, h6, .cm-s-obsidian .cm-header {
    font-weight: 600;
    font-family: var(--font) !important;
    color: var(--headers);
}

/*Editor Heading Re-size*/
/*Inspired by Red Graphite*/
.cm-s-obsidian pre.HyperMD-header > span > span:first-child {
    font-size: 10px;
}

/*Heading Line*/
h1:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--table);
    left: 0;
}

h2:after {
    content: "";
    display: block;
    width: 85%;
    height: 3px;
    background: var(--table);
    left: 0;
}

h3:after {
    content: "";
    display: block;
    width: 65%;
    height: 3px;
    background: var(--table);
    left: 0;
}

h4:after {
    content: "";
    display: block;
    width: 40%;
    height: 3px;
    background: var(--table);
    left: 0;
}

/*Editor Heading Lines*/
.cm-s-obsidian pre.HyperMD-header:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: var(--table);
    left: 0;
}

/*-Code-*/
.markdown-preview-view code, .markdown-preview-view pre {
    color: var(--code-text);
    font-family: var(--font-monospace) !important;
    background-color: var(--code-bg);
    z-index: 1; /*Lets the highlight appear on top*/
    line-height: 1.4em;
    border-radius: var(--border-radius);
    font-size: 14px;
}

.markdown-preview-view pre[class*="language-"], .markdown-preview-view code[class*="language-"] {
    background: var(--code-bg);
    line-height: 1.4em;
    display: block;
    white-space: pre-wrap !important;
    font-family: var(--font-monospace) !important;
}

/*Editor Code*/
.cm-s-obsidian pre.HyperMD-codeblock, .cm-s-obsidian span.cm-inline-code, .cm-s-obsidian span.cm-inline-code:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight) {
    background-color: var(--code-bg);
    color: var(--code-text);
    z-index: 0;
    font-family: var(--font-monospace);
    font-size: 14px;
}



/*--Links--*/
/*Active Link*/
a, .markdown-preview-view .internal-link {
    text-decoration: none; /*No underline*/
}
a:hover {
    color: var(--lite-accent);
}

/*Link to No Page*/
.markdown-preview-view .internal-link.is-unresolved {
    opacity: 1;
    color: var(--inactive);
}
.markdown-preview-view .internal-link.is-unresolved:hover {
    color: var(--headers);
}

/*-External Links-*/
/*Hide SVG Image*/
.external-link {
    background-image: url();
}
/*Hover Color*/
.external-link:hover {
    color: var(--inactive);
}

/*Change External Link Symbol*/
.external-link:after {
    content: "⧪";
    padding-right: 2px;
    margin-right: -16px;
    display: inline-block;
    transform: rotate(-135deg);
}

/*Editor Links*/
/*Internal Link Hover color*/
.cm-s-obsidian span.cm-hmd-internal-link:hover {
    text-decoration: none;
    color: var(--inactive);
}

/*Markdown Links*/
/*Text in Brackets
.cm-s-obsidian span.cm-link {
    color: var(--inactive);
}*/
/*Link in parentheses*/
.cm-s-obsidian span.cm-url {
    color: var(--folder);
    text-decoration: none;
}
/*Link Hover Color*/
.cm-s-obsidian span.cm-url:hover {
    color: var(--inactive);
}


/*--Horizontal Linebreak, HR--*/ 
.markdown-preview-view hr, .HyperMD-hr-bg {
    height: 0; /*Center Line Vertically*/
    border: 1px solid var(--hr);
    /*margin-top: 17px;
    margin-bottom: 20px;*/
}

/*Stylized hr Line*/
.markdown-preview-view hr::after, div:not(.CodeMirror-activeline)>.HyperMD-hr-bg::after {
    content: "⚡";
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    font-size: 16px;
    transform-origin: 50% 50%;
    color: transparent;
    text-shadow: 0 0 0 var(--headers);
    padding: 5px; /*Symbol Padding*/
    background-color: var(--background-primary); /*Color bg to cover line*/
}

/*Center --- Lines*/
.cm-s-obsidian pre.HyperMD-hr {
    text-align: center;
    margin: 0px;
    margin-block-start: .1%;
    margin-block-end: .1%;
}   

/*Hide --- Lines*/
div:not(.CodeMirror-activeline)>.CodeMirror-line span.cm-hr {
    color: transparent;
    margin: 0px;
    margin-block-start: 10px;
    margin-block-end: 10px;
}   
/*Hide Collapsed Header Line*/
.CodeMirror-activeline-background {
    display:none;
}


/*--Images--*/

/* Kepano: https://forum.obsidian.md/t/image-zoom-click-hold-to-expand-images/5164
Enlarge Image:*/
.markdown-preview-view img {
	cursor:zoom-in;
}

.markdown-preview-view img:active {
	cursor:zoom-out;
	display:block;
	z-index:100;
	position:fixed;
    max-height:100%;
    max-width:100%;
    height:100%;
    width:100%;
    object-fit: contain;
    margin:0 auto;
    text-align:center;
    top: 50%;
  	transform: translateY(-50%);
    padding:0;
    left:0;
    right:0;
    bottom:0;
    background:var(--background-primary);
}

/* Img Grid Defunct
Kepano: https://forum.obsidian.md/t/display-side-by-side-image-grid-css-snippet/9359
Masonry/Gallery View
.img-grid .markdown-preview-section > div {
    display:flex;
}
.img-grid .markdown-preview-section > div > .internal-embed {
    flex:1;
    margin-left:-0.5rem;
    padding:0 0.5rem 0.5rem 0.5rem;
}
.img-grid .markdown-preview-section > div > *:not(div) {
    margin-block-start: 0rem;
    margin-block-end: 1rem;
}
.img-grid .markdown-preview-section > div hr {
    width:100%;
}
/* These lines make every image the same height
.img-grid .markdown-preview-section > div > .internal-embed img:not(:active) {
    object-fit:cover;
}*/


/*--List--*/
/*Colored List Markers*/
li::marker{
    color: var(--accent);
}
/*Lighten Numbered List Marker Color*/
ol > li::marker {
    color: var(--headers);
}

/*Bullet Shape*/
ul:nth-child(odd), ul:nth-child(even) {
    list-style-type: "⬥ ";
}
/*Smaller Indentation*/
ul, ol { 
    padding-inline-start: 25px;
    margin-block-start: 0;
}

/*-Bullet Points-*/

/*Editor Bullet Points*
.cm-s-obsidian span.cm-formatting-list-ul {
    visibility: hidden;
}
.cm-s-obsidian span.cm-formatting-list-ul:before {
    visibility: visible;
    content: "⬥";
    margin-right: -9px;
}

/*Editor Bullet Lines*/
.markdown-preview-view .task-list-item-checkbox {
    margin-right: 2%;
}

.cm-hmd-list-indent .cm-tab {
    position: relative;
}
.cm-hmd-list-indent .cm-tab::before {
    content:'';
    border-left: 2px solid var(--accent);
    position: absolute;
    left: 6px;
    top: -5px;
    bottom: -4px; 
}

/*Preview Bullet Lines*/
/*Bullet Line New*/
li {
    padding-left: 4px;
    border-left: 2px solid var(--accent);
}

li:nth-child(even) {
    border-left: 2px solid var(--accent2);
}

.markdown-preview-view ul > li.task-list-item {
    text-indent: -1.5em !important;
}


/*Bullet Line Original**
ul ul, ol {
    position: relative;
}
ul ul::before, ol ol::before {
    content:'';
    border-left: 2px solid var(--accent);
    position: absolute;
}
ul ul::before, ol ol::before {
    left: -12px;
    top: 0;
    bottom: 0; 
}
ol::before { left: -15px; }

.markdown-preview-view .task-list-item-checkbox {
    margin-left: 1% !important;
    margin-right: .5% !important;
}
.markdown-preview-view .list-collapse-indicator {
    padding-left: 12px !important;
}

/*List Arrows*/
.markdown-preview-view .list-collapse-indicator {
    padding-left: 9px;
}

/*Checkboxes*/
.markdown-preview-view .task-list-item-checkbox {
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 1px solid var(--accent);
    border-radius: var(--border-radius);
    position: relative;
    width: 14px;
    height: 14px;
    filter: none;
    margin-right: 1.5%;
    margin-top: .5%;
    cursor: pointer;
    vertical-align: top;
}

/*Checkbox Checked color*/
.markdown-preview-view .task-list-item-checkbox:checked {
    border: none;
    background-color: var(--headers);
}

/*Checked Checkbox*/
.markdown-preview-view ul > li.task-list-item.is-checked, 
.markdown-preview-view ol > li.task-list-item.is-checked {
    text-decoration: unset;
    color: var(--lines);
    font-weight: bold;
}

li.task-list-item.is-checked > a,
li.task-list-item.is-checked > code {
    opacity: 65%;
}

/*Table Checkboxes*/
input[type="checkbox" i] {
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 1px solid var(--accent);
    border-radius: var(--border-radius);
    position: relative;
    width: 15px;
    height: 15px;
    margin: 0;
    filter: none;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

input[type="checkbox checked"] {
    -webkit-appearance: none;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    position: relative;
    width: 1.3em;
    height: 1.3em;
    margin: 0, 0, 0, 0;
    filter: none;
    outline: none;
    border: none;
    background-color: var(--accent);
}


/*--Table--*/
.markdown-preview-view td {
    border: none;
}

.markdown-preview-view th {
    background-color: var(--th);
    color: #edf7ff;
    border: 0px;
}

.markdown-preview-view th:nth-child(even) {
    opacity: 80%;
    border-left: 1px solid var(--note);
    border-right: 1px solid var(--note);
}

.markdown-preview-view td:nth-child(odd) {
    background-color: var(--td);
    border: 0;
    border-bottom: 1px solid var(--note);
}

.markdown-preview-view tr:nth-child(even) {
    background-color: var(--td);
    border: 0;
}



/*--Tags--*/
.tag {
    background-color: var(--tag);
    border: none;
    color: white;
    font-size: 12px;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 0px 0px;
    cursor: pointer;
}

/*Hover Underline*/
.tag:hover {
    color: white;
    text-decoration: underline;
}
/*Editor Tags*/
.cm-s-obsidian span.cm-hashtag {
    text-decoration: none;
    color: var(--lite-accent);
}
.cm-s-obsidian span.cm-hashtag:hover {
    text-decoration: none;
}



/*--Frontmatter/Metadata--*/
/*CSS class, Hide Frontmatter*/
.nom .frontmatter-container {
    display: none;
}

/*No Background Color, Smaller Padding*/
.frontmatter-container {
    background-color: transparent;
    border: 0px;
    padding: 0px 14px;
}
/*Horizontal line for bottom*/
.frontmatter-container:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--table);
}

.frontmatter-container .frontmatter-container-header {
    border-bottom: 1px solid var(--table);
}
.CodeMirror-line .cm-s-obsidian .cm-hmd-frontmatter {
    font-size: 12px;
    line-height: 2px !important;
}


/*Tags*/
.frontmatter-container .tag {
    background-color: var(--tag);
    border-radius: var(--border-radius);
    color: white;
}
.frontmatter-container .frontmatter-alias {
    border-radius: var(--border-radius);
}


/*Tags Hover*/
.frontmatter-container .tag:hover {
    background-color: var(--tag);
    border: none;
}



/*--Embeds--*/
/*Remove Top Padding*/
.markdown-embed .markdown-preview-view {
    padding: 5px 10px;
}

/* Recolor Embed Title*/
.markdown-embed-title, .file-embed-title {
    color: var(--lite-accent);
    font-size: 20px;
    font-family: var(--font);
    line-height: 20px; /*Lower Height Title*/
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 900;
    padding: 1% 8% 0% 1%;
    white-space: normal;
}

/* Recolor Embed Headings*/
.markdown-preview-view .markdown-embed h1, .markdown-embed h2, .markdown-embed h3, .markdown-embed h4, .markdown-embed h5, .markdown-embed h6 {
    font-size: 20px;
    line-height: 1em;
    color: var(--accent);
    font-family: var(--font);
}

/*Embed Window*/
.markdown-preview-view .markdown-embed, .markdown-preview-view .file-embed {
    border: 0px;
    margin: 5px 0;
    background-color: var(--embed-bg);
    border-radius: var(--border-radius);
}
/*Embed Note Doesn't Exist Hover*/
.markdown-preview-view .file-embed:hover {
    background-color: var(--dark-accent);
}

/*Embed Link Color*/
.markdown-embed-link, .file-embed-link {
    color: var(--lite-accent);
    background-color: var(--note);
    padding: 5px 5px 0px 5px;
}

/*Embed Horiztonal Bg Color*/
.markdown-embed .markdown-preview-view hr::after {
    background-color: var(--dark-sidebar);
}
/*Recolor Embedded Blockquote BG*/
.markdown-embed blockquote {
    background: linear-gradient(to left, var(--note), transparent);
}

/*Display Embed Path**
/*https://forum.obsidian.md/t/meta-post-common-css-hacks/1978/264**
.internal-embed::before{
    content: attr(alt);
    color: var(--headers);
    position: absolute;
    margin-top: -24px;
} */



/*--Popover--*/
/*Larger Popover*/
.popover.hover-popover {
    width: 30%;
    border-radius: var(--border-radius);
    min-height: 100px;
    max-height: 600px;
    border: 2px solid var(--dark-accent);
}

/*Show More Embed in Popover*/
/*Must fit within the Max-Height value^^*/
.popover.hover-popover .markdown-embed {
    height: 500px;
}

/*Fit image in popover*/
.popover.hover-popover img {
    max-width: 100%;
    height: auto;
}

/*Crop Image in Popover*/
.popover.hover-popover img {
    object-fit: cover;
    height: 200px;
    width: 100%;
    object-position: center;
}

/*Fix Quote in Popover*/
.popover.hover-popover blockquote:before {
    top: -5px;
    z-index: 0;
}

/*Popover Link Bg Color*/
.popover .markdown-embed-link, .file-embed-link {
    background-color: var(--dark-accent);
    padding: 5px 5px 0px 5px;
}

/*Popover Horizontal Line BG*/
.popover.hover-popover hr:after {
    background-color: var(--note);
}

/*Fit Text Within Popover**
.popover {
  font-size: 16px;
  text-align: justify;
}*/



/*--Blockquote--*/
.markdown-preview-view blockquote {
    border: 0px solid var(--bg);
    background-color: var(--embed-bg);
    border-left-width: 8px;
    border-radius: var(--border-radius);
    position: relative;
    margin: 2%;
    padding-right: 35px; /*Don't overlap with "*/
}

/*Quotation Mark*/
.markdown-preview-view blockquote:before {
    content: '\201D';
    position: absolute;
    top: 20px;
    right: 1.5%;
    font-size: 50px;
    font-family: var(--font);
    color: var(--headers);
}
/*Remove Margin From Block embedding*/
blockquote p { margin: 0px; }




/*--Query--*/
/*Remove Borders and Outer Margins*/
.markdown-preview-view .internal-query.is-embed {
    border: none;
    margin-bottom: 1%;
    margin-top: 1%;
}


/*Query Header*/
.markdown-preview-view .internal-query.is-embed .internal-query-header{
    background-color: var(--code-bg);
    padding: 0.5%;
}

/*Smaller Query Titles*/
.markdown-preview-view .internal-query.is-embed .internal-query-header-title {
    font-size: 13px;
    font-weight: 600;
    color: var(--soft-text);
    line-height: 18px;
}


/*Reduce Query Result Margins and Remove Borders*/
.internal-query.is-embed .search-result-file-matches {
    border: none;
    padding: 0;
    margin-right: 10px;
    margin-bottom: .5%;
}
/*Add border Under Query search result*/
.internal-query.is-embed .search-result {
    border-bottom: 1px solid var(--bg);
    background-color: var(--note);
    margin-bottom: 0;
}
/*Query No Matches Found*/
.internal-query.is-embed .search-empty-state {
    margin: 0;
    color: var(--headers);
}



/*--Footnotes--*/
/*Reduce Footnote Number size/line height*/
.footnote-ref {
    font-size: 10px;
    line-height: 0px;
}

/*Hide HR, Horizontal Line*/
.footnotes hr { display: none; }

/*Resize text*/
.footnotes { font-size: 14px; color: var(--footnote); }

/*Reduce footnote paragraph/line height*/
.footnotes p { line-height: 16px; margin: 5px; }

/*Change Footnote Link Icon*/
/*Hide & Recolor Original Icon*/
.footnote-backref.footnote-link { visibility: hidden; color: var(--headers); }

/*Recolor hover*/
.footnote-backref.footnote-link:hover { color: var(--accent2-lite); }

/*Display New Icon*/
.footnote-backref.footnote-link:after { 
    visibility: visible;
    display: inline-block;
    content: "⧪"; 
    font-size: 16px;
    padding-bottom: 2px;
    margin-left: -2.5%;
    transform: rotate(180deg);
}




/*--Files--*/
/*Iframe Borderless*/
iframe {
    border-width: var(--border-radius);
    border-style: none;
    border-color: initial;
    border-image: initial;
}
/*Remove File Padding*/
.workspace-leaf-content .view-content {
    padding: 2px 2px;
    overflow: hidden;
}


/*SlRvb's Custom CSS*/

/*Justify text*/
.justified p {
    text-align: justify;
}

/*Readable Text Width.*/ /*Thanks @foreveryone*/
.markdown-preview-view.readable .markdown-preview-sizer {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/*Writing*/
.writing h1,
.writing h2,
.writing h3,
.writing h4,
.writing h5,
.writing h6 {
    text-align: center;
}
.writing p {
    text-align: justify;
}
.markdown-preview-view.writing .markdown-preview-sizer {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

/*Poems*/
.poem p {
    text-align: center;
    line-height: 1.3em;
    margin-block-end: 4%;
}



/*Italicized Text*/
i { /*I used for image description, em is just regular italics*/
    display: block;
    font-style: unset;
    color: var(--i-at);
    text-align: center;
    background-color: var(--outer-bar);
}

i[alt*="right"] {
    display: block;
    text-align: right;
    background-color: var(--outer-bar);
    padding-right: 2%;
}


i[alt*="left"] {
    display: block;
    text-align: left;
    background-color: var(--outer-bar);
    padding-left: 2%;
}

i[alt*="clear"] {
    clear: left;
}

i[alt*="nobg"] {
    background-color: transparent;
}

/*----Image Positions----*/
/*Fix Float Issues*/
img[alt*="clear"] {
    clear: both;
}

/*Center Image*/
img[alt*="c"] {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/*--Simplified Version--*/
/*Image Locations*/
/*Left & Right*/
img[alt*="left"] {
    float:left;
    margin-right: 2%;
    margin-bottom: 0px;
}

img[alt*="right"] {
    float:right;
    margin-left: 2%;
    margin-bottom: 0px;
}

/*Image Shapes*/
/*Banners*/
img[alt*="banner"] {
    display: block;
    object-fit: cover;
    height: 150px;
    width: 100%;
    margin-bottom: 0px;
}

img[alt*="banner+small"] {
    display: block;
    object-fit: cover;
    height: var(--tiny);
    width: 100%;
    margin-bottom: 0px;
}

img[alt*="banner+tall"] {
    display: block;
    object-fit: cover;
    height: var(--medium);
    width: 100%;
    margin-bottom: 0px;
}

/*Portait*/
img[alt*="portrait"] {
    object-fit: cover;
    height: 400px;
    width: 40%;
}

img[alt*="portrait+small"] {
    height: 200px;
    width: 20%;
    object-fit: cover;
}

img[alt*="portrait+tall"] {
    height: 500px;
    width: 50%;
    object-fit: cover;
}

/*Profile*/
img[alt*="profile"] {
    object-fit: cover;
    height: 100px;
    width: 100px;
}

img[alt*="profile+medium"] {
    object-fit: cover;
    height: 250px;
    width: 250px;
}

/*--Customizable Version--*/
img[alt*="flex"]{
    display: grid;
}


/*-Image Sizing-*/
/*Fit image within bounds WITHOUT stretching*/
img[alt*="cover"]{
    object-fit: cover;
}

/*Height*/
img[alt*="htiny"]{
    height: var(--tiny);
}
img[alt*="hsmall"]{
    height: var(--small);
}
img[alt*="hs-med"]{
    height: var(--small-med);
}
img[alt*="hm-sm"]{
    height: var(--med-small);
}
img[alt*="hmed"]{
    height: var(--medium);
}
img[alt*="hm-tl"]{
    height: var(--med-tall);
}
img[alt*="htall"]{
    height: var(--tall);
}
/*Width*/
img[alt*="wtiny"]{
    width: var(--tiny);
}
img[alt*="wsmall"]{
    width: var(--small);
}
img[alt*="ws-med"]{
    width: var(--small-med);
}
img[alt*="wm-small"]{
    width: var(--med-small);
}
img[alt*="wmed"]{
    width: var(--medium);
}
img[alt*="wm-tl"]{
    width: var(--med-tall);
}
img[alt*="wtall"]{
    width: var(--tall);
}


/*--Image Position--*/
/*Inner Image*/
img[alt*="pt"]{
    object-fit: cover;
    object-position: top;
}
img[alt*="pb"] {
    object-fit: cover;
    object-position: bottom;
}
img[alt*="pl"] {
    object-fit: cover;
    object-position: left;
}
img[alt*="p+cl"] {
    object-fit: cover;
    object-position: 25%;
}
img[alt*="pr"] {
    object-fit: cover;
    object-position: right;
}
img[alt*="p+cr"] {
    object-fit: cover;
    object-position: 75%;
}
img[alt*="pc"] {
    object-fit: cover;
    object-position: center;
}
img[alt*="p+tc"] {
    object-fit: cover;
    object-position: 50% 10%;
}
img[alt*="p+tcc"] {
    object-fit: cover;
    object-position: 50% 20%;
}
img[alt*="p+cct"] {
    object-fit: cover;
    object-position: 50% 30%;
}
img[alt*="p+ct"] {
    object-fit: cover;
    object-position: 50% 40%;
}
img[alt*="p+cb"] {
    object-fit: cover;
    object-position: 50% 60%;
}
img[alt*="p+ccb"] {
    object-fit: cover;
    object-position: 50% 70%;
}
img[alt*="p+bc"] {
    object-fit: cover;
    object-position: 50% 80%;
}
img[alt*="p+bcc"] {
    object-fit: cover;
    object-position: 50% 90%;
}


/*Image Locations*/
img[alt*="locl"] {
    float:left;
    margin-right: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
}

img[alt*="locr"] {
    float:right;
    margin-left: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
}


/*--Image Shapes--*/
/*Banners*/
img[alt*="sban"], .internal-embed img[alt*="sban"] {
    object-fit: cover;
    width: 100%;
}

/*Profile*/
/*Rounded Image*/
img[alt*="sprf"]{
    object-fit: cover;
    border-radius: 100%;
}

/*----Embed Adjustments----*/
.internal-embed {
    margin-left: auto;
    margin-right: auto;
}

/*Embed Link Hide/Move*/
.internal-embed[alt*="nlk"] .markdown-embed-link {
    display: none;
}

.internal-embed[alt*="lk-l"] .markdown-embed-link {
    left: 10px;
    right: unset;
}

.internal-embed[alt*="lk-clear"] .markdown-embed-link {
    background-color: transparent;
}


/*Title Hide/Show*/
.internal-embed[alt*="no-title"] .markdown-embed-title, .file-embed-title{
    display: none;
}

.internal-embed[alt*="ttl"] .markdown-embed-title, .file-embed-title{
    display: block;
}

.internal-embed[alt*="right"] {
    margin-left: auto;
    margin-right: 0;
}
.internal-embed[alt*="left"] {
    margin-left: 0;
    margin-right: auto;
}

.internal-embed[alt*="nmg"] .markdown-embed .markdown-preview-view {
    margin: 0;
    padding: 0;
}

/*Hide Headings*/
.internal-embed[alt*="no-h"] .markdown-embed h1,
.internal-embed[alt*="no-h"] .markdown-embed h2,
.internal-embed[alt*="no-h"] .markdown-embed h3,
.internal-embed[alt*="no-h"] .markdown-embed h4,
.internal-embed[alt*="no-h"] .markdown-embed h5,
.internal-embed[alt*="no-h"] .markdown-embed h6 {
    display: none;
}
/*Hide Specific Headings*/
.internal-embed[alt*="n-h1"] .markdown-embed h1,
.internal-embed[alt*="n-h2"] .markdown-embed h2,
.internal-embed[alt*="n-h3"] .markdown-embed h3,
.internal-embed[alt*="n-h4"] .markdown-embed h4,
.internal-embed[alt*="n-h5"] .markdown-embed h5,
.internal-embed[alt*="n-h6"] .markdown-embed h6 {
    display: none;
}



/*Height Adjustment*/
.internal-embed[alt*="htiny"] .markdown-embed-content {
    height: var(--tiny);
}
.internal-embed[alt*="hsmall"] .markdown-embed-content {
    height: var(--small);
}
.internal-embed[alt*="hs-med"] .markdown-embed-content{
    height: var(--small-med);
}
.internal-embed[alt*="hm-sm"] .markdown-embed-content{
    height: var(--med-small);
}
.internal-embed[alt*="hmed"] .markdown-embed-content{
    height: var(--medium);
}
.internal-embed[alt*="htall"] .markdown-embed-content{
    height: var(--tall);
}

/*Width Adjustment*/
.internal-embed[alt*="wtiny"]{
    width: 20%;
}
.internal-embed[alt*="wsmall"]{
    width: 30%;
}
.internal-embed[alt*="ws-med"]{
    width: 40%;
}
.internal-embed[alt*="wm-small"]{
    width: 50%;
}
.internal-embed[alt*="wmed"]{
    width: 60%;
}
.internal-embed[alt*="wm-tl"]{
    width: 80%;
}
.internal-embed[alt*="wtall"]{
    width: 95%;
}

/*--Blockquote Adjustments--*/
/*Turn b into a blockquote without the quotations*/
b {
    display: block;
    border: 0px solid var(--lines);
    background-color: var(--outer-bar);
    border-left-width: 8px;
    border-radius: var(--border-radius);
    position: relative;
    font-weight: unset;
    padding: 10px 20px;
    margin-left: 2%;
}



/*----Plugins----*/


/*--Sliding Panes--*/
/*Hide the gradient of the Title Pane*/
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf.mod-active > .workspace-leaf-content > .view-header > .view-header-title-container:after,
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf.mod-active > .workspace-leaf-content > .view-header > .view-header-title-container:before,
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-header > .view-header-title-container:before,
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-header > .view-header-title-container:after {
    background: none !important;
}
/*Recolored and Eased Dropshadow*/
body.plugin-sliding-panes-stacking .workspace > .mod-root > .workspace-leaf {
    box-shadow: 0px 0px 20px 20px var(--slide-shadow) !important;
}

/*Note Title Bar*/
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf.mod-active > .workspace-leaf-content > .view-header {
    border-right: 2px solid var(--headers);
    border-bottom: none;
}

/*Hide Black Border When Header is Rotated*/
body.plugin-sliding-panes-rotate-header .workspace > .mod-root > .workspace-leaf > .workspace-leaf-content > .view-content {
    border: 0;
}

/*Display Border When Header Rotation is Off*/
body.plugin-sliding-panes .workspace-split.mod-root .view-content {
    border-left: 3px solid var(--bg);
}



/*--Dataview Table--*/
.table-view-table > thead > tr > th {
    font-weight: 900 !important;
    font-family: var(--font);
    color: var(--headers);
    border-bottom: solid var(--accent) !important;
    background-color: var(--embed-bg);
}


/*--Checklist Plugin Edit--*/
/*Add padding to Checklist Pane*/
.todo-list .group {
    margin: 4%;
}

/*Shrink Checklist Header*/
.todo-list .group-header {
    font-size: 14px !important;
}

/*Resize/Recolor/Square Task*/
.todo-list .item.svelte-zpfope.svelte-zpfope {
    background-color: var(--background-primary-alt) !important;
    border-radius: var(--border-radius);
    font-size: 14px;
    margin-bottom: 1%;
}

/*Checkbox*/
.todo-list .toggle.svelte-zpfope.svelte-zpfope {
    padding-right: 4px;
}
/*Square Checkbox*/
.todo-list .checkbox.svelte-y3iyim {
    border-radius: var(--border-radius);
    border-color: var(--accent) !important;
}


/*Recolor Every Odd Task*/
.todo-list .item.svelte-zpfope.svelte-zpfope:nth-child(odd) {
    background-color: var(--code-bg) !important;
}

/*Resize Task Title*/
.todo-list .content.svelte-zpfope.svelte-zpfope {
    padding: 1% !important;
    line-height: 18px;
}
/*Square Counter*/
.todo-list .count.svelte-im5pnh {
    border-radius: var(--border-radius);
}
.todo-list .content.svelte-zpfope.svelte-zpfope {
    word-break: break-word;
}



/*Button Plugin*/
.button-default {
    border-radius: var(--border-radius) !important;
    box-shadow: none !important;
}
.button-default:hover {
    box-shadow: 0 4px 4px var(--td), 0 10px 10px var(--td) !important;
    color: var(--text);
}

/*ABC JS*/
.abcjs-container svg {    
    fill: white !important;
}

.abcjs-container svg path {    
    fill: white !important;
}



/*--Mermaid--*/
/*Mermaid Class*/
g.classGroup text {
    font-size: 10px;

}

g.classGroup rect {
        fill: rgba(0, 0, 0, 0) !important;
        stroke:#595d67  !important;
        stroke-width:1spx;
}

/***Mermaid Flowchart
 .path {
    stroke: #8384bf !important;
    stroke-width: 1.5px !important;
}

.node circle, .node ellipse, .node path, .node polygon, .node rect {
    fill: #0b0d13 !important;
    stroke: #2c2c52 !important;
    stroke-width: 1px;
}

path[Attributes Style]{
    marker-end: url(app://obsidian.md/index.html#arrowhead10);
} ***/

/*Mermaid ERD*/
.entityBox {
    fill: var(--background-primary-alt) !important;
}
.attributeBoxEven {
    fill: var(--background-primary) !important;
}
.attributeBoxOdd {
    fill: var(--background-secondary-alt) !important;
}








/*----Publish----*/
.site-header {
    font: var(--font);
    text-align: left;
}

.page-header {
    font-size: 0px;
    font-family: var(--font);
    color: transparent;
    line-height: 0px;
}

site-body-left-column-site-name {
    font: var(--font);
    color: var(--headers);
}


.site-body {
    background-color: var(--side-bar);
}

.site-body-left-column {
    background-color: var(--outer-bar);
}

.site-body-left-column:before {
    content: ' ';
    position: absolute;
    right: 100%;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: var(--outer-bar);
    z-index: 0;
}


.graph-view-container {
    position: relative;
    height: 300px;
    border: 1px solid var(--table);
    border-radius: 10px;
    background-color: var(--graph-bg);
    padding: 4px;
}