.playlist th, .playlist td:nth-child(1) {
    background-color: var(--outer-bar);
    border: 0px;
}

.playlist td:nth-child(2) {
    font-style: italic;
    color: var(--soft-text);
    border-left: 0px;
    
}

.playlist td {
    border-top: 0px;
}