.theme-dark, .theme-light {
    /*Sizes*/
    --radius: 0px;
    --tiny: 100px;
    --small: 200px;
    --small-med: 300px;
    --med-small: 400px;
    --medium: 500px;
    --med-tall: 600px;
    --tall: 700px;
}


/*----<i alt=""></i>----*/
i { 
    display: block;
    font-style: unset;
    color: var(--text-normal);
    text-align: center;
    background-color: var(--background-secondary-alt);
    padding: 0 1em;
}

i[alt*="right"] {
    display: block;
    text-align: right;
    background-color: var(--background-secondary-alt);
    padding-right: .8em;
}


i[alt*="left"] {
    display: block;
    text-align: left;
    background-color: var(--background-secondary-alt);
    padding-left: .8em;
}

i[alt*="clear"] {
    clear: both;
}

i[alt*="nobg"] {
    background-color: transparent;
}

/*----Image Positions----*/
/*Fix Float Issues*/
img[alt*="clear"] {
    clear: both;
}

/*----Image Positions----*/
/*Fix Float Issues*/
img[alt*="clear"] {
    clear: both;
}

/*Center Image*/
img[alt*="c"] {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/*--Simplified Version--*/
/*Image Locations*/
/*Left & Right*/
img[alt*="left"] {
    float:left;
    margin-right: 2%;
    margin-bottom: 0px;
}

img[alt*="right"] {
    float:right;
    margin-left: 2%;
    margin-bottom: 0px;
}

/*Image Shapes*/
/*Banners*/
img[alt*="banner"] {
    display: block;
    object-fit: cover;
    height: 150px;
    width: 100%;
    margin-bottom: 0px;
}

img[alt*="banner+small"] {
    display: block;
    object-fit: cover;
    height: var(--tiny);
    width: 100%;
    margin-bottom: 0px;
}

img[alt*="banner+tall"] {
    display: block;
    object-fit: cover;
    height: var(--medium);
    width: 100%;
    margin-bottom: 0px;
}

/*Portait*/
img[alt*="portrait"] {
    object-fit: cover;
    height: 400px;
    width: 40%;
}

img[alt*="portrait+small"] {
    height: 200px;
    width: 20%;
    object-fit: cover;
}

img[alt*="portrait+tall"] {
    height: 500px;
    width: 50%;
    object-fit: cover;
}

/*Profile*/
img[alt*="profile"] {
    object-fit: cover;
    height: 100px;
    width: 100px;
}

img[alt*="profile+medium"] {
    object-fit: cover;
    height: 250px;
    width: 250px;
}

/*--Customizable Version--*/
img[alt*="flex"]{
    display: grid;
}


/*-Image Sizing-*/
/*Fit image within bounds WITHOUT stretching*/
img[alt*="cover"]{
    object-fit: cover;
}

/*Height*/
img[alt*="htiny"]{
    height: var(--tiny);
}
img[alt*="hsmall"]{
    height: var(--small);
}
img[alt*="hs-med"]{
    height: var(--small-med);
}
img[alt*="hm-sm"]{
    height: var(--med-small);
}
img[alt*="hmed"]{
    height: var(--medium);
}
img[alt*="hm-tl"]{
    height: var(--med-tall);
}
img[alt*="htall"]{
    height: var(--tall);
}
/*Width*/
img[alt*="wtiny"]{
    width: var(--tiny);
}
img[alt*="wsmall"]{
    width: var(--small);
}
img[alt*="ws-med"]{
    width: var(--small-med);
}
img[alt*="wm-small"]{
    width: var(--med-small);
}
img[alt*="wmed"]{
    width: var(--medium);
}
img[alt*="wm-tl"]{
    width: var(--med-tall);
}
img[alt*="wtall"]{
    width: var(--tall);
}


/*--Image Position--*/
/*Inner Image*/
img[alt*="pt"]{
    object-fit: cover;
    object-position: top;
}
img[alt*="pb"] {
    object-fit: cover;
    object-position: bottom;
}
img[alt*="pl"] {
    object-fit: cover;
    object-position: left;
}
img[alt*="p+cl"] {
    object-fit: cover;
    object-position: 25%;
}
img[alt*="pr"] {
    object-fit: cover;
    object-position: right;
}
img[alt*="p+cr"] {
    object-fit: cover;
    object-position: 75%;
}
img[alt*="pc"] {
    object-fit: cover;
    object-position: center;
}
img[alt*="p+tc"] {
    object-fit: cover;
    object-position: 50% 10%;
}
img[alt*="p+tcc"] {
    object-fit: cover;
    object-position: 50% 20%;
}
img[alt*="p+cct"] {
    object-fit: cover;
    object-position: 50% 30%;
}
img[alt*="p+ct"] {
    object-fit: cover;
    object-position: 50% 40%;
}
img[alt*="p+cb"] {
    object-fit: cover;
    object-position: 50% 60%;
}
img[alt*="p+ccb"] {
    object-fit: cover;
    object-position: 50% 70%;
}
img[alt*="p+bc"] {
    object-fit: cover;
    object-position: 50% 80%;
}
img[alt*="p+bcc"] {
    object-fit: cover;
    object-position: 50% 90%;
}


/*Image Locations*/
img[alt*="locl"] {
    float:left;
    margin-right: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
}

img[alt*="locr"] {
    float:right;
    margin-left: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
}


/*--Image Shapes--*/
/*Banners*/
img[alt*="sban"], .internal-embed img[alt*="sban"] {
    object-fit: cover;
    width: 100%;
}

/*Profile*/
/*Rounded Image*/
img[alt*="sprf"]{
    object-fit: cover;
    border-radius: 100%;
}
