/* @settings
name: SlRvb's Checkboxes
id: checkbox
settings:
    - 
        title: Colorful Task Text
        description: Add color to the text of the task.
        id: check-color
        type: class-toggle
    -
        title: Checkbox Padding Fix
        description: Toggle off if checklists are misaligned for your current theme.
        id: chck-pad
        type: class-toggle
        default: true
    - 
        title: Checkbox Height Adjustment
        description: Fix the height of the checkboxes for Live Preview
        id: chbx-height
        type: variable-number-slider
        default: -4
        format: px
        min: -8
        max: 8
        step: 1

*/

/*Different/Alternate Checkbox
input[type=checkbox]:checked::before {
    padding-left: .2em;
    font-family: var(--font-monospace);
    font-weight: 900;
    color: var(--soft-text);
}*/

:root {
    --chbx-height: -4px;
}

.theme-dark {
    --chbx-q: #fdaf00;
    --chbx-h: #5c7699;
    --chbx-d: #3e4552;
    --chbx-i: #c22a2a;
    --chbx-a: #f872b5;
    --chbx-R: var(--text-muted);
    --chbx-id: #e7e7ab;
    --chbx-B: #528bd4;
    --chbx-P: #4fa54f;
    --chbx-C: #cf4343;
}

.theme-light {
    --chbx-q: #fdaf00;
    --chbx-h: #a8b1bd;
    --chbx-d: #cad3eb;
    --chbx-i: #db0101;
    --chbx-a: #f872b5;
    --chbx-R: #9fbadf;
    --chbx-id: #cac700;
    --chbx-B: #528bd4;
    --chbx-P: #4fa54f;
    --chbx-C: #d66c6c;
}

/*Restyle Checkboxes*/
.markdown-source-view.mod-cm6 .task-list-item-checkbox:not([data-task='x']):not([data-task=' ']),
.markdown-preview-view li:not(li[data-task="x"]) .task-list-item-checkbox:checked {
    background-image: url();
    -webkit-appearance: none;
    position: relative;
    width: 14px;
    height: 14px;
    filter: none;
    cursor: pointer;
}
.markdown-source-view.mod-cm6 .task-list-item-checkbox:not([data-task='x']):not([data-task=' ']) {
    vertical-align: var(--chbx-height);
}

/* Hide Checkbox Border */
.markdown-preview-view li:not(li[data-task="x"]) > .task-list-item-checkbox:checked,
.markdown-preview-view li:not(li[data-task="x"]) p .task-list-item-checkbox:checked /* Spaced Checklist */ {
    border: none;
    background-color: var(--interactive-accent);
}
/* Checkbox Icon Setup*/
.markdown-preview-view :not(li[data-task="x"]) > .task-list-item-checkbox:checked::before,
.markdown-preview-view :not(li[data-task="x"]) p .task-list-item-checkbox:checked::before {
    content: ' ';
    position: absolute;
    width: 15.5px;
    height: 14px;
    padding-left: 0px;
    top: 0px;
    bottom: 0px;
}
/*Checked Text*/
.markdown-source-view.mod-cm6 .task-list-item-checkbox:not([data-task=' ']) + span,
.markdown-source-view.mod-cm6 .task-list-item-checkbox:not([data-task=' ']) + span + span,
.markdown-preview-view ul > li.task-list-item.is-checked, 
.markdown-preview-view ol > li.task-list-item.is-checked {
    text-decoration: unset;
    color: var(--lines, var(--text-faint));
    font-weight: bold;
}
/* Padding Fix */
.chck-pad .markdown-preview-view ul > li.task-list-item.is-checked,
.chck-pad .markdown-preview-view ol > li.task-list-item.is-checked {
    padding-left: 5px;
    margin-left: -5px;
}

/*CodeMirrorOptions Plugin Support*/
body.theme-dark.hide-tokens.style-check-box .cm-s-obsidian span.cm-formatting-task,
body.theme-light.hide-tokens.style-check-box .cm-s-obsidian span.cm-formatting-task { filter: unset; }

.hmd-inactive-line .cm-formatting-task {
    margin-right: -10px;
}
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task::before {
    position: absolute;
    content: " ";
    border: 1px solid var(--accent, var(--interactive-accent));
    height: 14px;
    width: 14px;
    margin-top: 5px;
    margin-left: 4px;
}
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="x"]::before { 
    background: var(--accent, var(--interactive-accent)); 
}

/*--Theme Specific Fixes--*/
/* Yin & Yang Theme */
.markdown-source-view.mod-cm6 .task-list-item-checkbox:not([data-task='x']),
.is-flashing input[type="checkbox"]:checked:before,
input[type="checkbox"]:checked:not([data-task='x']):before,
li:not(li[data-task="x"]) > input[type="checkbox"]:checked:before {
    background-image: url();
    margin-top: 0;
    border-radius: 0;
    content: ''; /*California Coast*/
}
/* Minimal Theme */
.todo-list .group .item.compact > .toggle .checked,
.is-flashing input[type=checkbox]:checked,
li:not(li[data-task="x"]) > input[type=checkbox]:checked {
    background-image: url();
    background-color: transparent !important;
}
/*Sanctum Theme*/
.markdown-preview-view li:not([data-task='x'])>.task-list-item-checkbox:checked::before,
.theme-dark .markdown-preview-view li[data-task=i] > .task-list-item-checkbox:checked::before,
input[type=checkbox] {
    background-image: url();
    /*height: 12px;
    width: 12px;
    vertical-align: unset;*/
}
/*----*/







/*--Checkbox Type Icons--*/

/* SVG check mark for done ('- [x]') */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="X"],
.markdown-preview-view li[data-task="X"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="X"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="X"]::before {
    background-color: var(--accent2-lite, var(--text-accent));
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='1 0 17 17'%3E%3Cpath d='M13.5 2L6 9.5L2.5 6L0 8.5l6 6l10-10z' fill='currentColor'/%3E%3C/svg%3E");
    border: 0;
    
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="X"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="X"] + span + span,
.check-color.check-color ul li[data-task="X"].task-list-item.is-checked {
    color: var(--text-faint);
}


/* SVG Plane for Forward ('- [>]') */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task=">"],
.markdown-preview-view li[data-task=">"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task=">"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task=">"]::before {
    background-color: var(--text-normal);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 2 24 24'%3E%3Cpath d='M13.761 12.01l-10.76-1.084L3 4.074a1.074 1.074 0 0 1 1.554-.96l15.852 7.926a1.074 1.074 0 0 1 0 1.92l-15.85 7.926a1.074 1.074 0 0 1-1.554-.96v-6.852l10.76-1.064z' fill='currentColor' fill-rule='nonzero'/%3E%3C/svg%3E");
    border: 0;
    height: 15px;
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task=">"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task=">"] + span + span,
.check-color.check-color ul li[data-task=">"].task-list-item.is-checked {
    color: var(--text-normal);
}


/* SVG Calendar for deferred/scheduled ('- [D]') */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="D"],
.markdown-preview-view li[data-task="D"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="D"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="D"]::before {
    background-color: var(--chbx-h);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 24 24'%3E%3Cpath d='M5 22h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2h-2V2h-2v2H9V2H7v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2zM5 7h14v2H5V7z' fill='currentColor'/%3E%3C/svg%3E");
    border: 0;
    width: 1.2em;
    height: 1.2em;
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="D"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="D"] + span + span,
.check-color.check-color ul li[data-task="D"].task-list-item.is-checked {
    color: var(--chbx-h);
}


/* SVG line for cancelled/non-task ('- [-]') */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="-"],
.markdown-preview-view li[data-task="-"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="-"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="-"]::before {
    background-color: var(--chbx-d);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 1200 1200'%3E%3Cpath d='M0 430.078h1200v339.844H0V430.078z' fill='currentColor'/%3E%3C/svg%3E");
    border: 0;
    
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="-"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="-"] + span + span,
.check-color.check-color ul li[data-task="-"].task-list-item.is-checked {
    color: var(--chbx-d);
}


/* '?' for question/more info task ('- [?]') */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="?"],
.markdown-preview-view li[data-task="?"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="?"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="?"]::before {
    background-color: var(--chbx-q);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='-2 0 24 24'%3E%3Cpath d='M11.403 18.751v4.499c-.01.41-.34.74-.748.75H6.159a.768.768 0 0 1-.749-.748v-4.5c.01-.41.34-.739.749-.749h4.5c.41.01.74.34.75.749v.001zm5.923-11.247a6.306 6.306 0 0 1-.962 3.354l.015-.026a5.462 5.462 0 0 1-1.021 1.108l-.01.008c-.321.282-.672.55-1.042.794l-.036.022q-.413.253-1.144.665a3.71 3.71 0 0 0-1.275 1.204l-.009.014a2.535 2.535 0 0 0-.515 1.243l-.001.012a.978.978 0 0 1-.226.611l.001-.002a.652.652 0 0 1-.524.29h-4.5a.563.563 0 0 1-.479-.343l-.001-.004a1.394 1.394 0 0 1-.197-.702v-.845a4.356 4.356 0 0 1 1.219-2.935l-.001.001A7.945 7.945 0 0 1 9.251 9.96l.048-.02a4.627 4.627 0 0 0 1.574-1.049l.001-.001a2.094 2.094 0 0 0 .469-1.429v.005a1.695 1.695 0 0 0-.863-1.382l-.009-.004a3.436 3.436 0 0 0-2.018-.599h.003a3.53 3.53 0 0 0-2.039.552l.014-.009A12.825 12.825 0 0 0 4.45 8.149l-.025.035a.73.73 0 0 1-.581.3a.897.897 0 0 1-.472-.152l.003.002L.301 5.991a.732.732 0 0 1-.29-.464L.01 5.523a.747.747 0 0 1 .105-.527l-.002.003C1.77 2 4.912.003 8.522.003c.103 0 .205.002.307.005h-.015a8.362 8.362 0 0 1 3.074.602l-.057-.02a10.2 10.2 0 0 1 2.757 1.571l-.02-.016a7.838 7.838 0 0 1 1.966 2.349l.02.041c.483.857.768 1.881.769 2.971z' fill='currentColor'/%3E%3C/svg%3E");
    border: 0;
    height: 15px;
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="?"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="?"] + span + span,
.check-color.check-color ul li[data-task="?"].task-list-item.is-checked {
    color: var(--chbx-q);
}


/* '!' for important task ('- [!]') */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="!"],
.markdown-preview-view li[data-task="!"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="!"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="!"]::before {
    background-color: var(--chbx-i);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='14' height='14' preserveAspectRatio='xMidYMid meet' viewBox='0 0 448 1408'%3E%3Cg transform='translate(448 0) scale(-1 1)'%3E%3Cpath d='M416 1120v224q0 26-19 45t-45 19H96q-26 0-45-19t-19-45v-224q0-26 19-45t45-19h256q26 0 45 19t19 45zM446 64l-28 768q-1 26-20.5 45T352 896H96q-26 0-45.5-19T30 832L2 64Q1 38 19.5 19T64 0h320q26 0 44.5 19T446 64z' fill='currentColor'/%3E%3C/g%3E%3C/svg%3E");
    border: 0;
    width: 15px;
    height: 14px;
    
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="!"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="!"] + span + span,
.check-color.check-color ul li[data-task="!"].task-list-item.is-checked {
    color: var(--chbx-i);
}


/* '+' for adding a task ('- [+]') */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="+"],
.markdown-preview-view li[data-task="+"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="+"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="+"]::before {
    background-color: var(--chbx-a);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='14' height='14' preserveAspectRatio='xMidYMid meet' viewBox='0 0 1250 1250'%3E%3Cpath d='M430.078 0v430.078H0v339.844h430.078V1200h339.844V769.922H1200V430.078H769.922V0H430.078z' fill='currentColor'/%3E%3C/svg%3E");
    border: 0;
    width: 14px;
    height: 14px;
    
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="+"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="+"] + span + span,
.check-color.check-color ul li[data-task="+"].task-list-item.is-checked {
    color: var(--chbx-a);
}


/* "/" Half done */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="/"],
.markdown-preview-view li[data-task="/"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="/"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="/"]::before {
    width: 0;
    height: 0;
    border: 0;
    border-left: 14px solid transparent;
    border-bottom: 14px solid var(--note, var(--background-primary));
    background-color: var(--accent, var(--interactive-accent)) !important;
    border-radius: 0;
}
.workspace-tabs .markdown-preview-view li[data-task="/"]>.task-list-item-checkbox:checked::before {
    border-bottom: 14px solid var(--background-secondary);
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="/"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="/"] + span + span,
.check-color.check-color ul li[data-task="/"].task-list-item.is-checked {
    background: linear-gradient(to right, var(--accent, var(--interactive-accent)) 0%, var(--chbx-d) 10%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="/"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="/"] + span + span {
    background: linear-gradient(to right, var(--accent, var(--interactive-accent)) 0%, var(--chbx-d) 80%);
    -webkit-background-clip: text;
}


/* "R" Research */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="R"],
.markdown-preview-view li[data-task="R"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="R"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="R"]::before {
    background-color: var(--chbx-R);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='16' height='15' preserveAspectRatio='xMidYMid meet' viewBox='0 0 1330 1330'%3E%3Cg transform='translate(1200 0) scale(-1 1)'%3E%3Cpath d='M672.633 0C389.326 0 159.634 229.652 159.634 512.958c0 100.662 28.986 194.563 79.083 273.79c-.368.16-.729.305-1.098.471l-223.21 223.172L204.019 1200l231.249-231.288c-.069-.326-.162-.651-.234-.979c71.035 37.19 151.865 58.224 237.6 58.224c283.309 0 512.959-229.69 512.959-512.997C1185.59 229.652 955.939 0 672.633 0zm0 227.877c157.441 0 285.041 127.639 285.041 285.081s-127.6 285.081-285.041 285.081c-157.442 0-285.082-127.639-285.082-285.081S515.19 227.877 672.633 227.877z' fill='currentColor'/%3E%3C/g%3E%3C/svg%3E");
    border: 0;
    height: 1em;
    
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="R"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="R"] + span + span,
.check-color.check-color ul li[data-task="R"].task-list-item.is-checked {
    color: var(--chbx-R);
}

/* "i" Idea */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="i"],
.markdown-preview-view li[data-task="i"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="i"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="i"]::before {
    background-color: var(--chbx-id);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='1 2 24 24'%3E%3Cpath d='M11 18H7.941c-.297-1.273-1.637-2.314-2.187-3a8 8 0 1 1 12.49.002c-.55.685-1.888 1.726-2.185 2.998H13v-5h-2v5zm5 2v1a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-1h8z' fill='currentColor'/%3E%3C/svg%3E");
    border: 0;
    width: 14.7px;
    height: 14.7px;
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="i"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="i"] + span + span,
.check-color.check-color ul li[data-task="i"].task-list-item.is-checked {
    color: var(--chbx-id);
}

/* "B" Brainstorm */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="B"],
.markdown-preview-view li[data-task="B"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="B"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="B"]::before {
    background-color: var(--chbx-B);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='3 3 22 22'%3E%3Crect x='0' y='0' width='24' height='24' fill='none' stroke='none' /%3E%3Ccircle cx='7.2' cy='14.4' r='3.2' fill='currentColor'/%3E%3Ccircle cx='14.8' cy='18' r='2' fill='currentColor'/%3E%3Ccircle cx='15.2' cy='8.8' r='4.8' fill='currentColor'/%3E%3C/svg%3E");
    border: 0;
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="B"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="B"] + span + span,
.check-color.check-color ul li[data-task="B"].task-list-item.is-checked {
    color: var(--chbx-B);
}


/* "P" Pro */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="P"],
.markdown-preview-view li[data-task="P"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="P"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="P"]::before {
    background-color: var(--chbx-P);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='2 0 24 24'%3E%3Crect x='0' y='0' width='24' height='24' fill='none' stroke='none' /%3E%3Cpath d='M14.17 1L7 8.18V21h12.31L23 12.4V8h-8.31l1.12-5.38zM1 9h4v12H1z' fill='currentColor'/%3E%3C/svg%3E");
    border: 0;
    width: 15px;
    height: 17px;
    
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="P"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="P"] + span + span,
.check-color.check-color ul li[data-task="P"].task-list-item.is-checked {
    color: var(--chbx-P);
}

/* "C" Con */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="C"],
.markdown-preview-view li[data-task="C"]>.task-list-item-checkbox:checked::before,
.markdown-preview-view li[data-task="C"] p .task-list-item-checkbox:checked::before,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="C"]::before {
    background-color: var(--chbx-C);
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' role='img' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='2 0 24 24'%3E%3Cpath d='M1 11.6V16h8.31l-1.12 5.38L9.83 23L17 15.82V3H4.69zM19 3h4v12h-4z' fill='currentColor'/%3E%3C/svg%3E");
    border: 0;
    width: 15px;
    height: 18px;
}
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="C"] + span,
.check-color .markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="C"] + span + span,
.check-color.check-color ul li[data-task="C"].task-list-item.is-checked {
    color: var(--chbx-C);
}


