
/*--Plot--*/
a[href="#plot"], 
[href="#plot/Hook"], 
[href="#plot/Setting"], 
[href="#plot/Inciting-Incident"], 
[href="#plot/New-World"], 
[href="#plot/Darkest-Hour"] {
    background-color: var(--gray);
}

/*--Singular Tags--*/
a[href="#Brainstorm"] {
    background-color: var(--gray);
}

/*--Ship--*/
a[href="#ship/mylt-dyan"] {
    background: linear-gradient(to right, var(--mylt), var(--dyan));
}

a[href="#ship/mylt-jasmine"] {
    background: linear-gradient(to right, var(--mylt), var(--jasmine));
}

a[href="#ship/dyan-mylt-jasmine"] {
    background: linear-gradient(to right, var(--dyan), var(--mylt), var(--jasmine));
}

a[href="#ship/dyan-alex"] {
    background: linear-gradient(to right, var(--dyan), var(--alex));
}

a[href="#ship/ryan-quinn"] {
    background: linear-gradient(to right, var(--ryan), var(--quinn));
}

a[href="#ship/daniel-anthera"] {
    background: linear-gradient(to right, var(--daniel), var(--anthera));
}

a[href="#ship/ferran-ryo"] {
    background: linear-gradient(to right, var(--ferran), var(--ryo));
}


a[href="#ship/"] {
    background: linear-gradient(to right,);
}


/*--Sub-Plot--*/
a[href="#sub-plot/Romance"] {
    background-color: #af63a3;
}

a[href="#sub-plot/School"] {
    background-color: #55422c;
}

a[href="#sub-plot/Demons"] {
    background-color: #911e1e;
}

a[href="#sub-plot/Divine"] {
    background-color: #a79c63;
}

a[href="#sub-plot/Crime"] {
    background-color: #652525;
}


/*--Status--*/
a[href="#status/complete"] {
    background-color: #31842a;
}

a[href="#status/in-progress"] {
    background-color: #cb741e;
}

a[href="#status/hiatus"] {
    background-color: #484848;
}

a[href="#status/abandoned"] {
    background-color: black;
}



/*Progress*/
a[href="#Progress/Brainstorm"] {
    background-color: #606776;
}

a[href="#Progress/Writing"] {
    background-color: #8b7347;
}

a[href="#Progress/Written"] {
    background-color: #714090;
}

a[href="#Progress/Editing"] {
    background-color: #406b90;
}

a[href="#Progress/Complete"] {
    background-color: #40905c;
}