:root {
    /*Section: Text > Fonts > Headings*/
    --font: 'Norwester', 'Staatliches', 'Racing Sans One', 'Heavitas', 'Playfair Display', serif;
}

.theme-dark, .theme-light {
    /*Section: Note Elements > Horizontal Line Symbol*/
    --hr-sym: "🏴";
}

.theme-dark {
    --background-primary: var(--note);
    --background-primary-alt: var(--deep-dark-accent);
    --background-secondary: var(--side-bar);
    --background-secondary-alt: var(--outer-bar);

    --background-modifier-border: var(--table);

    --background-modifier-form-field-highlighted: rgba(113,132,162,0.13);

    --text-selection: rgba(61, 82, 107, 0.25);
    --text-highlight-bg: rgba(87, 113, 156, 0.4);
    --text-highlight-bg-active: rgba(134, 168, 197, 0.4);

    --text-normal: var(--text); 
    --text-muted: var(--soft-text);
    --text-accent: var(--accent2-lite);
    --text-accent-hover: var(--accent2);
    --interactive-accent: var(--hr);
    
    /*----Colors----*/
    /*Section: Workspace > Colors*/
    --outer-bar: #0E0F15;       /*Outer Sidebar*/
    --dark-sidebar: #090C0E;    /*Dark Sidebar*/
    --side-bar: var(--note);      /*Sidebar*/
    --f-icon: #586477;          /*File*/
    --folder: #F1F7FF;          /*Folder*/
    --note: #171B21;            /*Note*/
    
    
    /*Section: Text > Colors*/
    --headers: #9DB1CA;     /*Headings*/
    --text: #778495;        /*Text*/
    --soft-text: #AAB3CA;   /*Faint Text*/
    --code-text: #708090;   /*Code Text*/
    --i-at: #5D7B98;        /*<i></i>*/
    --footnote: #576571;    /*Footnotes*/
    
    /*Section: Tags > Tag Color*/
    --tag: #353F52;
    
    /*Section: Note Elements > Colors*/
    --hr: #4F5B6C;          /*Horizontal Line*/
    --embed-bg: #0E0F15;    /*Embed/Blockquote*/
    --aside-bg: var(--table); /*Aside Background Color*/
    
    /*Section: Other Colors*/    
    --accent: #516071;              /*Accent*/
    --lite-accent: #8EA1B4;         /*Lite Accent*/
    --accent2: #889FC3;             /*Accent 2*/
    --accent2-lite: #9DB2CF;        /*Lite Accent 2*/
    --dark-accent: #333A49;         /*Dark Accent*/
    --deep-dark-accent: #222731;    /*Deep Dark Accent*/
    --table: #242D3D;               /*Lines*/

    /*Section: Graph Colors*/
    --graph-bg: var(--note);    /*Graph Background*/
    --graph-lines: #293E64;   /*Graph Lines*/
}

    
.theme-light {
    --background-primary: var(--note);
    --background-primary-alt: var(--dark-accent);
    --background-secondary: var(--side-bar);
    --background-secondary-alt: var(--outer-bar);

    --background-modifier-border: var(--table);

    --background-modifier-form-field-highlighted: rgba(131,185,240,0.13);

    --text-selection: rgba(163, 188, 218, 0.22);
    --text-highlight-bg: rgba(129,155,199,0.25);
    --text-highlight-bg-active: rgba(172,210,255,0.25);

    /*----Colors----*/
    /*Section: Workspace > Colors*/
    --dark-sidebar: #F1F7FF;    /*Dark Sidebar*/
    --f-icon: #A6B4CC;          /*File*/
    --folder: #8296A6;          /*Folder*/
    
    /*Section: Text > Colors*/
    --headers: #748092;     /*Headings*/
    --text: #8A949D;        /*Text*/
    --soft-text: #9AADBA;   /*Faint Text*/
    --code-text: #819AB5;   /*Code Text*/
    --i-at: #8FAABE;        /*<i></i>*/
    
    /*Section: Other Colors*/
    --accent: #939BA3;              /*Accent*/
    --lite-accent: #B4C6D2;         /*Lite Accent*/
    --accent2-lite: #000000;        /*Lite Accent 2*/
    --dark-accent: #EBF2F9;         /*Dark Accent*/
    --deep-dark-accent: #171C22;    /*Deep Dark Accent*/
    --inactive: #C0C8D6;            /*Inactive*/

    /*Section: Tags > Tag Color*/
    --tag: #8999B3;
}