.h-line.h-line,
.hide-header-underline.hide-header-underline,
:is(.h-line, .hide-header-underline) div //Override CSSClass
{ 
    --header-border-line-height: 0;
    --h1-border-line-height: var(--header-border-line-height);
    --h2-border-line-height: var(--header-border-line-height);
    --h3-border-line-height: var(--header-border-line-height);
    --h4-border-line-height: var(--header-border-line-height);
    --h5-border-line-height: var(--header-border-line-height);
    --h6-border-line-height: var(--header-border-line-height);
}

.hide-header-underline-1 div { --h1-border-line-height: 0; }
.hide-header-underline-2 div { --h2-border-line-height: 0; }
.hide-header-underline-3 div { --h3-border-line-height: 0; }
.hide-header-underline-4 div { --h4-border-line-height: 0; }
.hide-header-underline-5 div { --h5-border-line-height: 0; }
.hide-header-underline-6 div { --h6-border-line-height: 0; }