.heading-indicator .is-live-preview {

    & .HyperMD-header.HyperMD-header.HyperMD-header:hover .cm-header.cm-header:not(.cm-header-6)::before {
        margin-top: 0px;
    }
    
    
    
    & .HyperMD-header 
    {
        &.HyperMD-header-1 {
            --indicator-heading-text: "H1"; 
            --indicator-heading-size: var(--h1-size);
        }
        &.HyperMD-header-2 {
            --indicator-heading-text: "H2"; 
            --indicator-heading-size: var(--h2-size);
        }
        &.HyperMD-header-3 {
            --indicator-heading-text: "H3"; 
            --indicator-heading-size: var(--h3-size);
        }
        &.HyperMD-header-4 {
            --indicator-heading-text: "H4"; 
            --indicator-heading-size: var(--h4-size);
        }
        &.HyperMD-header-5 {
            --indicator-heading-text: "H5"; 
            --indicator-heading-size: var(--h5-size);
        }
        &.HyperMD-header-6 {
            --indicator-heading-text: "H6"; 
            --indicator-heading-size: var(--h6-size);
        }


        & .cm-fold-indicator::before
        {
            float: left; 
            // position: relative;
    
            font-family: var(--font-monospace);
            color: var(--footnote);
            font-size: 12px;

            content: var(--indicator-heading-text);
            margin-left: -18px;
            margin-top: calc(var(--indicator-heading-size) / 2.5);
        }

        &:hover .cm-fold-indicator::before { margin-top: -5px; }
        
    } 
    
}