.illusion.illusion {
    --h1-background: var(--theme-rainbow-1);
    --h2-background: var(--theme-rainbow-2);
    --h3-background: var(--theme-rainbow-3);
    --h4-background: var(--theme-rainbow-4);
    --h5-background: var(--theme-rainbow-5);
    --h6-background: var(--theme-rainbow-6);

    --header-border-line-height: 0;
    --h1-border-line-height: var(--header-border-line-height);
    --h2-border-line-height: var(--header-border-line-height);
    --h3-border-line-height: var(--header-border-line-height);
    --h4-border-line-height: var(--header-border-line-height);
    --h5-border-line-height: var(--header-border-line-height);
    --h6-border-line-height: var(--header-border-line-height);

    & :is(.markdown-preview-view, .is-live-preview),
    &:is(.markdown-preview-view, .is-live-preview) {
        --headers: var(--text-dl);
        --h1-color: var(--headers);
        --h2-color: var(--headers);
        --h3-color: var(--headers);
        --h4-color: var(--headers);
        --h5-color: var(--headers);
        --h6-color: var(--headers);
        --heading-formatting: var(--headers);

        --header-padding: 5px 25px;
        --h1-padding: var(--header-padding);
        --h2-padding: var(--header-padding);
        --h3-padding: var(--header-padding);
        --h4-padding: var(--header-padding);
        --h5-padding: var(--header-padding);
        --h6-padding: var(--header-padding);

        :is(h1,h2,h3,h4,h5,h6, .is-live-preview .HyperMD-header) {
            --collapse-icon-color: var(--headers);
            --collapse-icon-color-collapsed: var(--accent-text);
            box-shadow: var(--shadow-l);

            & .collapse-indicator {
                width: 18px;
        
                & svg { 
                    width: 12px;
                    height: 12px;
                }
            }
        }
    }
}