@import 'checkbox-sets';

//Default set
ul > li.task-list-item:not(.is-checked) {
    font-weight: initial;
    color: var(--text-normal);
}
.HyperMD-task-line.HyperMD-task-line.HyperMD-task-line .cm-strong.cm-strong.cm-strong.cm-strong {
    font-weight: var(--bold-weight);
}

//Default x checked text
.markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:not([data-task=" "]) :not(.cm-formatting-task),
ul > li.task-list-item.is-checked {
    color: var(--text-faint);
    font-weight: bold;
}
/*----Checked Text----*/
@each $checkbox, $set in $checkboxes {
    .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task][data-task="#{$checkbox}"] :not(.cm-formatting-task),
    :is(ul, ol) > li[data-task="#{$checkbox}"].task-list-item.is-checked 
    { 
        color: map-get($set, norm-text);
        font-weight: map-get($set, font-weight);
    }
}
//Unset text-decoration
// :not(.chkbx-strike) .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:not([data-task=" "]),
// :not(.chkbx-strike) .task-list-item.is-checked {
//     text-decoration: unset;
// }

