input[type=checkbox]:checked:after 
{ display: block; }

//Minimal Theme Fixes
input[type][type=checkbox]:checked:is(
    [data-task="X"],
    [data-task=">"],
    [data-task="-"],
    [data-task=">"],
    [data-task="D"],
    [data-task="?"],
    [data-task="/"],
    [data-task="+"],
    [data-task="R"],
    [data-task="!"],
    [data-task="i"],
    [data-task="B"],
    [data-task="P"],
    [data-task="C"],
    [data-task="Q"],
    [data-task="N"],
    [data-task="b"],
    [data-task="I"],
    [data-task="p"],
    [data-task="L"],
    [data-task="E"],
    [data-task="A"],
    [data-task="r"],
    [data-task="c"],
    [data-task="o"],
    [data-task="d"],
    [data-task="T"],
    
    [data-task="t"],
    [data-task="O"],
    [data-task="F"],
    [data-task="W"],
    [data-task="~"],
    [data-task="@"],
    [data-task="f"],
    [data-task="a"],
    [data-task="&"],
    [data-task="s"],
    [data-task="H"]
) {
    &,
    &:after {
        background-color: unset;
        background-size: 0;
        background-image: none;
        transform: unset;
        -webkit-mask-image: unset;
    }
}