input[type=checkbox]:checked:after 
{ display: block; }

//Minimal Theme Fixes
input[type][type=checkbox]:checked,
input[type][type=checkbox]:checked:after 
{
    background-color: unset;
    background-size: 0;
    background-image: none;
    transform: unset;
    -webkit-mask-image: unset;
}