
$checkboxes: (
    "x": (
        // icon: "\EC01",
        // color: var(--accent2-lite, var(--text-accent)),
        // text-color: var(--text-faint),
        // norm-text: var(--text-faint),
		// font-weight: bold,
        // background: rgba(var(--chbx-R), 20%),
        // border: 2px solid rgb(var(--chbx-R)),
        strike: checkbox-strike-regular
    ),
    "X": (
        icon: "\EC01",
        color: var(--accent2-lite, var(--text-accent)),
        text-color: var(--text-faint),
        norm-text: var(--text-faint),
		font-weight: bold,
        background: rgba(var(--chbx-R), 20%),
        border: 2px solid rgb(var(--chbx-R)),
        strike: checkbox-strike-checked
    ),
    ">": (
        icon: "\EC03",
        color: var(--text-normal),
        text-color: var(--text-normal),
        norm-text: var(--text-faint),
		font-weight: bold,
        background: rgba(var(--chbx-h), 20%),
        border: 2px double rgb(var(--chbx-h)),
        strike: checkbox-strike-frwd
    ),
    "D": (
        icon: "\EC04",
        color: rgb(var(--chbx-h)),
        text-color: rgb(var(--chbx-h)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-h), 20%),
        border: 2px solid rgb(var(--chbx-h)),
        strike: checkbox-strike-date
    ),
    "-": (
        icon: "\EC02",
        color: rgb(var(--chbx-d)),
        text-color: rgb(var(--chbx-d)),
        norm-text: var(--text-faint),
		font-weight: bold,
        background: rgba(var(--chbx-d), 20%),
        border: 2px solid rgb(var(--chbx-d)),
        strike: checkbox-strike-dropped
    ),
    "?": (
        icon: "\EC05",
        color: rgb(var(--chbx-q)),
        text-color: rgb(var(--chbx-q)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-q), 20%),
        border: 2px dashed rgb(var(--chbx-q)),
        strike: checkbox-strike-q
    ),
    "!": (
        icon: "\EC08",
        color: rgb(var(--chbx-i)),
        text-color: rgb(var(--chbx-i)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-i), 20%),
        border: 2px solid rgb(var(--chbx-i)),
        strike: checkbox-strike-imp
    ),
    "+": (
        icon: "\EC06",
        color: rgb(var(--chbx-a)),
        text-color: rgb(var(--chbx-a)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-a), 20%),
        border: 2px dashed rgb(var(--chbx-a)),
        strike: checkbox-strike-add
    ),
    "/": (
        icon: "\EC17",
        color: var(--accent, var(--interactive-accent)),
        text-color: var(--text-muted),
        norm-text: var(--text),
		font-weight: inherit,
        background: linear-gradient(to left, var(--accent, var(--interactive-accent)) 0%,transparent 1%),
        border: 2px dashed rgb(var(--chbx-R)),
        strike: checkbox-strike-half
    ),
    "R": (
        icon: "\EC07",
        color: rgb(var(--chbx-R)),
        text-color: rgb(var(--chbx-R)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-R), 20%),
        border: 2px dashed rgb(var(--chbx-R)),
        strike: checkbox-strike-rsrch
    ),
    "i": (
        icon: "\EC09",
        color: rgb(var(--chbx-id)),
        text-color: rgb(var(--chbx-id)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-id), 20%),
        border: 2px dashed rgb(var(--chbx-id)),
        strike: checkbox-strike-idea
    ),
    "B": (
        icon: "\EC10",
        color: rgb(var(--chbx-B)),
        text-color: rgb(var(--chbx-B)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-B), 20%),
        border: 2px double rgb(var(--chbx-B)),
        strike: checkbox-strike-brn
    ),
    "P": (
        icon: "\EC11",
        color: rgb(var(--chbx-P)),
        text-color: rgb(var(--chbx-P)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-P), 20%),
        border: 2px solid rgb(var(--chbx-P)),
        strike: checkbox-strike-pro
    ),
    "C": (
        icon: "\EC12",
        color: rgb(var(--chbx-C)),
        text-color: rgb(var(--chbx-C)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-C), 20%),
        border: 2px solid rgb(var(--chbx-C)),
        strike: checkbox-strike-con
    ),
    "I": (
        icon: "\EC16",
        color: rgb(var(--chbx-I)),
        text-color: rgb(var(--chbx-I)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-I), 20%),
        border: 2px solid rgb(var(--chbx-I)),
        strike: checkbox-strike-info
    ),
    "Q": (
        icon: "\EC13",
        color: rgb(var(--chbx-R)),
        text-color: rgb(var(--chbx-R)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-R), 20%),
        border: 2px solid rgb(var(--chbx-R)),
        strike: checkbox-strike-quot
    ),
    "N": (
        icon: "\EC14",
        color: rgb(var(--chbx-N)),
        text-color: rgb(var(--chbx-N)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-N), 20%),
        border: 2px solid rgb(var(--chbx-N)),
        strike: checkbox-strike-note
    ),
    "b": (
        icon: "\EC15",
        color: rgb(var(--chbx-b)),
        text-color: rgb(var(--chbx-b)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-b), 20%),
        border: 2px solid rgb(var(--chbx-b)),
        strike: checkbox-strike-book
    ),
    "p": (
        icon: "\EC19",
        color: rgb(var(--chbx-R)),
        text-color: rgb(var(--chbx-R)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-R), 20%),
        border: 2px solid rgb(var(--chbx-R)),
        strike: checkbox-strike-para
    ),
    "E": (
        icon: "\EC18",
        color: rgb(var(--chbx-I)),
        text-color: rgb(var(--chbx-I)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-I), 20%),
        border: 2px solid rgb(var(--chbx-I)),
        strike: checkbox-strike-ex
    ),
    "L": (
        icon: "\EC21",
        color: rgb(var(--chbx-N)),
        text-color: rgb(var(--chbx-N)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-N), 20%),
        border: 2px solid rgb(var(--chbx-N)),
        strike: checkbox-strike-loc
    ),
    "A": (
        icon: "\EC20",
        color: rgb(var(--chbx-P)),
        text-color: rgb(var(--chbx-P)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-P), 20%),
        border: 2px solid rgb(var(--chbx-P)),
        strike: checkbox-strike-ans
    ),
    "r": (
        icon: "\EC22",
        color: rgb(var(--chbx-r)),
        text-color: rgb(var(--chbx-r)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-r), 20%),
        border: 2px solid rgb(var(--chbx-r)),
        strike: checkbox-strike-rwd
    ),
    "c": (
        icon: "\EC29",
        color: rgb(var(--chbx-c)),
        text-color: rgb(var(--chbx-c)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-c), 20%),
        border: 2px solid rgb(var(--chbx-c)),
        strike: checkbox-strike-choice
    ),
    "o": (
        icon: "\EC24",
        color: rgb(var(--chbx-b)),
        text-color: rgb(var(--chbx-b)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-b), 20%),
        border: 2px solid rgb(var(--chbx-b)),
        strike: checkbox-strike-option
    ),
    "d": (
        icon: "\EC25",
        color: rgb(var(--chbx-I)),
        text-color: rgb(var(--chbx-I)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-I), 20%),
        border: 2px dashed rgb(var(--chbx-I)),
        strike: checkbox-strike-do
    ),
    "T": (
        icon: "\EC26",
        color: rgb(var(--chbx-R)),
        text-color: rgb(var(--chbx-R)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-R), 20%),
        border: 2px solid rgb(var(--chbx-R)),
        strike: checkbox-strike-time
    ),
    "t": (
        icon: "\EC27",
        color: rgb(var(--chbx-R)),
        text-color: rgb(var(--chbx-R)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-R), 20%),
        border: 2px solid rgb(var(--chbx-R)),
        strike: checkbox-strike-talk
    ),
    "O": (
        icon: "\E805",
        color: rgb(var(--selected-rgb)),
        text-color: rgb(var(--selected-rgb)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--selected-rgb), 20%),
        border: 2px solid rgb(var(--selected-rgb)),
        strike: checkbox-strike-plot
    ),
    "F": (
        icon: "\EC28",
        color: rgb(var(--chbx-h)),
        text-color: rgb(var(--chbx-h)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-h), 20%),
        border: 2px solid rgb(var(--chbx-h)),
        strike: checkbox-strike-fore
    ),
    "W": (
        icon: "\E813",
        color: rgb(var(--chbx-P)),
        text-color: rgb(var(--chbx-R)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-P), 20%),
        border: 2px solid rgb(var(--chbx-P)),
        strike: checkbox-strike-world
    ),
    "~": (
        icon: "\EC33",
        color: rgb(var(--chbx-C)),
        text-color: rgb(var(--chbx-C)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-C), 20%),
        border: 2px solid rgb(var(--chbx-C)),
        strike: checkbox-strike-conf
    ),
    "@": (
        icon: "\E900",
        color: rgb(var(--chbx-b)),
        text-color: rgb(var(--chbx-b)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-b), 20%),
        border: 2px solid rgb(var(--chbx-b)),
        strike: checkbox-strike-char
    ),
    "f": (
        icon: "\E81E",
        color: rgb(var(--chbx-N)),
        text-color: rgb(var(--chbx-N)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-N), 20%),
        border: 2px solid rgb(var(--chbx-N)),
        strike: checkbox-strike-clue
    ),
    "H": (
        icon: "\EC30",
        color: rgb(var(--chbx-a)),
        text-color: rgb(var(--chbx-a)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-a), 20%),
        border: 2px solid rgb(var(--chbx-a)),
        strike: checkbox-strike-heal
    ),
    "&": (
        icon: "\EC32",
        color: rgb(var(--chbx-B)),
        text-color: rgb(var(--chbx-B)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-B), 20%),
        border: 2px solid rgb(var(--chbx-B)),
        strike: checkbox-strike-symb
    ),
    "s": (
        icon: "\EC31",
        color: rgb(var(--chbx-d)),
        text-color: rgb(var(--chbx-d)),
        norm-text: var(--text),
		font-weight: inherit,
        background: rgba(var(--chbx-d), 20%),
        border: 2px solid rgb(var(--chbx-d)),
        strike: checkbox-strike-lock
    )
    
);

