body:not(.alt-chkbx-off) {
    & .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task],
    & .task-list-item.is-checked {
        &:is(
            [data-task="X"],
            [data-task=">"],
            [data-task="-"],
            [data-task=">"],
            [data-task="D"],
            [data-task="?"],
            [data-task="/"],
            [data-task="+"],
            [data-task="R"],
            [data-task="!"],
            [data-task="i"],
            [data-task="B"],
            [data-task="P"],
            [data-task="C"],
            [data-task="Q"],
            [data-task="N"],
            [data-task="b"],
            [data-task="I"],
            [data-task="p"],
            [data-task="L"],
            [data-task="E"],
            [data-task="A"],
            [data-task="r"],
            [data-task="c"],
            [data-task="o"],
            [data-task="d"],
            [data-task="T"],
            
            [data-task="t"],
            [data-task="O"],
            [data-task="F"],
            [data-task="W"],
            [data-task="~"],
            [data-task="@"],
            [data-task="f"],
            [data-task="a"],
            [data-task="&"],
            [data-task="s"],
            [data-task="H"]
        ) {
            --checkbox-marker-color: transparent;
            --checkbox-color: transparent;
            
            & input:is([type=checkbox], [type=checkbox i]):checked {

                font: var(--its);
                font-family: var(--its);
                font-size: inherit;
                font-weight: 10;
                text-align: center;
                
                border: 0;
                cursor: pointer;

                &::after { 
                    top: -4px; 
                    left: 0px;
                    -webkit-mask-image: unset;
                }
            }
        }
    }
}


ul > li.task-list-item[data-task="x"] > ul li:not([data-task="x"]) {
    color: var(--text-normal);
}