@use 'Style Settings' as StSe;
@use 'Fonts';


// Alternate Themes
@use 'Th--SlRvb Blue' as sblue;
@use 'Th--SlRvb Gray' as sGray;
@use 'Th--School Days' as sd;
@use 'Th--D&D' as DND;
@use 'Th--D&D WOTC' as WOTC;
@use 'Th--Tangerine Dunes' as td;
@use 'Th--Drowned';
@use 'Th--ITS Dark' as itsd;


/* Alternate Color Schemes*/
@use 'Th--Nord';
//@use 'Th--Dracula' as Dracula;

