/*Live Preview Indent Style*/
.alt-ind .HyperMD-list-line-2 .cm-hmd-list-indent  { background-color: var(--b-l-1); }
.alt-ind .HyperMD-list-line-3 .cm-hmd-list-indent  { background-color: var(--b-l-2); }
.alt-ind .HyperMD-list-line-4 .cm-hmd-list-indent  { background-color: var(--b-l-3); }
.alt-ind .HyperMD-list-line-5 .cm-hmd-list-indent  { background-color: var(--b-l-4); }
.alt-ind .HyperMD-list-line-6 .cm-hmd-list-indent  { background-color: var(--b-l-5); }
.alt-ind .HyperMD-list-line-7 .cm-hmd-list-indent  { background-color: var(--b-l-6); }
.alt-ind .HyperMD-list-line-8 .cm-hmd-list-indent  { background-color: var(--sphd-ed-1); }
.alt-ind .HyperMD-list-line-9 .cm-hmd-list-indent  { background-color: var(--sphd-ed-2); }
.alt-ind .HyperMD-list-line-10 .cm-hmd-list-indent { background-color: var(--sphd-ed-3); }
.alt-ind .HyperMD-list-line-11 .cm-hmd-list-indent { background-color: var(--sphd-ed-4); }
.alt-ind .HyperMD-list-line-12 .cm-hmd-list-indent { background-color: var(--sphd-ed-5); }
.alt-ind .HyperMD-list-line-13 .cm-hmd-list-indent { background-color: var(--sphd-ed-6); }


