
/*Specific Heading Adjustments*/
.head-spec h1 { 
    color: var(--sphd-pre-1);
    font-family: var(--sphd-pre-ff-1);
    font-size: var(--sphd-pre-fs-1);
}
.head-spec h2 { 
    color: var(--sphd-pre-2);
    font-family: var(--sphd-pre-ff-2);
    font-size: var(--sphd-pre-fs-2);
}
.head-spec h3 { 
    color: var(--sphd-pre-3);
    font-family: var(--sphd-pre-ff-2);
    font-size: var(--sphd-pre-fs-3);
}
.head-spec h4 { 
    color: var(--sphd-pre-4);
    font-family: var(--sphd-pre-ff-4);
    font-size: var(--sphd-pre-fs-4);
}
.head-spec h5 { 
    color: var(--sphd-pre-5);
    font-family: var(--sphd-pre-ff-5);
    font-size: var(--sphd-pre-fs-5);
}
.head-spec h6 { 
    color: var(--sphd-pre-6);
    font-family: var(--sphd-pre-ff-6);
    font-size: var(--sphd-pre-fs-6);
}
.head-spec .cm-header-1 { 
    color: var(--sphd-ed-1);
    font-family: var(--sphd-ed-ff-1);
    font-size: var(--sphd-ed-fs-1);
}
.head-spec .cm-header-2 { 
    color: var(--sphd-ed-2);
    font-family: var(--sphd-ed-ff-2);
    font-size: var(--sphd-ed-fs-2);
}
.head-spec .cm-header-3 { 
    color: var(--sphd-ed-3);
    font-family: var(--sphd-ed-ff-3);
    font-size: var(--sphd-ed-fs-3);
}
.head-spec .cm-header-4 { 
    color: var(--sphd-ed-4);
    font-family: var(--sphd-ed-ff-4);
    font-size: var(--sphd-ed-fs-4);
}
.head-spec .cm-header-5 { 
    color: var(--sphd-ed-5);
    font-family: var(--sphd-ed-ff-5);
    font-size: var(--sphd-ed-fs-5);
}
.head-spec .cm-header-6 { 
    color: var(--sphd-ed-6);
    font-family: var(--sphd-ed-ff-6);
    font-size: var(--sphd-ed-fs-6);
}