
/*Arrows*/
.collapse-icon svg {
    transition: transform 100ms ease-in-out;
    color: var(--lines);
}
.collapse-icon { margin-top: 0; }
.markdown-preview-view .collapse-icon { margin-top: -2px; }
.markdown-preview-view .heading-collapse-indicator { margin-top: calc(var(--f-s-h) * -.3px); }
.publish-section-header-toggle-collapsed-button { margin-top: 2px;}


/*Setting Dropdown Arrow*/
.dropdown {
    background-color: var(--embed-bg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' aria-hidden='true' focusable='false' width='1em' height='1em' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);' preserveAspectRatio='xMidYMid meet' viewBox='0 0 128 128'%3E%3Cpath d='M64 115.58c-1.01 0-1.96-.51-2.5-1.37L.69 19.58C.1 18.67.06 17.5.58 16.55A2.96 2.96 0 0 1 3.19 15h121.62c1.09 0 2.09.59 2.61 1.55c.52.95.48 2.12-.11 3.03L66.5 114.22c-.54.85-1.49 1.36-2.5 1.36z' fill='%234e5b6f'/%3E%3C/svg%3E");
    border-radius: var(--radius);
    border: 1px solid var(--table);
    font-size: var(--f-text);
    font-family: var(--default-font);
}


/*Slider Colors*/
input[type='range'] {
    background-color: var(--bg);
    border-radius: var(--radius);
}
input[type='range']::-webkit-slider-thumb {
    border-radius: var(--radius);
}

