
/*--Links--*/
/*Active Link*/
.reveal a { color: var(--interactive-normal); }
.markdown-source-view.mod-cm6 .cm-underline,
a, .markdown-preview-view .internal-link {
    text-decoration: none; /*No underline*/
}
.reveal a:hover,
a:hover {
    color: var(--lite-accent);
}

/*Link to No Page*/
body .markdown-source-view.mod-cm6 .is-unresolved .cm-hmd-internal-link,
.markdown-source-view.mod-cm6 .is-unresolved,
.markdown-preview-view .internal-link.is-unresolved {
    opacity: 1;
    color: var(--inactive);
}
.markdown-preview-view .internal-link.is-unresolved:hover {
    color: var(--headers);
}

/*-External Links-*/
/*Hide SVG Image*/
.external-link {
    background-image: url();
    padding-right: unset;
}
/*Hover Color*/
.external-link:hover {
    color: var(--inactive);
}

/*Change External Link Symbol*/
.external-link:after {
    content: "\e809";
    font-family: var(--its);
    padding-left: 2px;
    display: inline-block;
    font-size: inherit;
    opacity: .5;
    font-weight: 400 !important;
    font-style: normal !important;
}

/*Editor Links*/
/*Internal Link Hover color*/
.cm-s-obsidian span.cm-hmd-internal-link:hover {
    text-decoration: none;
    color: var(--inactive);
}

/*Markdown Links*/
/*Text in Brackets
.cm-s-obsidian span.cm-link {
    color: var(--inactive);
}*/
/*Link in parentheses*/
.cm-s-obsidian span.cm-url {
    color: var(--headers);
    text-decoration: none;
}
/*Link Hover Color*/
.cm-s-obsidian span.cm-url:hover {
    color: var(--inactive);
}
.markdown-rendered .internal-link,
.markdown-rendered .external-link,
.internal-link,
.external-link,
.cm-link,
.cm-hmd-internal-link,
a:not(.tag)
{
    font-family: var(--link-f);
    // font-weight: var(--f-w-l);
    text-decoration: none;
}

/*Notion Style Links*/
.link-ntn {
    & .internal-link,
    & .external-link,
    & .cm-link,
    & .cm-hmd-internal-link 
    {
        --text-accent: var(--text);
        --accent2-lite: var(--text);

        font-weight: 600;
        border-bottom: 1px solid var(--inactive);
    }
    & a { font-weight: 600; }
    
    & .external-link,
    & .cm-underline,
    & .cm-link { 
        --text-accent: var(--soft-text); 
        --accent2-lite: var(--soft-text);
    }
    
    & .external-link:hover,
    & .internal-link:hover,
    & .cm-underline:hover {
        background: var(--text-highlight-bg);
    }
    & .cm-s-obsidian span.cm-url {
        color: var(--footnote);
    }
}

/* Uppercase/All Caps Link */
.link-caps :is(
    .cm-underline,
    a:not(.tag),
    .internal-link
) {
    text-transform: uppercase;
    // font-size: calc(var(--f-s-text) - .05em);
    letter-spacing: 0.30px;
}

.link-underline :is(
    .cm-underline.cm-underline.cm-underline,
    a:not(.tag),
    .internal-link
) {
    text-decoration: 2px underline var(--accent2-lite);
}