
/*--Popover--*/
/*Larger Popover*/
.popover.hover-popover {
    width: 650px;
    border-radius: var(--radius);
    min-height: 100px;
    max-height: 600px;
    border: 2px solid var(--outline);
    box-shadow: -5px 5px var(--outline);
}

/*Show More Embed in Popover*/
.popover.hover-popover .markdown-embed {
    height: 500px;
}

/*Popover: Fix Embed Height Inside*/
.popover.hover-popover .markdown-embed .markdown-embed {
    height: unset;
}

/*Fit image in popover*/
.popover.hover-popover img:not([alt]) {
    max-width: 100%;
    height: auto;
}

/*Crop Image in Popover*/
.popover.hover-popover img:not([alt]):not(.emoji) {
    object-fit: cover;
    height: 200px;
    width: 100%;
    object-position: center;
}

/*Popover Link Bg Color*/
.popover .markdown-embed-link, .file-embed-link {
    background-color: var(--dark-accent);
    padding: 5px 5px 0px 5px;
}

/*Popover HR, Horizontal Line BG*/
.popover.hover-popover hr:after {
    background-color: var(--note) !important;
}

/*Fit Text Within Popover**
.popover {
  font-size: var(--f-text);
  text-align: justify;
}*/
