progress {
    border-radius: var(--radius); 
<<<<<<< HEAD
    -webkit-appearance: none;
    appearance: none;
=======
>>>>>>> 1a95996baa005634825a5982ad175d70b9904f98
}
progress::-webkit-progress-bar {
    background: var(--bg);
}
progress::-webkit-progress-value {
    background: var(--c2, var(--accent));
}