progress {
    border-radius: var(--radius); 
    -webkit-appearance: none;
    appearance: none;
}
progress::-webkit-progress-bar {
    background: var(--bg);
}
progress::-webkit-progress-value {
    background: var(--c2, var(--accent));
}