
/*Command Palette*/
.prompt .suggestion-prefix::after { display: none; }
.prompt .suggestion-prefix {
    color: var(--headers);
    font-weight: 600;
    padding: 3px 7px 0 0;
}
.prompt .suggestion-item.is-selected {
    font-weight: 600;
    background-color: var(--text-highlight-bg);
    // background-color: var(--code-bg);
    // color: var(--text-dl);
}

// .suggestion-item:nth-child(even):not(.is-selected) {
//     background-color: var(--aside-bg);
// }
