.paper
{
    //Burnt Paper Edges
    & ,
    & .markdown-source-view,
    & .markdown-preview-view:not(.internal-embed .markdown-preview-view):not(.community-plugin-readme):not(.kanban-plugin__markdown-preview-view),
    & .workspace-leaf:not(.mod-active) .view-header,
    & .modal.mod-settings .vertical-tab-content-container,
    & .workspace-leaf-content[data-type="graph"] > canvas,
    & .workspace-drawer-inner,
    & .modal,
    & .community-plugin-search,
    & .prompt,
    & .kanban-plugin__lane.kanban-plugin__lane
    { box-shadow: 0 0 60px var(--outline) inset; }
    
    & .workspace-tabs,
    & .modal.mod-settings .vertical-tab-header 
    { box-shadow: 0 0 25px var(--outline) inset; }


    //Transparent BGs
    & .CodeMirror-gutter.CodeMirror-linenumbers, 
    & .CodeMirror-gutter.CodeMirror-foldgutter,
    & .markdown-source-view.mod-cm6 .cm-gutters,
    & .workspace-leaf:not(.mod-active) .workspace-tab-header-container,
    & .workspace-tabs .workspace-leaf,
    & .workspace-tab-header-container,
    & .horizontal-tab-content,
    & .vertical-tab-content,
    & .horizontal-tab-nav-item:not(.is-active),
    & .vertical-tab-nav-item:not(.is-active) {
        background: transparent;
    }
}
