body {
    --dataview-th-border-bottom: 2px solid var(--headers);
    --dataview-th-background: var(--outer-bar);
    --dataview-th-alt-color: rgba(var(--accent-color), 10%);
    --dataview-th-color: var(--headers);
    --dataview-th-font: var(--font);
    --dataview-th-font-size: larger;
    --dataview-th-font-weight: var(--header-weight);

    --dataview-th-count-font-size: var(--font-text-size);
    --dataview-th-count-color: var(--text-on-accent);
    
    --dataview-table-width: 100%;
}

.table-view-table {
    width: var(--dataview-table-width);

    //Table header
    & > thead > tr {
        --table-header-background: var(--dataview-th-background);

        & > th { 
            --table-header-color: var(--dataview-th-color);
            --table-header-font: var(--dataview-th-font);
            font-size: var(--dataview-th-font-size);
            font-weight: var(--dataview-th-font-weight);
            border-bottom: var(--dataview-th-border-bottom); 
        }
        //Alternate th color
        & > th:nth-child(2n+2) { 
        --table-column-alt-background: var(--dataview-th-alt-color);
        }

        //Hover Text Color
        &:hover {
            & > th { --table-header-color: var(--text-dl); }
            --dataview-th-count-color: var(--text-dl);
        }
    }

    //Fix List in Table
    & ul { padding-inline-start: 0; }
}
    
//Dataview List Count   
.dataview.small-text {
    font-size: var(--dataview-th-count-font-size);
    color: var(--dataview-th-count-color);
}

//List
.dataview.list-view-ul {
    & li::marker { color: transparent; }
}

//dvjs
.dataview.result-group { padding-left: 0; }
.dataview.result-group > .contains-task-list {
    padding-inline-start: 0;

    & .task-list-item.is-checked .task-list-item-checkbox { margin-left: 0; }
}
.is-live-preview .block-language-dataviewjs > :is(p, span) {
    line-height: var(--lh);
}



//Inline Bracket Syntax
.dataview.dataview {
    &.inline-field-standalone-value {
        padding-left: 0;
        padding-right: 0;
        display: inline;
        border-radius: 0;
        font-family: inherit;
        background-color: transparent;
        
        //Remove Duplicate Tag in (field)
        & span > a.tag:nth-of-type(odd) { display: none; }
    }
    
    &.inline-field-key,
    &.inline-field-value {
        border-radius: var(--radius);
        font-family: inherit;
        font-weight: bold;
        padding: 0 10px;
    }

    &.inline-field-key { 
        background-color: var(--bttn);
        color: var(--text-dl);
    }

    &.inline-field-value { background-color: var(--td); }
    &.inline-field-value a.tag:first-child { display: none; }
} 




//Fix Embed Task & List Alignment
.dataview.dataview {
    & ul > li {
        &:not(.task-list-item)::before,
        & .task-list-item-checkbox { margin-left: 0; }
        
        & ul::before { left: .4em; } //List Line
    }
    & div div > ul { padding-inline-start: 0; }
}