/*--Plugin: 5e Statblock--*/
body:not(.default-statblock) {
    --statblock-primary-color: var(--text);
    --statblock-background-color: var(--note);
    --statblock-bar-color: var(--accent);
    --statblock-rule-color: var(--accent);

    --statblock-alt: var(--td);
    --statblock-alt-padding: 0.25em 0.3em;

    --statblock-image-border-color: var(--hr);

    --statblock-border-size: 0;
    --statblock-border-color: var(--lines);
    --statblock-bar-border-size: 0;
    --statblock-bar-border-color: var(--statblock-bar-color);

    --statblock-box-shadow-color: var(--outline);
    --statblock-box-shadow-x-offset: 0;
    --statblock-box-shadow-y-offset: 0;
    --statblock-box-shadow-blur: 20px;

    //Text
    --statblock-heading-font: var(--font);
    --statblock-heading-font-color: var(--headers);
    --statblock-heading-font-variant: normal;
    --statblock-heading-font-weight: var(--header-weight);
    --statblock-heading-line-height: 28px;

    --statblock-subheading-font-size: var(--font-small);
    --statblock-subheading-font-style: italic;
    --statblock-subheading-font-weight: normal;

    --statblock-font-color: var(--text);
    --statblock-content-font: var(--font-default);
    --statblock-content-font-size: var(--font-text-size);
    
    --statblock-property-name-font-color: var(--headers);
    --statblock-property-font-color: var(--text);

    --statblock-section-heading-border-size: 4px;
    --statblock-section-heading-border-color: var(--table);
    --statblock-section-heading-font-color: var(--footnote);
    --statblock-section-heading-font-size: var(--h3-size);
    --statblock-section-heading-font-variant: normal;
    --statblock-section-heading-font-weight: var(--header-weight);

    --statblock-traits-font-weight: bold;
    --statblock-traits-font-style: normal;
}


body:not(.default-statblock) .obsidian-statblock-plugin {
    --header-border-line-width: 0;
    --h1-border-line-width: var(--header-border-line-width);
    --h2-border-line-width: var(--header-border-line-width);
    --h3-border-line-width: var(--header-border-line-width);
    --h4-border-line-width: var(--header-border-line-width);
    --h5-border-line-width: var(--header-border-line-width);
    --h6-border-line-width: var(--header-border-line-width);

    & .statblock-content {
        padding: .45em;

        & .statblock-item-container { margin-bottom: .2rem; }
        & > div > .statblock-item-container:not(.group-container):not(.inline-container):not(.rule-container) {
            padding: var(--statblock-alt-padding);
        }
    }
    & .statblock-inline-item { padding: var(--statblock-alt-padding); }

    //Alt Coloring
    & .column > .statblock-item-container:nth-child(odd):not(
        .rule-container, 
        .table-container,
        .traits-container,
        .heading-container
    ) { background: var(--statblock-alt); }
    
    //Fix Text Color
    // & .property-text, 
    // & .line.line 
    // { color: var(--statblock-font-color); }

    & .spell-list .spell-level .property-text,
    & .property-name { color: var(--statblock-property-name-font-color); }
    
    //Spells
    & .spell-list .spell-level .property-text { font-weight: 600; }
    & .spell-list .spells .property-text { font-style: normal; }


    & li::marker { --list-marker-color: transparent; }
}

//Fix HCL Styling
.obsidian-statblock-plugin :is(.statblock-heading.heading, .section-header)
{
    &::before,
    &::after { display: none; }

    & > :not(.collapse-indicator) { margin: 0; }
}
