.sidebar-ribbon-float:not(.is-mobile),
.sidebar-ribbon-mini-float:not(.is-mobile)
{
    //Float
    & .side-dock-ribbon.mod-right,
    & .side-dock-ribbon.mod-left {
        position: absolute;
        border: 1px solid var(--lines);
        box-shadow: 4px 4px 0 var(--outline);
        width: var(--ribbon-width);
        top: var(--ribbon-float-top);
        bottom: var(--ribbon-float-bottom);

        --ribbon-background-collapsed: var(--ribbon-background)
    }

    //Float Positioning
    & .side-dock-ribbon.mod-right   { right: 10px; }
    & .side-dock-ribbon.mod-left    { left: 10px; }
    
    &.sidebar-float-top {
        --ribbon-float-top: 45px;
    }
    &.sidebar-float-bottom {
        --ribbon-float-bottom: 45px;
    }
     &.sidebar-float-center {
         & .side-dock-ribbon.mod-right,
         & .side-dock-ribbon.mod-left {
             --ribbon-float-top: 50%;
            transform: translate(0,-50%);
    }
    }

    //Styling
    & .side-dock-settings 
    { border-top: var(--tab-outline-width) solid var(--tab-outline-color); }

    & .sidebar-toggle-button { position: relative; }
    & .side-dock-actions { margin-top: 0; }
}