.canvas-cards .canvas-node.is-themed {
    --shadow-border-themed-inset: none;
    --shadow-border-themed: none;

    & .canvas-node-container {
        border-color: var(--outline);
        box-shadow: inset 0 0 0 2px var(--outline), var(--shadow-m);
        
        &:hover .canvas-node-content {
            background-color: rgba(var(--canvas-color), .2);
        }
    }
}
.canvas-node-connection-point::after {
    border-color: rgb(var(--canvas-color));
}