.list-lines-color.list-lines-color {
    --list-color-1: var(--rainbow-1);
    --list-color-2: var(--rainbow-2);
    --list-color-3: var(--rainbow-3);
    --list-color-4: var(--rainbow-4);
    --list-color-5: var(--rainbow-5);
    --list-color-6: var(--rainbow-6);
}
