/*----Theme: Drowned----*/
.drwn {
    --hr-sym: "\f1cd";
    --hr-f: var(--mdi);

}

.theme-dark {
    &.drwn,
    & .drwn {
        --outer-bar: #0b0f13;
        --note: #1a1e24;
        --text: #bccad8;

        --headers: #399F94;
        --file: #71a6b7;
        --code-text: #72cdd0;
        --i-at: #5EBFA9;
        --f-icon: #204c5d;
        --folder: #58c8e0;
        --slide-shadow: rgba(0,74,63,0.08);
        --hr: #0f465d;
        --tag: #1A5753;
        --accent: #378876;
        --lite-accent: #6CE0D3;
        --accent2: #5cb2d6;
        --accent2-lite: #49d8e2;
        --dark-accent: #216565;
        --deep-dark-accent: #103F3D;
        --inactive: #2b5b77;
        --td: rgba(6,12,12,0.38);

        --lines: #1e4765;
        --bg: #1e2f33;
        --table: #2b4448;
        --th: var(--dark-accent);
    }
}
.theme-light {
    &.drwn,
    & .drwn {
    --outer-bar: #eef3fd;
    --note: #f8fbff;
    --text: #697580;


    --soft-text: #4ED0B8;
    --headers: #40B1A4;
    --file: #7EA3A2;
    --code-text: #69cfd2;
    --i-at: #43C1AE;
    --footnote: #89A09E;
    --f-icon: #A6DED8;
    --folder: #a1d9ff;

    --dark-sidebar: #e8f9f7;
    --embed-bg: #f1f5ff;

    --hr: #D6EAE9;
    --lines: #b8e5e7;
    --tag: #49b99d;
    --accent: #43C1A5;
    --lite-accent: #51a38e;
    --accent2: #D6EAE3;
    --accent2-lite: #75c8b9;
    --dark-accent: #25a99e;
    --deep-dark-accent: #102F26;
    --inactive: #A6DED4;
    --table: #CCEBE2;
    --fg: #2E918A;
    --bg: var(--table);
    --th: var(--headers);
}}