//Alternate Color Schemes

@use 'SlRvb-Gray';
@use 'SlRvb-Blue';
@use 'WOTC';
@use 'SlRvb-DnD';
@use 'Pathfinder';
@use 'Minimalist';
@use 'Drowned';
@use 'ITS-Dark';
@use 'Nebula';
@use 'Notion';
@use 'School-Days';
@use 'Tangerine-Dunes';
@use 'Nord';
@use 'Adventure';
@use 'In-The-Shadows';



//Reapplication
.slrvb-g,
.slrvb-b,
.wotc-beyond,
.dnd,
.pathfinder,
.notion,
.drwn,
.its-d,
.mini,
.nebula,
.s-d,
.t-d,
.nord,
.its
{
    --h1-font: var(--font);
    --h2-font: var(--font);
    --h3-font: var(--font);
    --h4-font: var(--font);
    --h5-font: var(--font);
    --h6-font: var(--font);
    --h1-weight: var(--header-weight);
    --h2-weight: var(--header-weight);
    --h3-weight: var(--header-weight);
    --h4-weight: var(--header-weight);
    --h5-weight: var(--header-weight);
    --h6-weight: var(--header-weight);
    --h1-color: var(--headers);
    --h2-color: var(--headers);
    --h3-color: var(--headers);
    --h4-color: var(--headers);
    --h5-color: var(--headers);
    --h6-color: var(--headers);
    
    
    --h1-border-line-height: var(--header-border-line-height);
    --h2-border-line-height: var(--header-border-line-height);
    --h3-border-line-height: var(--header-border-line-height);
    --h4-border-line-height: var(--header-border-line-height);
    --h5-border-line-height: var(--header-border-line-height);
    --h6-border-line-height: var(--header-border-line-height);
    
    --header-border-line-color: var(--table);
    --h1-border-line-color: var(--header-border-line-color);
    --h2-border-line-color: var(--header-border-line-color);
    --h3-border-line-color: var(--header-border-line-color);
    --h4-border-line-color: var(--header-border-line-color);
    --h5-border-line-color: var(--header-border-line-color);
    --h6-border-line-color: var(--header-border-line-color);
    
    --h1-border-left-color: var(--h1-border-line-color);
    --h2-border-left-color: var(--h2-border-line-color);
    --h3-border-left-color: var(--h3-border-line-color);
    --h4-border-left-color: var(--h4-border-line-color);
    --h5-border-left-color: var(--h5-border-line-color);
    --h6-border-left-color: var(--h6-border-line-color);
    
    --h1-border-right-color: var(--h1-border-line-color);
    --h2-border-right-color: var(--h2-border-line-color);
    --h3-border-right-color: var(--h3-border-line-color);
    --h4-border-right-color: var(--h4-border-line-color);
    --h5-border-right-color: var(--h5-border-line-color);
    --h6-border-right-color: var(--h6-border-line-color);

    // --h1-background: var(--theme-rainbow-1);
    // --h2-background: var(--theme-rainbow-2);
    // --h3-background: var(--theme-rainbow-3);
    // --h4-background: var(--theme-rainbow-4);
    // --h5-background: var(--theme-rainbow-5);
    // --h6-background: var(--theme-rainbow-6);

    --icon-color: var(--soft-text);
    --metadata-icon-color: var(--icon-color);
    --metadata-button-text-color: var(--inactive);


    --inline-title-color: var(--headers);
    --inline-title-font: var(--h1-font);
    --inline-title-weight: var(--h1-weight);

    --link-color: var(--accent2-lite);
    --link-color-hover: var(--lite-accent);
    --link-external-color: var(--text-accent);
    --link-external-color-hover: var(--text-accent-hover);
    --link-unresolved-color: var(--inactive);

    --embed-border-left-color: var(--headers);
    --embed-border-color-hover: var(--outline);
    --embed-border-left-color-hover:    var(--embed-border-left-color);
    --embed-border-right-color-hover:   var(--embed-border-color-hover);
    --embed-border-top-color-hover:     var(--embed-border-color-hover);
    --embed-border-bottom-color-hover:  var(--embed-border-color-hover);

    --code-normal: var(--code-text);
    --code-background: var(--code-bg);
    
    --checkbox-color: var(--accent);
    --checkbox-border-color: var(--accent);
    --checkbox-color-hover: var(--dark-accent);
    
    --lines: var(--hr);
    --indentation-guide-color: var(--lines);
    --indentation-guide-color-active: var(--accent);
    --list-color-1: var(--indentation-guide-color);
    --list-color-2: var(--indentation-guide-color);
    --list-color-3: var(--indentation-guide-color);
    --list-color-4: var(--indentation-guide-color);
    --list-color-5: var(--indentation-guide-color);
    --list-color-6: var(--indentation-guide-color);

    --list-marker-color: var(--accent);
    --list-numbered-color: var(--lite-accent);
    
    --th: var(--dark-accent);
    --table-header-background: var(--th);
    --table-header-background-hover: var(--accent);
    --table-column-alt-background: var(--td);
    --table-row-alt-background: var(--td);
    --table-row-background-hover: var(--highlight);
    --table-border-color: var(--note);
    --dataview-th-count-color: var(--text-on-accent);
    --dataview-th-background: var(--outer-bar);
    --dataview-th-alt-color: rgba(var(--accent-color), 10%);
    --dataview-th-color: var(--headers);
    --dataview-th-border-bottom: 2px solid var(--headers);
    
    --tag: var(--dark-accent);
    --tag-background: var(--tag);
    --tag-background-hover: var(--accent);
    --tag-border-color: var(--tag);
    --tag-border-color-hover: var(--accent);

    --embed-border-left: 2px solid var(--headers);

    --hr-color: var(--hr);
    --hr-icon-color: var(--headers);
    --hr-icon-background: var(--note);
    
    --blockquote-border-color: var(--bg);
    --blockquote-background-color: var(--embed-bg);

    --folder: var(--headers);
    // --folder-open: var(--text);
    // --file-icon-color: var(--inactive);
    --nav-item-background-hover: var(--dark-accent);
    --sidebar-tab-background-color-hover: var(--accent);

    --latex-color: var(--lite-accent);
    --latex-format-color: var(--inactive);
    --latex-syntax-color: var(--soft-text);
    
    --i-at: var(--soft-text);

    //
    background-color: var(--background-primary);
    --background-primary: var(--note);
    --background-primary-alt: var(--deep-dark-accent);
    --background-secondary: var(--side-bar);
    --background-secondary-alt: var(--outer-bar);

    --background-modifier-border: var(--table);
    --background-modifier-hover: var(--hvr-active);
    
    --background-modifier-form-field: var(--td);

    --text-highlight-bg: var(--hvr);
    --text-highlight-bg-active: var(--hvr-active);
    --text-selection: var(--highlight); 
    

    --text-normal: var(--text); 
    --text-muted: var(--soft-text);
    --text-accent: var(--accent2-lite);
    --text-accent-hover: var(--accent2);
    // --text-faint: var(--accent2);

    --interactive-normal: var(--outer-bar);
    --interactive-hover: var(--inactive);
    --interactive-accent: var(--dark-accent);
    --interactive-accent-hover: var(--inactive);

    --scrollbar-bg: var(--bg);
    --scrollbar-thumb-bg: var(--tag);

    --graph-bg: var(--note);
    --graph-lines: var(--highlight);
    --graph-node: var(--text);
    --graph-fill: var(--lite-accent);
    --graph-404: var(--inactive);
    --graph-img: var(--accent2);
    --graph-tag: var(--dark-accent);
    --graph-focused: var(--accent2-lite);
}