.mini {
    --font: var(--font-default);
    --background-modifier-hover: var(--td);
    --tag-color: var(--accent2-lite);
    
    //Minimalist Adjustments
    --hr-icon-symbol: ;
    --file-icon: ;
    --folder-icon: ;
    
    --header-border-line-height: 0;
    --nav-item-border-width: 2px;
    --nav-item-border-color: var(--text);
    --setting-item-heading-border: 2px solid var(--accent);

    --shadow-s: 1px 1px 0 var(--outline);
    --shadow-l: 4px 4px 0 var(--outline);
    --modal-border-width: 1px;
    --modal-border-color: var(--table);
    --tab-outline-color: transparent;
    // --nav-item-background-border-color-hover: var(--accent);

    --drag-ghost-text-color: var(--text);
    
    --message-color: var(--text);
    --message-border-width: 1px;
}

.theme-dark {
    &.mini,
    & .mini {
        // --background-modifier-form-field-highlighted: rgba(113, 132, 162, 0.295);
        --outer-bar: var(--note);
        --dark-sidebar: var(--note);
        --side-bar: var(--note);

        --note: #1a1e24;
        --note-rgb: 26, 30, 36;

        --accent-color: ;
        --accent: #546078;
        --lite-accent: #aab3ca;
        --dark-accent: #394151;
        --deep-dark-accent: var(--note);
        --accent2-lite: var(--text-dl);
        
        --headers: var(--text);
        --code-text: var(--text);
        --i-at: var(--text-faint);
        --inactive: #586477;
        --tag-text: var(--accent2-lite);
        
        //--bg: #191d22;
        --code-bg: #232831;
        --aside-bg: var(--note);
        --embed-bg: var(--note);
        --tag: var(--note);
        
        --folder: var(--text-dl);
        --file-icon-color: #aab3ca;
    
        --th: var(--note);
        --td: #06080c50;

        --table: var(--bg);
        --outline: #0b0f13;

        --highlight: rgba(81, 100, 122, 0.6);
        --hvr: rgba(87, 113, 156, 0.4);
        --hvr-active: rgba(101, 124, 156, 0.4);
        
        --graph-bg: var(--outer-bar);
        --graph-lines: #363c4950;
        --graph-node: var(--fg);
        --graph-fill: var(--headers);
        --graph-404: #727e93;
        --graph-img: #6b90ad;
        --graph-tag: black;
        --graph-focused: var(--text-highlight-bg-active);

        --theme-rainbow-1: var(--graph-404);
        --theme-rainbow-2: var(--accent);
        --theme-rainbow-3: var(--dark-accent);
        --theme-rainbow-4: var(--code-bg);
        --theme-rainbow-5: var(--td);
        --theme-rainbow-6: var(--graph-tag);
    }
}
.theme-light {
    &.mini,
    & .mini {
    --background-modifier-form-field-highlighted: #99a4bb30;
    --highlight: #99a4bb50;
    --hvr: #99a4bb50;
    --hvr-active: #99a4bb50;

    --outer-bar: var(--note);
    --dark-sidebar: var(--note);
    --side-bar: var(--note);

    --note: #f8fbff;

    --text-dl: #000000;
    --soft-text: #99a4bb;
    --inactive: #d2daee;

    --accent: #b5c2d8;
    --lite-accent: #aab3ca;
    --dark-accent: #d5ddeb;
    --deep-dark-accent: var(--note);
    --accent2: #d6def3;
    --accent2-lite: var(--text-dl);
    
    --bg: #eef3ff;
    --aside-bg: var(--note);
    --embed-bg: var(--note);
    --bttn: var(--dark-accent);
    --tag: var(--note);
    
    --outline: #e1e9f6;
    
    --th: var(--note);

    --folder: var(--text-dl);

    --headers: var(--text);
    --i-at: var(--soft-text);
    --code-text: var(--text);

    --graph-bg: var(--outer-bar);
    --graph-lines: #e5e9f3;
    --graph-node: var(--text);
    --graph-fill: var(--headers);
    --graph-404: #727e939c;
    --graph-img: #8ec1e9;
    --graph-tag: var(--accent2-lite);
    --graph-focused: #b6c9f1;

    --theme-rainbow-1: var(--bg);
    --theme-rainbow-2: var(--td);
    --theme-rainbow-3: var(--outline);
    --theme-rainbow-4: var(--inactive);
    --theme-rainbow-5: var(--accent);
    --theme-rainbow-6: var(--graph-img);
}}

// .mini{
//     & .nav-folder-children .nav-folder-title-content::before {
//         content: "";
//     }
//     & .nav-file-title .nav-file-title-content::before {
//         content: var(--bullet);
//     }
//     & .workspace-tab-header-inner-icon {
//         color: var(--inactive);
//     }
//     & th {
//         border-bottom: 2px solid var(--accent);
//     }
// } 