.nord {
    --hr-icon-symbol: "\e564";
    --hr-icon-font: var(--mdi);

    background: var(--note);
}

.theme-dark {
    &.nord,
    & .nord.nord {
        --outer-bar: #242933;
        --dark-sidebar: #3B4252;
        --side-bar: var(--outer-bar);
        
        --note: #2E3440;
        --note-rgb: 46, 52, 64;
        
        --accent-color: 94, 129, 172;
        --accent: #5E81AC;
        --lite-accent: #5E81AC;
        --dark-accent: #4C566A;
        --deep-dark-accent: var(--outer-bar);
        --accent2: #81A1C1;
        --accent2-lite: #88C0D0;
        
        --headers: #88C0D0;
        --text: #ECEFF4;
        --code-text: #81A1C1;
        --i-at: #81A1C1;
        --tag-text: var(--folder);
        
        --folder: #A3BE8C;
        --folder-open: #3c9ba8;
        --nav-item-color: var(--soft-text);
        
        --bg: #3B4252;
        --code-bg: var(--dark-sidebar);
        --embed-bg: #1d2129;
        --aside-bg: #242933;
        --tag: var(--dark-accent);
        
        --table: #434C5E;
        --hr: var(--table);
        --lines: #4C566A;

        --graph-bg: var(--outer-bar);
        --graph-lines: var(--lines);
        --graph-node: var(--fg);
        --graph-fill: var(--headers);
        --graph-img: var(--folder);
        --graph-tag: var(--headers);

        --highlight: rgba(60, 159, 168, 0.4); 
        --hvr: rgba(81, 120, 138, 0.48);
        --hvr-active: rgba(136, 192, 208, 0.565);

        --theme-rainbow-1: #BF616A;
        --theme-rainbow-2: #D08770;
        --theme-rainbow-3: #A5916A;
        --theme-rainbow-4: #88A073;
        --theme-rainbow-5: #A48EAD;
        --theme-rainbow-6: #29395a;

        --rainbow-1: var(--theme-rainbow-1);
        --rainbow-2: var(--theme-rainbow-2);
        --rainbow-3: var(--theme-rainbow-3);
        --rainbow-4: var(--theme-rainbow-4);
        --rainbow-5: var(--theme-rainbow-5);
        --rainbow-6: var(--theme-rainbow-6);
    }
}

.theme-light {
    &.nord,
    & .nord {
        --outer-bar: #E5E9F0;
        --dark-sidebar: #dde2ec;
        --side-bar: var(--outer-bar);
        
        --note: #FBFBFC;
        
        --accent-color: 143, 188, 187;
        --accent: #5E81AC;
        --lite-accent: #3c66a8;
        --dark-accent: #29395a;
        --deep-dark-accent: #4C566A;
        --accent2: #81A1C1;
        --accent2-lite: #8FBCBB;
        
        --headers: #88C0D0;
        --text: #4C566A;
        --soft-text: #7e8dac;
        --code-text: #81A1C1;
        --i-at: #81A1C1;
        --inactive: var(--soft-text);
        --tag-text: var(--accent2-lite);
        
        --folder: var(--headers);
        --nav-item-color: var(--soft-text);
        --folder-open: #4C566A;
        
        --bg: #bdcce6;
        --code-bg: #ECEFF4;
        --aside-bg: #D8DEE9;
        --embed-bg: var(--code-bg);
        --tag: var(--accent);
        
        --table: var(--lines);
        --hr: #D8DEE9;
        --lines: #b5c1d4;
        // --outline: #81A1C1;
    
        --graph-bg: var(--outer-bar);
        --graph-lines: var(--lines);
        --graph-node: var(--deep-dark-accent);
        --graph-fill: var(--fg);
        --graph-img: var(--sphd-ed-2);
        --graph-tag: var(--headers);
    
        --highlight: rgba(97, 148, 231, 0.3); 
        --hvr: rgba(119, 235, 210, 0.4);
        --hvr-active: rgba(92, 207, 228, 0.25);

        --theme-rainbow-1: #BF616A;
        --theme-rainbow-2: #D08770;
        --theme-rainbow-3: #A5916A;
        --theme-rainbow-4: #88A073;
        --theme-rainbow-5: #A48EAD;
        --theme-rainbow-6: var(--soft-text);
        
        --rainbow-1: var(--theme-rainbow-1);
        --rainbow-2: var(--theme-rainbow-2);
        --rainbow-3: var(--theme-rainbow-3);
        --rainbow-4: var(--theme-rainbow-4);
        --rainbow-5: var(--theme-rainbow-5);
        --rainbow-6: var(--theme-rainbow-6);
    }
}