.notion.notion {
    --font: var(--font-default);
    --header-font-weight: 900;

    --vault-name-font-weight: 900;

    --header-border-line-height: 0;
    --h1-border-line-height: var(--header-border-line-height);
    --h2-border-line-height: var(--header-border-line-height);
    --h3-border-line-height: var(--header-border-line-height);
    --h4-border-line-height: var(--header-border-line-height);
    --h5-border-line-height: var(--header-border-line-height);
    --h6-border-line-height: var(--header-border-line-height);
    
    --hr-icon-symbol: "";

    background: var(--note);
    --text-dl: white;
}
.theme-dark {
    & .notion,
    &.notion
    {
        --scrollbar-bg: #3b4044;
        --scrollbar-thumb-bg: #474C50;
        
        --outer-bar: var(--embed-bg);
        --dark-sidebar: var(--side-bar);
        --side-bar: #373C3F;
        
        --note: #2F3437;
        --note-rgb: 47, 52, 55;

        --headers: var(--text);
        --text: #EBEBEB;
        --soft-text: #A8ABAC;
        --code-text: var(--text);
        --i-at: var(--bttn);
        --footnote: #7A7D7F;
        --inactive: #5D6265;

        --accent-color: 66, 180, 224;
        --accent: var(--tag); /*#474C50*/
        --lite-accent: var(--bttn);
        --dark-accent: #4B5053; /*#26292B*/
        --deep-dark-accent: var(--outer-bar);
        --accent2: var(--soft-text);
        --accent2-lite: #2EA1CF;
    
        --folder: var(--text);
        --folder-open: var(--bttn);
        --file-icon-color: var(--dark-accent);
        --nav-item-color-active: var(--tag);
        
        --bg: #3C4144;
        // --code-bg: #3F4447;
        --code-bg: var(--bg);
        --embed-bg: #3F4447;
        // --aside-bg: #373C3F;
        --aside-bg: var(--note);
        --tag: #708dbb;
        --bttn: #43B3E0; /*#889FC3*/
        
        --th: #373c3f;
        --td: #0f0f0f33;
        
        --hr: #3C3F43;
        --table: #4C5153;
        --lines: var(--table); /*#3E4245*/
        --outline: #0f0f0f40;
        
        --highlight: rgb(255, 255, 255, 0.1);
        --hvr: rgba(45, 170, 219, 0.3);
        --hvr-active: rgba(45, 170, 219, 0.3);

        --graph-bg: var(--note);
        --graph-lines: #5D626555;
        --graph-node: var(--headers);
        --graph-fill: var(--folder);
        --graph-404: var(--inactive);
        --graph-img: var(--soft-text);
        --graph-tag: var(--accent);
        --graph-focused: var(--accent);

        --theme-rainbow-1: var(--lite-accent);
        --theme-rainbow-2: var(--tag);
        --theme-rainbow-3: var(--text-faint);
        --theme-rainbow-4: var(--inactive);
        --theme-rainbow-5: var(--hr);
        --theme-rainbow-6: var(--td);
    }
}

.theme-light {
    &.notion,
    & .notion {
        --scrollbar-bg: #EDECE9;
        --scrollbar-thumb-bg: #D3D1CB;

        --text-on-accent: white;
        
        --outer-bar: #F1F1EF;
        --dark-sidebar: var(--side-bar);
        --side-bar: #F7F6F3;

        --note: #FFFFFF;
        --note-rgb: 247, 246, 243;
        
        // --accent: #D3D1CB;
        --accent-color: 67, 179, 224; 
        --accent: #43B3E0; 
        --lite-accent: var(--bttn);
        --dark-accent: var(--accent);//#E8E7E4;
        --accent2: var(--soft-text);
        --accent2-lite: #2EA1CF;
        --deep-dark-accent: var(--outer-bar);
        
        --headers: var(--text);
        --text: #37352f; /*#8D8C89*/
        --inactive: #CFCECD;
        --soft-text: #82817C;
        --code-text: var(--text);
        --i-at: var(--bttn);
        --footnote: #A09E9A;
        
        --file-icon-color: #69685f;
        --folder: var(--text);
        --folder-open: var(--bttn);
            
        --th: var(--side-bar);
        --table-header-color: var(--text);
        --td: #37352F10;

        --bg: #EDECE9;
        --code-bg: #f7f6f3;
        --embed-bg: #F1F1EF;
        --aside-bg: var(--note);
        --tag: var(--bttn);
        --bttn: #43B3E0;
        
        --table:#e9e9e7;
        // --hr: #EDEDEC;
        --hr: rgba(55, 53, 47, 0.1);
        --lines: var(--hr);
        --outline: #0f0f0f15;    
        
        --graph-bg: var(--note);
        --graph-lines: #CFCECD55;
        --graph-node: var(--soft-text);
        --graph-fill: var(--folder);
        --graph-404: var(--file-icon-color);
        --graph-img: #000;
        --graph-tag: var(--accent);
        --graph-focused: var(--accent);

        --highlight: rgba(55, 53, 47, 0.078);
        --hvr: rgba(45, 170, 219, 0.2);
        --hvr-active: rgba(45, 170, 219, 0.3);

        --theme-rainbow-1: var(--lite-accent);
        --theme-rainbow-2: var(--text-faint);
        --theme-rainbow-3: var(--text);
        --theme-rainbow-4: var(--soft-text);
        --theme-rainbow-5: var(--footnote);
        --theme-rainbow-6: var(--inactive);
    }
}