// @font-face {
//     font-family: "Taroca";
//     src: url("https://content.demiplane.com/fonts/Taroca.ttf")
// }

.pathfinder {
	--font: "Taroca";
	--header-weight: 100;
    --h1-border-line-height: 1.5px;
    --h2-border-line-height: 1.5px;
    --h3-border-line-height: 2px;
    --h4-border-line-height: 0;
    --h5-border-line-height: 0;
    --h6-border-line-height: 0;
	
	// --vault-name-font-size: ;
	--vault-name-font-weight: 100;
	
	// --font-monospace: ;
	
    --hr-image-height: 16px;
    // --hr-image-width: 30%;
    --hr-thickness: 0//2px;
    
	--hr-icon-symbol: ;
	// --hr-icon-font: ;
	
	--highlight: rgba(191, 0, 0, 0.2);
	--hvr: rgba(191, 0, 0, 0.2);
	--hvr-active: #e5800040;
}
.theme-dark {
    & .pathfinder,
    &.pathfinder {
    // --outer-bar: ;
    // --dark-sidebar: ;
    // --side-bar: ;

    // --note: #2C2722;
    // --note: #232323;
    // --note-rgb: ;
    
    // --accent-color: ;
    // --accent: ;
    // --lite-accent: ;
    // --dark-accent: ;
    // --deep-dark-accent: ;
    // --accent2: ;
    // --accent2-lite: ;
    
    --headers: #ddaf78;
    --h1-color: var(--headers);
    --h2-color: #2f4f87;
    --h3-color: #a22b30;
    --h4-color: #d0765b;
    --h5-color: #694b3c;
    --h6-color: var(--text);
    // --text: ;
    // --soft-text: ;
    // --code-text: ;
    // --i-at: ;
    // --footnote: ;
    // --inactive: ;
    // --tag-text: ;
    
    --folder: #a22b30;
    --folder-open: #e58000;
    // --file: ;
    // --file-icon-color: ;
    
    // --fg: ;
    // --bg: ;
    // --code-bg: ;
    // --embed-bg: ;
    // --aside-bg: ;
    // --tag: ;
    // --bttn: ;
    
    // --th: ;
    // --table-header-text: ;
    // --td: ;
    
    // --table: ;
    --hr: #8b262d;
    // --hr-thickness: 2px;
    // --lines: ;
    // --outline: ;
    
    --hr-image: url("data:image/svg+xml,%3Csvg width='1000' height='16px' viewBox='0 0 1258 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M686 13H1258' stroke='var(--hr)' stroke-width='2'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M660.441 4.13623C661.428 4.31579 662.119 4.47086 662.26 4.54471C662.329 4.58055 662.592 4.6798 662.844 4.76527C663.572 5.01138 664.551 5.49844 665.858 6.26487C666.953 6.90665 667.335 7.12081 668.359 7.66766C668.912 7.96255 670.429 8.7104 670.852 8.89651C671.972 9.3897 672.003 9.40258 672.849 9.72406C673.954 10.1443 675.332 10.5747 675.889 10.6737C676.045 10.7014 676.299 10.758 676.455 10.7995C677.337 11.0351 679.067 11.1898 680.238 11.1379C681.189 11.0957 682.64 10.894 683.017 10.7514C683.127 10.7101 683.308 10.6763 683.42 10.6763C683.532 10.6763 683.641 10.6485 683.662 10.6145C683.683 10.5806 683.815 10.5316 683.956 10.5057C684.214 10.4581 684.408 10.3843 685.116 10.0646C685.33 9.96815 685.616 9.84614 685.753 9.79359L686 9.69803L685.669 10.0029C685.37 10.278 683.985 11.2331 683.885 11.2331C683.845 11.2331 682.883 11.6659 682.611 11.8059C682.317 11.9576 681.254 12.2395 680.379 12.398C679.531 12.5515 676.168 12.5718 675.218 12.4291C673.641 12.1924 672.685 11.99 671.381 11.617C671.178 11.5586 670.74 11.4354 670.41 11.343C670.079 11.2507 669.332 11.0141 668.748 10.8173C666.217 9.96306 665.56 9.76568 665.319 9.78572C665.084 9.80521 665.072 9.81871 665.086 10.0499C665.093 10.1838 665.132 10.4814 665.171 10.7111C665.685 13.6927 664.642 16.4872 662.395 18.1477C661.863 18.541 660.593 19.237 660.408 19.237C660.25 19.237 660.271 19.18 660.538 18.8891C660.808 18.5949 661.36 17.6966 661.36 17.5511C661.36 17.4984 661.395 17.4207 661.438 17.3785C661.672 17.1483 661.794 15.5215 661.634 14.7705C661.5 14.1394 661.036 13.3007 660.59 12.8826C659.903 12.2382 659.266 11.9937 658.156 11.9481C657.5 11.9212 656.813 12.0196 656.375 12.2032C654.569 12.96 653.224 14.2482 652.371 16.0377C652.118 16.569 651.815 17.3115 651.815 17.3993C651.815 17.4505 651.763 17.6108 651.701 17.7557C651.638 17.9005 651.547 18.113 651.499 18.2278C651.076 19.2369 650.259 20.7173 649.824 21.2655C649.713 21.4049 649.623 21.5432 649.623 21.5728C649.623 21.6024 649.575 21.6762 649.517 21.7368C649.458 21.7974 649.245 22.0506 649.042 22.2994C648.233 23.2919 647.069 24.3675 645.979 25.1308C645.48 25.4806 644.133 26.2968 643.863 26.4129C643.784 26.4471 643.671 26.5046 643.613 26.5407C643.412 26.665 642.552 27.0322 642.462 27.0322C642.412 27.0322 642.309 27.0747 642.232 27.1265C642.156 27.1783 642.013 27.2385 641.916 27.26C641.819 27.2816 641.596 27.3517 641.421 27.4158C641.029 27.5595 640.195 27.7825 639.583 27.9077C638.756 28.0766 637.808 28.0181 636.154 27.6959C630.567 26.6079 627.499 23.0325 627.487 17.5981C627.484 16.5305 627.647 15.1004 627.854 14.365C628.465 12.2001 629.716 10.4207 631.455 9.24528C631.857 8.97328 632.817 8.51865 632.989 8.51865C633.061 8.51865 633.153 8.48657 633.193 8.44738C633.233 8.4082 633.454 8.3427 633.684 8.30178C633.915 8.26086 634.247 8.20079 634.422 8.16836C634.864 8.08623 636.273 8.0886 636.401 8.1717C636.495 8.23267 636.495 8.24784 636.401 8.30881C636.343 8.34653 636.184 8.39546 636.048 8.41752C635.064 8.57719 633.789 9.28502 632.94 10.143C632.334 10.7564 631.938 11.307 631.611 11.9945C631.474 12.2839 631.337 12.5699 631.308 12.6301C631.158 12.9373 630.956 13.8539 630.899 14.4884C630.652 17.2582 631.846 19.7027 633.942 20.7185C634.987 21.2248 635.239 21.2842 636.331 21.2824C637.259 21.2809 637.837 21.1779 638.358 20.9213C640.107 20.06 640.868 19.2288 641.68 17.2905C641.786 17.0361 641.81 16.7958 641.808 15.9681L641.805 14.9566L641.545 14.4143C640.888 13.0429 639.624 12.3955 638.24 12.7217C637.599 12.8725 637.033 13.1764 636.622 13.5892C636.136 14.0786 635.873 14.6268 635.764 15.3777C635.718 15.7012 635.653 15.9658 635.62 15.9658C635.452 15.9658 634.867 14.956 634.762 14.4868C634.73 14.3433 634.674 14.0928 634.638 13.93C634.495 13.2946 634.862 11.932 635.365 11.228C636.142 10.1419 637.457 9.26372 638.911 8.86046C639.731 8.63322 641.412 8.63468 642.234 8.86338C643.388 9.18438 643.97 9.54463 644.906 10.5187C645.233 10.8584 646.032 11.911 646.255 12.2939C646.502 12.7209 646.726 12.6195 646.832 12.0322C646.926 11.5131 647.209 10.7612 647.607 9.97267C648.755 7.7012 651.039 5.74899 653.618 4.83466C653.968 4.71056 654.308 4.58118 654.374 4.54714C654.518 4.47288 655.256 4.31085 656.269 4.13087C657.264 3.95408 659.454 3.95694 660.441 4.13623Z' fill='var(--hr)'%3E%3C/path%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M597.559 4.13623C596.572 4.31579 595.881 4.47086 595.74 4.54471C595.671 4.58055 595.408 4.6798 595.156 4.76527C594.428 5.01138 593.449 5.49844 592.142 6.26487C591.047 6.90665 590.665 7.12081 589.641 7.66766C589.088 7.96255 587.571 8.7104 587.148 8.89651C586.028 9.3897 585.997 9.40258 585.151 9.72406C584.046 10.1443 582.668 10.5747 582.111 10.6737C581.955 10.7014 581.701 10.758 581.545 10.7995C580.663 11.0351 578.933 11.1898 577.762 11.1379C576.811 11.0957 575.36 10.894 574.983 10.7514C574.873 10.7101 574.692 10.6763 574.58 10.6763C574.468 10.6763 574.359 10.6485 574.338 10.6145C574.317 10.5806 574.185 10.5316 574.044 10.5057C573.786 10.4581 573.592 10.3843 572.884 10.0646C572.67 9.96815 572.384 9.84614 572.247 9.79359L572 9.69803L572.331 10.0029C572.63 10.278 574.015 11.2331 574.115 11.2331C574.155 11.2331 575.117 11.6659 575.389 11.8059C575.683 11.9576 576.746 12.2395 577.621 12.398C578.469 12.5515 581.832 12.5718 582.782 12.4291C584.359 12.1924 585.315 11.99 586.619 11.617C586.822 11.5586 587.26 11.4354 587.59 11.343C587.921 11.2507 588.668 11.0141 589.252 10.8173C591.783 9.96306 592.439 9.76568 592.681 9.78572C592.916 9.80521 592.928 9.81871 592.914 10.0499C592.907 10.1838 592.868 10.4814 592.829 10.7111C592.315 13.6927 593.358 16.4872 595.605 18.1477C596.137 18.541 597.407 19.237 597.592 19.237C597.75 19.237 597.729 19.18 597.462 18.8891C597.192 18.5949 596.64 17.6966 596.64 17.5511C596.64 17.4984 596.605 17.4207 596.562 17.3785C596.328 17.1483 596.206 15.5215 596.366 14.7705C596.5 14.1394 596.964 13.3007 597.41 12.8826C598.097 12.2382 598.734 11.9937 599.844 11.9481C600.5 11.9212 601.187 12.0196 601.625 12.2032C603.431 12.96 604.776 14.2482 605.629 16.0377C605.882 16.569 606.185 17.3115 606.185 17.3993C606.185 17.4505 606.237 17.6108 606.299 17.7557C606.362 17.9005 606.453 18.113 606.501 18.2278C606.924 19.2369 607.741 20.7173 608.176 21.2655C608.287 21.4049 608.377 21.5432 608.377 21.5728C608.377 21.6024 608.425 21.6762 608.483 21.7368C608.542 21.7974 608.755 22.0506 608.958 22.2994C609.767 23.2919 610.931 24.3675 612.021 25.1308C612.52 25.4806 613.867 26.2968 614.137 26.4129C614.216 26.4471 614.329 26.5046 614.387 26.5407C614.588 26.665 615.448 27.0322 615.538 27.0322C615.588 27.0322 615.691 27.0747 615.768 27.1265C615.844 27.1783 615.987 27.2385 616.084 27.26C616.181 27.2816 616.404 27.3517 616.579 27.4158C616.971 27.5595 617.805 27.7825 618.417 27.9077C619.244 28.0766 620.192 28.0181 621.846 27.6959C627.433 26.6079 630.501 23.0325 630.513 17.5981C630.516 16.5305 630.353 15.1004 630.146 14.365C629.535 12.2001 628.284 10.4207 626.545 9.24528C626.143 8.97328 625.183 8.51865 625.011 8.51865C624.939 8.51865 624.847 8.48657 624.807 8.44738C624.767 8.4082 624.546 8.3427 624.316 8.30178C624.085 8.26086 623.753 8.20079 623.578 8.16836C623.136 8.08623 621.727 8.0886 621.599 8.1717C621.505 8.23267 621.505 8.24784 621.599 8.30881C621.657 8.34653 621.816 8.39546 621.952 8.41752C622.936 8.57719 624.211 9.28502 625.06 10.143C625.666 10.7564 626.062 11.307 626.389 11.9945C626.526 12.2839 626.663 12.5699 626.692 12.6301C626.842 12.9373 627.044 13.8539 627.101 14.4884C627.348 17.2582 626.154 19.7027 624.058 20.7185C623.013 21.2248 622.761 21.2842 621.669 21.2824C620.741 21.2809 620.163 21.1779 619.642 20.9213C617.893 20.06 617.132 19.2288 616.32 17.2905C616.214 17.0361 616.19 16.7958 616.192 15.9681L616.195 14.9566L616.455 14.4143C617.112 13.0429 618.376 12.3955 619.76 12.7217C620.401 12.8725 620.967 13.1764 621.378 13.5892C621.864 14.0786 622.127 14.6268 622.236 15.3777C622.282 15.7012 622.347 15.9658 622.38 15.9658C622.548 15.9658 623.133 14.956 623.238 14.4868C623.27 14.3433 623.326 14.0928 623.362 13.93C623.505 13.2946 623.138 11.932 622.635 11.228C621.858 10.1419 620.543 9.26372 619.089 8.86046C618.269 8.63322 616.588 8.63468 615.766 8.86338C614.612 9.18438 614.03 9.54463 613.094 10.5187C612.767 10.8584 611.968 11.911 611.745 12.2939C611.498 12.7209 611.274 12.6195 611.168 12.0322C611.074 11.5131 610.791 10.7612 610.393 9.97267C609.245 7.7012 606.961 5.74899 604.382 4.83466C604.032 4.71056 603.692 4.58118 603.626 4.54714C603.482 4.47288 602.744 4.31085 601.731 4.13087C600.736 3.95408 598.546 3.95694 597.559 4.13623Z' fill='var(--hr)'%3E%3C/path%3E%3Cpath d='M572 13H594.194' stroke='var(--hr)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M664.814 13H686' stroke='var(--hr)' stroke-width='2'%3E%3C/path%3E%3Cpath d='M0 13H572' stroke='var(--hr)' stroke-width='2'%3E%3C/path%3E%3C/svg%3E");
    --hr-image-width: contain;
    
    // --highlight: ;
    // --hvr: ;
    // --hvr-active: ;
    
    // --graph-bg: ;
    // --graph-lines: ;
    // --graph-node: ;
    // --graph-fill: ;
    // --graph-404: ;

    --theme-rainbow-1: var(--h1-color);
    --theme-rainbow-2: var(--h2-color);
    --theme-rainbow-3: var(--h3-color);
    --theme-rainbow-4: var(--h4-color);
    --theme-rainbow-5: var(--h5-color);
    // --theme-rainbow-6: var(--h6-color);
    }
}

.theme-light {
    & .pathfinder,
    &.pathfinder {
    /*Colors*/
    --outer-bar: #e2ded8;
    --dark-sidebar: #e2ded8;
    --side-bar: #ECE9E4;

    --note: #ECE9E4;//#f6f4f2;
    --note-rgb: 236, 233, 228;
    
    --accent-color: 94, 0, 0;
    --accent: #800008;
    --lite-accent: #e58000;
    --dark-accent: #800008;
    --deep-dark-accent: #5e0000;
    --accent2: #461413;
    --accent2-lite: #0f5cbc;
    --link-color-hover: #1B9AF0;
    
    --headers: #ca9759;
    --h1-color: var(--headers);
    --h2-color: #002564;
    --h3-color: #5d0000;
    --h4-color: #a76652;
    --h5-color: #393636;

    --text: #393636;
    --soft-text: #5C1C16;
    --code-text: #5C1C16;
    --i-at: #5C1C16;
    --footnote: #676767;
    --inactive: #b7b5b4;
    // --tag-text: ;
    
    --folder: #a22b30;
    --folder-open: var(--headers);
    // --file: ;
    --file-icon-color: #676767;
    
    // --fg: #461413;
    --bg: #d2c4be;
    // --code-bg: ;
    --embed-bg: #E0DACB;
    --aside-bg: #E0DACB;
    --tag: #5e0000;
    // --bttn: ;
    
    --th: #5e0000;
    // --table-header-text: ;
    --td: #E0DACB99;
    
    --header-border-line-color: black;
    --table: #00000060;
    --hr: #5c1c16;
    --lines: #b6a697;
    --outline: rgba(0, 0, 0, 0.4);
    
    --hr-image: url("https://content.demiplane.com/elements/pathfinder-2e/archetypes/PFN-Center-Flourish.png");
    --hr-image-width: contain;
    
    // --highlight: ;
    // --hvr: ;
    // --hvr-active: ;
    
    // --graph-bg: ;
    // --graph-lines: ;
    // --graph-node: ;
    // --graph-fill: ;
    // --graph-404: ;

    --theme-rainbow-1: #ca9759;
    --theme-rainbow-2: #3276b5;
    --theme-rainbow-3: #002564;
    --theme-rainbow-4: #5d0000;
    --theme-rainbow-5: #e58000;
    --theme-rainbow-6: #393636;
}
}


