.pathfinder.pathfinder {
	--font: "Taroca";
	--header-weight: 100;

    --h1-font: "Taroca";
    --h2-font: var(--h1-font);
    --h3-font: "Norwester";
    --h4-font: var(--h3-font);
    --h5-font: var(--h3-font);
    --h6-font: var(--h3-font);

    // --inline-title-font: var(--h1-font);
    
    --h1-border-line-height: 1.5px;
    --h2-border-line-height: 1.5px;
    --h3-border-line-height: 2px;
    --h4-border-line-height: 0;
    --h5-border-line-height: 0;
    --h6-border-line-height: 0;

    
    --h1-border-line-color: var(--header-border-line-color);
    --h2-border-line-color: var(--header-border-line-color);
    --h3-border-line-color: var(--header-border-line-color);
    --h4-border-line-color: var(--header-border-line-color);
    --h5-border-line-color: var(--header-border-line-color);
    --h6-border-line-color: var(--header-border-line-color);
    --h1-border-left-color: var(--h1-border-line-color);
    --h2-border-left-color: var(--h2-border-line-color);
    --h3-border-left-color: var(--h3-border-line-color);
    --h4-border-left-color: var(--h4-border-line-color);
    --h5-border-left-color: var(--h5-border-line-color);
    --h6-border-left-color: var(--h6-border-line-color);
    --h1-border-right-color: var(--h1-border-line-color);
    --h2-border-right-color: var(--h2-border-line-color);
    --h3-border-right-color: var(--h3-border-line-color);
    --h4-border-right-color: var(--h4-border-line-color);
    --h5-border-right-color: var(--h5-border-line-color);
    --h6-border-right-color: var(--h6-border-line-color);
	
	// --vault-name-font-size: ;
	--vault-name-font-weight: 100;
	
	// --font-monospace: ;
    --dataview-th-background: var(--th);
    --dataview-th-alt-color: var(--hvr);
    --dataview-th-color: var(--text-dl);
    --dataview-th-border-bottom: var(--th);

	--hr-image: url("data:image/svg+xml,%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 1000 204' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(1,0,0,1,1.7053e-13,-398.169)'%3E%3Crect id='Artboard1' x='-0' y='398.169' width='1000' height='203.661' style='fill:none;'/%3E%3CclipPath id='_clip1'%3E%3Crect id='Artboard11' serif:id='Artboard1' x='-0' y='398.169' width='1000' height='203.661'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23_clip1)'%3E%3Cg transform='matrix(4.31034,0,0,4.31034,-267.917,-1094.41)'%3E%3Cpath d='M178.389,380.983C175.751,387.924 169.433,393.494 159,393.565C127.289,393.78 136.335,361.89 118,362C108.448,361.996 110.806,374.866 115,377C114.833,377.167 100.762,372.819 105,357C76.617,370.354 62.389,358 62.389,358C62.389,358 80.399,363.885 90.791,357.333C109.271,345.683 133.119,337.401 142,364C147.001,347.144 172.305,357.468 163,370.565C163.721,364.587 151.808,358.708 151,370.565C150.447,378.68 162.397,385.825 170.144,377.076C176.411,369.999 170.344,356.114 162,354C170.327,353.643 175.921,358.556 178.389,365.031C180.857,358.556 186.45,353.643 194.777,354C186.434,356.114 180.367,369.999 186.634,377.076C194.38,385.825 206.33,378.68 205.777,370.565C204.97,358.708 193.056,364.587 193.777,370.565C184.472,357.468 209.776,347.144 214.777,364C223.658,337.401 247.507,345.683 265.986,357.333C276.379,363.885 294.389,358 294.389,358C294.389,358 280.16,370.354 251.777,357C256.015,372.819 241.944,377.167 241.777,377C245.971,374.866 248.329,361.996 238.777,362C220.443,361.89 229.488,393.78 197.777,393.565C187.344,393.494 181.027,387.924 178.389,380.983Z' style='fill:rgb(139,38,45);'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    --hr-image-height: 16px;
    --hr-thickness: 2px;
    
	--hr-icon-symbol: ;
	// --hr-icon-font: ;
	
	--highlight: rgba(191, 0, 0, 0.2);
	--hvr: rgba(191, 0, 0, 0.2);
	--hvr-active: #e5800040;
}
.theme-dark {
    & .pathfinder,
    &.pathfinder {
    // --outer-bar: ;
    // --dark-sidebar: ;
    // --side-bar: ;

    // --note: #2C2722;
    // --note: #232323;
    // --note-rgb: ;
    
    // --accent-color: ;
    --accent: #863737;
    --lite-accent: #c94d4d;
    --dark-accent: #652121;
    // --deep-dark-accent: ;
    // --accent2: ;
    // --accent2-lite: ;
    
    --headers: #ddaf78;
    --h1-color: var(--headers);
    --h2-color: #2f4f87;
    --h3-color: #a22b30;
    --h4-color: #d0765b;
    --h5-color: #694b3c;
    --h6-color: var(--text);
    // --text: ;
    // --soft-text: ;
    --code-text: #c94d4d;
    --i-at: #bf5e5e;
    // --footnote: ;
    // --inactive: ;
    // --tag-text: ;
    
    --folder: #a22b30;
    --folder-open: #e58000;
    // --file: ;
    // --file-icon-color: ;
    
    // --fg: ;
    // --bg: ;
    // --code-bg: ;
    // --embed-bg: ;
    // --aside-bg: ;
    // --tag: ;
    // --bttn: ;
    
    // --th: ;
    // --table-header-text: ;
    // --td: ;
    
    // --table: ;
    --hr: #8b262d;
    --header-border-line-color: var(--dark-accent);
    // --lines: ;
    // --outline: ;
    
    
    // --highlight: ;
    // --hvr: ;
    // --hvr-active: ;
    
    --graph-bg: var(--embed-bg);
    --graph-lines: #65212190;
    --graph-node: var(--theme-rainbow-1);
    --graph-tag: var(--theme-rainbow-3);
    --graph-img: var(--theme-rainbow-2);
    --graph-line-hover: var(--lines);
    --graph-node-hover-fill: var(--theme-rainbow-4);
    

    --theme-rainbow-1: var(--h1-color);
    --theme-rainbow-2: var(--h2-color);
    --theme-rainbow-3: var(--h3-color);
    --theme-rainbow-4: var(--h4-color);
    --theme-rainbow-5: var(--h5-color);
    // --theme-rainbow-6: var(--h6-color);
    }
}

.theme-light {
    & .pathfinder,
    &.pathfinder {
    /*Colors*/
    --outer-bar: #e2ded8;
    --dark-sidebar: #e2ded8;
    --side-bar: #ECE9E4;

    --note: #ECE9E4;//#f6f4f2;
    --note-rgb: 236, 233, 228;
    
    --accent-color: 94, 0, 0;
    --accent: #800008;
    --lite-accent: #e58000;
    --dark-accent: #800008;
    --deep-dark-accent: #5e0000;
    --accent2: #461413;
    --accent2-lite: #0f5cbc;
    --link-color-hover: #1B9AF0;
    
    --headers: #ca9759;
    --h1-color: var(--headers);
    --h2-color: #002564;
    --h3-color: #5d0000;
    --h4-color: #a76652;
    --h5-color: #393636;

    --text: #393636;
    --soft-text: #5C1C16;
    --code-text: #5C1C16;
    --i-at: #5C1C16;
    --footnote: #676767;
    --inactive: #cdab9a;
    // --tag-text: ;
    
    --folder: #a22b30;
    --folder-open: var(--headers);
    // --file: ;
    --file-icon-color: #676767;
    
    // --fg: #461413;
    --bg: #d2c4be;
    // --code-bg: ;
    --embed-bg: #E0DACB;
    --aside-bg: #E0DACB;
    --tag: #5e0000;
    // --bttn: ;
    
    --th: #5e0000;
    // --table-header-text: ;
    --td: #E0DACB99;
    
    --header-border-line-color: black;
    --table: #00000060;
    --hr: #5c1c16;
    --lines: #b6a697;
    --outline: rgba(124, 49, 3, 0.4);
    
    --hr-image-width: contain;
    
    // --highlight: ;
    // --hvr: ;
    // --hvr-active: ;
    
    // --graph-bg: var(--embed-bg);
    --graph-lines: var(--embed-bg);
    --graph-node: var(--theme-rainbow-1);
    --graph-tag: var(--theme-rainbow-4);
    --graph-img: var(--theme-rainbow-2);
    --graph-line-hover: var(--lines);
    --graph-node-hover-fill: var(--theme-rainbow-4);

    --theme-rainbow-1: #ca9759;
    --theme-rainbow-2: #3276b5;
    --theme-rainbow-3: #002564;
    --theme-rainbow-4: #5d0000;
    --theme-rainbow-5: #e58000;
    --theme-rainbow-6: #393636;
}
}


//Hr Line Fixes
.pathfinder {
    &.markdown-rendered hr,
    & .markdown-rendered hr {
        overflow: visible;
        display: flow-root;
    }
    & .cm-line:not(.cm-active) hr { margin-top: -25px; }
}