
/*----Theme: School Days----*/
.s-d.s-d {
    /*FONTS*/
    --font: /*'Recursive Sans Casual Static',*/ 'Recursive Sans Linear Static Black', 'RocknRoll One Regular', var(--font-default);
	--vault-font: "CollegiateBlackFLF", "Jersey M54", var(--font-default);
    --vault-name-font-weight: 100;

    --font-monospace: "Recursive Mono Linear Static Medium", var(--font-default);
    --solve-font: 'Recursive Sans Linear Static Regular', var(--font-default);
    
    --inline-title-font: var(--vault-font);
    --inline-title-color: var(--accent2);
    --inline-title-weight: 500;

    --hr-icon-symbol: "\e3c9", "✏";
    --hr-icon-font: var(--mdi);
    --bullet: "\e80c";
    --bullet-font: var(--mdi);

    background: var(--note);
}
.theme-dark{

    &.s-d,
    & .s-d {
    
        // --highlight: rgba(52, 123, 237, 0.22);
        
        --outer-bar: #0e0f15;
        --dark-sidebar: #10161d;
        --side-bar: var(--note);

        --accent: #485b76;
        --lite-accent: #d0913d;
        --dark-accent: #2b3550;
        --deep-dark-accent: #212731;
        --accent2: var(--lite-accent);
        
        --headers: #4378c1;
        --text: #dcddde;
        --soft-text: #aab3ca;
        --code-text: #e6a210;
        --i-at: var(--lite-accent);
        --inactive: #586477;
        
        --folder: var(--headers);
        --folder-open: var(--lite-accent);
    
        --fg: white;
        --bg: #232a34;
        --code-bg: #232831;
        --embed-bg: #12151a;
        --tag: #273346;

        --th: var(--dark-accent);
        
        --table: #2f3440;
        --hr: #414b5c;
        
        --latex-color: #b2cfff;
        --latex-format-color: #61afef;
        --latex-syntax-color: #ebbd3e;
        --header-solve: #c7c7c7;
        --answer: darkseagreen;
        --answer-bg: #293c33;
        
        // --graph-bg: var(--dark-sidebar);
        // --graph-lines: #1f3353;
        // --graph-node: #cfd7dd;
        // --graph-fill: var(--headers);
        // --graph-404: #727e93;
        // --graph-img: #4c78cc;
        // --graph-tag: var(--headers);

        --highlight: rgba(86, 128, 226, 0.4); 
        --hvr-active: rgba(255, 183, 0, 0.4);
        --hvr: rgba(65, 82, 119, 0.31); 
    
        --theme-rainbow-1: var(--accent2);
        --theme-rainbow-2: var(--headers);
        --theme-rainbow-3: var(--accent);
        --theme-rainbow-4: var(--dark-accent);
        --theme-rainbow-5: var(--tag);
        --theme-rainbow-6: var(--deep-dark-accent);
    }
}
.theme-light {
    &.s-d,
    & .s-d.s-d { 
    
        /*--DEFAULT VARIABLES--*/
        --outer-bar: #e3f0fd;
        --dark-sidebar: var(--embed-bg);
        --side-bar: var(--note);

        --accent-color: 109, 153, 212;
        --accent: #6d99d4;
        --lite-accent: #e6af66;
        --dark-accent: #4382c1;
        --deep-dark-accent: #6c8bb4;
        --accent2: var(--lite-accent);
        
        --headers: #4382c1;
        --text: #697580;
        --soft-text: #6f8fd8;
        --code-text: #ebab16;
        --i-at: var(--th);
        --inactive: #91a3c1;
        
        --folder-open: var(--lite-accent);
        --folder: var(--headers);
        
        --fg: #025d9f;
        --bg: #e1e6ed;
        --embed-bg: #f1f5ff;
        --tag: #5685c6;
    
        --th: #b48c55;

        --table: #c9ced9;
        --hr: #d6deea;
        
        --latex-color: #5895fa;
        --latex-format-color: #9ed3ff;
        --latex-syntax-color: #fdaf00;
        --header-solve: #a87643;
        --answer: #4f904f;
        --answer-bg: #dbe8e2;

        --highlight: rgba(118, 186, 253, 0.4);
        --hvr-active: rgba(255, 166, 0, 0.4);
        --hvr: rgba(149, 192, 229, 0.37); 
        
        --graph-bg: var(--note);
        --graph-lines: #ecedf8;
        --graph-node: var(--headers);
        --graph-fill: #2e5db2;
        --graph-404: #727e93;
        --graph-img: #4c78cc;
        --graph-tag: #000000;
        --graph-focused: var(--lite-accent);
    
        --theme-rainbow-1: var(--accent2);
        --theme-rainbow-2: var(--fg);
        --theme-rainbow-3: var(--headers);
        --theme-rainbow-4: var(--accent);
        --theme-rainbow-5: var(--th);
        --theme-rainbow-6: var(--graph-404);
    }
}


/*--Solve Page--*/
/*Header*/
.s-d.s-d {
    &.solve,
    & .solve {
        --headers: var(--header-solve);

        --h3-font: var(--solve-font);
        --h4-font: var(--solve-font);
        --h5-font: var(--solve-font);
        --h6-font: var(--solve-font);
    
        //Table
        // & table { margin: auto auto 5% 5px; }
        & th, 
        & td:nth-child(1){
            background-color: var(--outer-bar);
        }
        & td mark {
            color: var(--answer);
            background-color: var(--answer-bg);
            font-weight: 600;
            padding: 2px;
        }
        & tr { width: 10% !important; }
    }
}
