.theme-dark,
.theme-light {
    &.wotc-beyond,
    & .wotc-beyond {
        --header-weight: 500;
        --font: 'its-Draconis', 'Draconis', Inter;
        
        --font-monospace: 'its-Fira Code', 'Fira Code', Inter;
        --font-default: 'its-Bookerly', 'Bookerly', Inter;
        --font-text: var(--font-default);

        --vault-name-font-size: 25px;
    
        --hr-icon-symbol: "\E803";
        --hr-icon-font: var(--its);
        --hr-icon-symbol: ;
        --hr-image-height: 5px;
        --hr-image-width: 100%;
        --hr-thickness: 0;

        --embed-h: #c93c3c;
        --h2-color: sandybrown;
        --h3-color: #a11111;

        --h1-border-line-color: var(--embed-h);
        --h2-border-line-color: var(--h2-color);
        --h3-border-line-color: var(--h3-color);

        --h1-border-right-color: linear-gradient(to right, var(--h1-border-line-color), transparent);
        --h2-border-right-color: linear-gradient(to right, var(--h2-border-line-color), transparent);
        --h3-border-right-color: linear-gradient(to right, var(--h3-border-line-color), transparent);
        --h4-border-right-color: linear-gradient(to right, var(--header-border-line-color), transparent);
        --h5-border-right-color: linear-gradient(to right, var(--header-border-line-color), transparent);
        --h6-border-right-color: linear-gradient(to right, var(--header-border-line-color), transparent);

        --h1-border-left-color: linear-gradient(to left, var(--h1-border-line-color), transparent);
        --h2-border-left-color: linear-gradient(to left, var(--h2-border-line-color), transparent);
        --h3-border-left-color: linear-gradient(to left, var(--h3-border-line-color), transparent);
        --h4-border-left-color: linear-gradient(to left, var(--header-border-line-color), transparent);
        --h5-border-left-color: linear-gradient(to left, var(--header-border-line-color), transparent);
        --h6-border-left-color: linear-gradient(to left, var(--header-border-line-color), transparent);

        --icon-color: var(--text);
        --drop-shadow: var(--td);

        // Paper Burn
        --paper-edges: 0 0 60px var(--outline) inset;
        --paper-edges-m: 0 0 100px var(--outline) inset;
        --tab-container-background: transparent;
        --tab-titlebar-color: transparent;
        // --tab-background-active: var(--tab-outline-color);
        --pane-background: transparent;
        // --modal-background: transparent;
        --file-header-background: transparent;

        //kanban
        --kanban-card-title-background: var(--td);
        --kanban-card-metadata-background: var(--note);
    }
}


.theme-dark {
    &.wotc-beyond,
    & .wotc-beyond {
        
        --outline: #0000008c;

        --headers: #c14343;
        --code-text: #fa4545;
        --tag-text: #d04e4e;
        // --accent2-lite: #e06c75;
        --dark-accent: #652121;
        --accent: #863737;
        --i-at: #bf5e5e;

        --folder: var(--accent);

        --hr-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Artboard1' x='0' y='0' width='100' height='7' style='fill:none;'/%3E%3Cpath d='M50,2.5L100,3.5L50,4L0,3.5L50,2.5Z' style='fill:rgb(146, 47, 47);'/%3E%3C/svg%3E") no-repeat center center;
        --hr: #772d2d;

        --hvr-active: rgba(212, 47, 47, 0.4);
        --highlight: #7a141466;
}}

.theme-light {
    &.wotc-beyond,
    & .wotc-beyond {

        --outer-bar: #fbe2c5;
        --dark-sidebar: #f6e3cd;
        --side-bar: #fff6e4;
        
        --note: #fffcf0; //#fffcf0
        --note-rgb: 255, 252, 240;

        --accent-color: 199, 89, 89;
        --accent: #c75959;
        --lite-accent: #a35158;
        --dark-accent: #cd645e; //#ffefda
        --deep-dark-accent: #2e1010;
        --accent2: #000000;
        --accent2-lite: #df6262;

        --headers: #c14343;
        --text: #412f2f;
        --code-text: #681010;
        --inactive: #e2b7a3;

        --file-icon-color: #ebbd92;
        --folder-open: var(--text);
        
        --bg: var(--dark-sidebar);
        --code-bg: #f3e6d2;
        --aside-bg: #faf2e9;
        --embed-bg: var(--aside-bg);
        
        --td: #fae0be60;
        
        --table: var(--outline);
        --hr: var(--table);
        --lines: var(--inactive);
        --outline: #fbb4577e;

        --hr-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 100 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Crect id='Artboard1' x='0' y='0' width='100' height='7' style='fill:none;'/%3E%3Cpath d='M50,2.5L100,3.5L50,4L0,3.5L50,2.5Z' style='fill:rgb(200, 57, 57);'/%3E%3C/svg%3E") no-repeat center center;
        

}}



//Paper Edge
body.wotc-beyond {
    & .workspace-leaf-content,
    & .workspace-tabs,
    & .vertical-tab-content,
    & .modal.modal,
    & .community-modal-sidebar,
    & .canvas-wrapper
    { box-shadow: var(--paper-edges); }
}

//Note CSSClass 
body:not(.wotc-beyond) .wotc-beyond:is(
    .markdown-source-view,
    .markdown-preview-view
){ box-shadow: var(--paper-edges); }


//Hr 
.wotc-beyond,
.pathfinder
{
    & .cm-line.hr { bottom: -10px; }
    &.markdown-rendered hr::after,
    & .markdown-rendered hr::after,
    & .cm-line:not(.cm-active) hr
    {
        content: "";
        display: block;
        position: relative;
        background: var(--hr-image);
        background-size: var(--hr-image-width);
        height: var(--hr-image-height);
        background-repeat: no-repeat;
        background-position: center;
    }
}
.wotc-beyond .internal-embed.markdown-embed {
    border-style: solid;
    border-width: 11px;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAYAAADxJz2MAAAFWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS41LjAiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICAgeG1sbnM6ZXhpZj0iaHR0cDovL25zLmFkb2JlLmNvbS9leGlmLzEuMC8iCiAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyIKICAgIHhtbG5zOnBob3Rvc2hvcD0iaHR0cDovL25zLmFkb2JlLmNvbS9waG90b3Nob3AvMS4wLyIKICAgIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIKICAgIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIgogICAgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIKICAgZXhpZjpQaXhlbFhEaW1lbnNpb249IjgwIgogICBleGlmOlBpeGVsWURpbWVuc2lvbj0iNjAiCiAgIGV4aWY6Q29sb3JTcGFjZT0iMSIKICAgdGlmZjpJbWFnZVdpZHRoPSI4MCIKICAgdGlmZjpJbWFnZUxlbmd0aD0iNjAiCiAgIHRpZmY6UmVzb2x1dGlvblVuaXQ9IjIiCiAgIHRpZmY6WFJlc29sdXRpb249IjMwMC8xIgogICB0aWZmOllSZXNvbHV0aW9uPSIzMDAvMSIKICAgcGhvdG9zaG9wOkNvbG9yTW9kZT0iMyIKICAgcGhvdG9zaG9wOklDQ1Byb2ZpbGU9InNSR0IgSUVDNjE5NjYtMi4xIgogICB4bXA6TW9kaWZ5RGF0ZT0iMjAyMi0wMS0wMlQxNjowNTo0MS0wODowMCIKICAgeG1wOk1ldGFkYXRhRGF0ZT0iMjAyMi0wMS0wMlQxNjowNTo0MS0wODowMCI+CiAgIDxkYzp0aXRsZT4KICAgIDxyZGY6QWx0PgogICAgIDxyZGY6bGkgeG1sOmxhbmc9IngtZGVmYXVsdCI+RCZhbXA7RCBCb3JkZXI8L3JkZjpsaT4KICAgIDwvcmRmOkFsdD4KICAgPC9kYzp0aXRsZT4KICAgPHhtcE1NOkhpc3Rvcnk+CiAgICA8cmRmOlNlcT4KICAgICA8cmRmOmxpCiAgICAgIHN0RXZ0OmFjdGlvbj0icHJvZHVjZWQiCiAgICAgIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFmZmluaXR5IERlc2lnbmVyIDEuMTAuNCIKICAgICAgc3RFdnQ6d2hlbj0iMjAyMi0wMS0wMlQxNjowNTo0MS0wODowMCIvPgogICAgPC9yZGY6U2VxPgogICA8L3htcE1NOkhpc3Rvcnk+CiAgPC9yZGY6RGVzY3JpcHRpb24+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgo8P3hwYWNrZXQgZW5kPSJyIj8+SLcLyAAAAYFpQ0NQc1JHQiBJRUM2MTk2Ni0yLjEAACiRdZHPK0RRFMc/8xD50SiUhcVLWA35UWJjMZNfhcXMKIPNm2fejJo3Xu+NJFtlO0WJjV8L/gK2ylopIiVLWRMbpuc8o0Yy53bP/dzvPed077mgRNO66ZR3g5nJ2uHRoDoTm1Urn/Ch0EQdqqY71mRkJEpJe7+VaLHrTq9W6bh/rWYh4ejgqxIe0i07KzwmPLGStTzeEm7UU9qC8IlwwJYLCt94erzAzx4nC/zpsR0Nh0CpF1aTvzj+i/WUbQrLy2kz08v6z328l9QmMtMRWVtltuAQZpQgKuMME6KfHgbF99NJL12yo0R+93f+FEuSq4u3WMVmkSQpsgREXZbqCVkN0RMy0qx6/f/bV8fo6y1Urw1CxaPrvrZD5Sbkc677ceC6+UMoe4DzTDF/aR8G3kTPFbW2PfCvw+lFUYtvw9kGNN9bmq19S2UyFcOAl2Ooi0HDFVTPFXr2c87RHUTX5KsuYWcXOiTeP/8FK5Jny8RYHqYAAAAJcEhZcwAALiMAAC4jAXilP3YAAAG5SURBVHic7dyxSiNRFMbxv0OwEkvZfrEWleWAvbA+giB5ANtgcx/gFJK0+wAbwUdYV7bZRjiIirXYL1tbiajFXHV3Y5KBbIyTfL8yOQxfPu5kprkXKnCzRTfrVpmdBm7WdbPFKrNFhYt9As6BnVGD1cgOcJ5/+0CNfl+4WQG0AB80N8U+AiduloBOirh/bejVFehmH4AjYJ/ZLO9Jg7KDo9xJj54C3ewzcAlsjjdbrWwCl7mbvzyvLjebp7xdW28YrE6WgG9u1gFSiriFvALdbBk4QeVV0aL8b1wGKNysCVwA6xONVS/rwIWbNefc7GHSaeps6HugiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIyCzQTqURaafSiBpAE/gCLAwbThFzY0/0DlS8K2+A3SJFdIE14Gy8sabKGbCWIroFQIq4AjaA9kRj1UMb2MidvexYzzuw99zsB/CVcoe2vPgNNFPE9z8/7HmI5IEV4PiNgtXBMbDyb3nQ5ymcIn4BW8AecDfebO/aHWUHW7mTHn2PNMnnpLTd7CdwSHmOyiy5BrZTxOmgoaHvgfkCq8DBfwpWBwfA6rDyAB4BTjVxWZByO0gAAAAASUVORK5CYII=") 11;
    border-image-outset: 9px 0px;
    box-shadow: 0px 0px 10px var(--outline, var(--background-modifier-box-shadow));
}
