/*Captions*/
.callout.callout[data-callout~="caption"] {
    background: transparent;
    text-align: center;
    box-shadow: none;
    border: 0;
    padding: 0;
    margin: 0;
    --callout-content-padding: 0;

    // margin-top: -10px;
    max-width: 30vh;
    
    & > .callout-content { 
        overflow: hidden; 
        
        & > p :is(.image-embed, img) + br { display: none; }
        & img { display: block; margin: auto; }
    }
    
    & > .callout-title { display: none; }
    & p {
        margin-block-start: 0;
        margin-block-end: 0;
        color: var(--text-faint);
    }

    &:is([data-callout-metadata~="sban"], [data-callout-metadata~="banner"]) .image-embed img 
    { width: 100%; }
}