

/*Infobox*/
:is(
    .is-mobile, 
    .is-mobile .is-live-preview, 
    .is-live-preview
) .callout[data-callout~="infobox"]:not([data-callout-metadata~="mobile"]) { 
    float: unset !important; 
    max-width: 100%; 
    margin: 0 !important;
    width: auto;
}
.callout[data-callout~="infobox"] {
    // --callout-color: var(--interactive-accent-rgb);
    --callout-color: var(--note, var(--background-primary));
    --callout-padding: 0;

    border: 0;
    box-shadow: none;
    margin: 0; 
    margin-left: 8px;
    width: auto;
    max-width: 20vw;
    float: right;

    // & .image-embed.is-loaded { height: 0; }

    //Center collapse Arrow
    & > .callout-title { 
        padding: 0; 
        justify-content: center;
    }
    
    &.is-collapsed .callout-fold {
        border: 1px solid var(--hr, var(--background-modifier-border));
        padding: 5px 10px;
    }
    
    //Display title collapse arrow on hover only
    & > .callout-title :is(.callout-icon, .callout-title-inner)
    { display: none; }

    &:not(:hover):not(.is-collapsed) .callout-title {
        background-color: transparent;
    }
    

    //Show title
    &:is([data-callout-metadata~="show-title"], [data-callout-metadata~="s-t"]) {
        &:not(:hover):not(.is-collapsed) > .callout-title {
            display: flex;
            gap: 0;
        }
        &.is-collapsed .callout-title {
            border: 1px solid var(--hr, var(--background-modifier-border));
            display: flex;
        }
        & .callout-fold,
        & .callout-title .callout-title-inner {
            display: unset;
            align-items: center;
            align-content: center;
            padding: 5px 10px;
        }
        & .callout-fold {
            padding: unset;
            margin-top: auto;
            margin-bottom: auto; 
        }

        &.is-collapsed .callout-fold { border: 0; }
    }
    

    //Flush content and add border
    & > .callout-content {
        padding: 1px;
        border: 1px solid var(--table, var(--background-modifier-border));
        margin: 0;
        border-radius: var(--radius, var(--co-radius));
    }
    //Style Tables
    & table { width: 100%; }
    & table td {
        white-space: pre-wrap;
        word-wrap: normal;
        word-break: normal;
    }
    & :is(p, table) {
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 0;
    }
    
    //Resize Headers
    & :is(h1, h2, h3, h4, h5, h6) {
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 2px;
        color: var(--text-normal);
        background: var(--outer-bar, var(--background-secondary)); 
    }
    //Image 
    // & p,
    & .internal-embed,
    & img
    { 
        display: block;
        margin: auto;
        padding: auto;
        text-align: center; 
    }

    &[data-callout-metadata][data-callout-metadata][data-callout-metadata~="left"] {
        margin-right: 25px;
    }

    
    &[data-callout-metadata~="wikipedia"] table {
        & th, & th:nth-child(even),
        & :is(td, tr) { background: transparent; }

        & tr td { border-top: 1.1px solid var(--hr); }
        & tr:last-child { margin-bottom: 2px; }
    }

}
@media print { .callout[data-callout~="infobox"] { max-width: 400px; } }
.theme-light .callout[data-callout~="infobox"][data-callout-metadata~="wikipedia"] {
    --th-text: var(--th)
}
