.callout[data-callout="kith"] {
    --callout-icon: user;
    --callout-color: #73a7ca;
    
    border-color: color-mix(in srgb, var(--callout-color), transparent 70%);

    & .callout-title-inner {
        font-weight: unset;
        color: var(--callout-color);

        //_Underscored Text_
        & em {
            display: block;
            font-style: normal;
            font-size: var(--font-small);
            line-height: 12px;
            font-weight: normal;

            //_Double _em_ fix_
            & em {
                font-style: italic;
                display: inline-block;
            }
        }
    }


    //Types
    &[data-callout-metadata="family"] {
        --callout-icon: users;
    }
    &[data-callout-metadata="friend"] {
        --callout-icon: user-check;
        --callout-color: #73ca90;
    }
    &[data-callout-metadata="romantic"] {
        --callout-icon: user-plus;
        --callout-color: #ca73b4;
    }
    &[data-callout-metadata="antagonist"] {
        --callout-icon: user-x;
        --callout-color: #f14a4a;
    } 
}