//Fix Spacing of callouts in reading mode
.markdown-preview-view .callout { --callout-margin: 1em 0; }

//Minimal Outline Fixes
.callouts-outlined {
    & .callout.callout:is(
        [data-callout="Metadata" i],
        [data-callout="Timeline" i],
        [data-callout="Recite" i],
        [data-callout="Columns" i],
        [data-callout="Infobox" i],
        [data-callout="Quote" i]
    ) > .callout-title { 
        display: flex;
        margin: unset;
        padding: var(--callout-title-padding);
        width: unset;
        
        & > .callout-icon { position: relative; }
    }
}

.callout-infobox-table-borders .callout[data-callout~="infobox"] {
        --table-border-color: var(--background-modifier-border);

        & th:first-child, & tr td:first-child { border-left-color: transparent; }
        & th:last-child, & tr td:last-child { border-right-color: transparent; }
}