@use "utils";

@include utils.select-by-callout-metadata(2, "txt-l", "text-left") {
    & > .callout-content > * {
        text-align: left;
    }
}

@include utils.select-by-callout-metadata(2, "txt-r", "text-right") {
    & > .callout-content {
        text-align: right;
    }
}

@include utils.select-by-callout-metadata(2, "txt-c", "text-center") {
    & > .callout-content {
        text-align: center;
    }
}

@include utils.select-by-callout-metadata(2, "ttl-c", "title-center") {
    & .callout-title {
        justify-content: center;
    }

    & .callout-title-inner {
        display: block;
        flex: unset;
    }
}

@include utils.select-by-callout-metadata(2, "text-small", "txt-s") {
    & > .callout-content > * {
        --font-text-size: var(--font-smallest);
        --tag-size: var(--font-smallest);
        --table-text-size: var(--font-smallest);

        font-size: var(--font-text-size);
    }
}
