@use "utils";

@include utils.select-by-callout-metadata(4, "no-t", "no-title") {
    & > .callout-title {
        display: none;
    }
}

@include utils.select-by-callout-metadata(4, "s-t", "show-title") {
    & > .callout-title {
        display: flex;
    }

    & > .callout-content > p {
        margin-top: 0;
    }
}

@include utils.select-by-callout-metadata(4, "subtitle", "subt") {
    & .callout-title {
        align-content: center;
        align-items: center;

        & em {
            display: block;
            font-style: normal;
            font-size: var(--font-small);
            line-height: 12px;
            font-weight: normal;

            & em {
                font-style: italic;
                display: inline-block;
            }
        }
    }
}

// No Icon
@include utils.select-by-callout-metadata(2, "no-i", "no-icon") {
    & > .callout-title > .callout-icon {
        width: 0;
        height: 0;
        --icon-size: 0;
    }
} // For Export

//No Table Header

@include utils.select-by-callout-metadata(1, "n-th", "no-table-header") {
    & .callout-content table {
        margin-bottom: 5px;

        & thead,
        & th {
            display: none;
        }
    }
}

//Wide Table
@include utils.select-by-callout-metadata(1, "t-w", "table-wide") {
    & table {
        width: 100%;

        & td {
            width: calc(var(--tbl-w) / 2);
        }
    }
}
//Table Text Alignment

@include utils.select-by-callout-metadata(1, "table-cell-top") {
    & table td {
        vertical-align: top;
    }
}
//Table Margins

@include utils.select-by-callout-metadata(2, "t-nmg", "table-no-margin") {
    & table {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

//Expand for Embed

@include utils.select-by-callout-metadata(1, "embed") {
    & .callout-content,
    & > .callout-content > p {
        margin: 0;
        padding: 0;
    }
}

//Collapse
@include utils.select-by-callout-metadata(1, "collapse") {
    & * {
        margin: 0 !important;
        padding: 0 !important;
        grid-gap: 0 !important;
    }
}

//Borderless
@include utils.select-by-callout-metadata(3, "nbrd", "no-border") {
    border: 0;
}

//Clean
@include utils.select-by-callout-metadata(3, "clean") {
    border: 0;
    box-shadow: none;
    --callout-color: transparent;
    --callout-padding: 0;

    & .callout-content {
        padding: 0;
    }
}

//Clear
@include utils.select-by-callout-metadata(1, "clear") {
    clear: both;
}

//Fix iframe Code
.callout #vid {
    text-align: left;
}
