
/* Timeline */
.callout.callout[data-callout~="timeline"] {
    --callout-icon: 'clock-12';
    // --callout-color: 209, 220, 226;
    --callout-padding: 0px;
    --callout-title-padding: 10px;
    --callout-content-padding: 10px;
    
    --micro: 50px;
    --tiny: 100px;
    --small: 200px;
    --small-med: 300px;
    --med-small: 400px;
    --medium: 500px;
    --med-tall: 600px;
    --tall: 700px;
    --c-timeline: 49.72%;

    @media all and (max-width: 450px) { --c-timeline: 49.5%; }
    // @media all and (max-width: 30px) { --c-timeline: 20%; }
    // @media all and (max-width: 60px) { --c-timeline: 100%; }
    

    background-color: transparent;

    margin: 0;
    border: 0;
    clear: both;
    
    
    & .callout-title {
        background: rgb(var(--callout-color), 0.35);
        align-content: center;
        align-items: center;
        
        & em {
            font-style: normal;
            display: block;
            font-size: 14px;
            line-height: 12px;
            color: rgb(var(--callout-color));
        }
    }
    
    & .callout-icon {
        background-color: var(--note, var(--background-primary));
        transform: scale(1.2);
        border-radius: 20px;
    }

    & .callout-content {
        background-color: rgb(var(--callout-color), 0.1);
    }
    
    //Side Alignment
    &[data-callout-metadata~="t-l"] :is(.callout-title, .callout-content) {
        border-right: 4px solid rgb(var(--callout-color));
        margin-right: var(--c-timeline);

        & > .callout-title,
        & > .callout-content { box-shadow: -4px 4px 0 var(--outline, var(--background-modifier-box-shadow)); }
    }
    &[data-callout-metadata~="t-r"] :is(.callout-title, .callout-content) {
        border-left: 4px solid rgb(var(--callout-color));
        margin-left: var(--c-timeline);
        
        & > .callout-title,
        & > .callout-content { box-shadow: 4px 4px 0 var(--outline, var(--background-modifier-box-shadow)); }
    }
    
    //Title/Icon Alignment
    &[data-callout-metadata~="t-l"] > .callout-title {
        flex-direction: row-reverse;
        text-align: right;
    }
    &[data-callout-metadata~="t-l"] > .callout-title .callout-icon {
        float: right;
        margin-right: -20px;
    }
    &[data-callout-metadata~="t-r"] > .callout-title .callout-icon {
        float: left;
        margin-left: -20px;
    }

    &[data-callout-metadata~="t-1"] {   padding-top: var(--micro); }
    &[data-callout-metadata~="t-2"] {   padding-top: var(--tiny); }
    &[data-callout-metadata~="t-3"] {   padding-top: var(--small); }
    &[data-callout-metadata~="t-4"] {   padding-top: var(--small-med); }
    &[data-callout-metadata~="t-5"] {   padding-top: var(--med-small); }
    &[data-callout-metadata~="t-6"] {   padding-top: var(--medium); }
    &[data-callout-metadata~="t-7"] {   padding-top: 350px; }
    &[data-callout-metadata~="t-8"] {   padding-top: var(--med-tall); }
    &[data-callout-metadata~="t-9"] {   padding-top: var(--tall); }
    &[data-callout-metadata~="t-10"] {  padding-top: 750px; }


    // &[data-callout-metadata~="b-1"] {   padding-bottom: var(--micro); }
    // &[data-callout-metadata~="b-2"] {   padding-bottom: var(--tiny); }
    // &[data-callout-metadata~="b-3"] {   padding-bottom: var(--small); }
    // &[data-callout-metadata~="b-4"] {   padding-bottom: var(--small-med); }
    // &[data-callout-metadata~="b-5"] {   padding-bottom: var(--med-small); }
    // &[data-callout-metadata~="b-6"] {   padding-bottom: var(--medium); }
    // &[data-callout-metadata~="b-7"] {   padding-bottom: 350px; }
    // &[data-callout-metadata~="b-8"] {   padding-bottom: var(--med-tall); }
    // &[data-callout-metadata~="b-9"] {   padding-bottom: var(--tall); }
    // &[data-callout-metadata~="b-10"] {  padding-bottom: 750px; }
}