
$callout-colors: (
    "blue"      "#528bd4",
    "green"     "#56b375",
    "orange"    "#e6813f",
    "red"       "#c14343",
    "purple"    "#9961da",
    "gray"      "#a6bdc5",
    "yellow"    "#d0b530",
    "pink"      "#e36ba7",
    "brown"     "#a16a49",
    "black"     "#000000",
    "white"     "#FFFFFF",
    "plain"     "transparent"
);

/*--Callout Coloring--*/
.callout.callout.callout {
    --callout-color-opacity: 20%;

    @each $name, $color in $callout-colors {
        --callout-#{$name}: #{$color};
    
        //Title Text Colors
        &.callout.callout.callout:is(
            [data-callout-metadata~="color-#{$name}"], 
            [data-callout-metadata~="c-#{$name}"]
        ) { 
            --callout-title: var(--callout-#{$name}); 
            & > .callout-title { --callout-color: var(--callout-title); }
        }

        //Background Colors
        &:is(
            [data-callout-metadata~="background-#{$name}"], 
            [data-callout-metadata~="bg-#{$name}"],
            [data-callout-metadata~="background-color-#{$name}"], 
            [data-callout-metadata~="bg-c-#{$name}"]
        ) { 
            --callout-background: rgba(var(--callout-#{$name}), var(--callout-color-opacity)); 
            background-color: var(--callout-background); 
        }
        
        //Background & Text
        &:is(
            [data-callout-metadata~="background-color-#{$name}"], 
            [data-callout-metadata~="bg-c-#{$name}"]
        ) { --callout-color: var(--callout-#{$name}); }
    } 
    // &:is(
    //     [data-callout-metadata~="color-"], [data-callout-metadata~="c-"]
    // ) { --callout-color: var(--callout); }
}

