

/*Infobox*/
:is(
    .is-mobile, 
    .is-mobile .is-live-preview, 
    .is-live-preview
) .callout[data-callout~="infobox"]:not([data-callout-metadata~="mobile"]) { 
    float: unset !important; 
    max-width: 100%; 
    margin: 0 !important;
    width: auto;
}
.callout[data-callout~="infobox"] {
    // --callout-color: var(--interactive-accent-rgb);
    --callout-color: var(--note, var(--background-primary));
    --callout-padding: 0;
    --callout-margin: 0 0 0 5px;
    background: var(--note, var(--background-primary));

    --h1-border-line-height: 0;
    --h2-border-line-height: 0;
    --h3-border-line-height: 0;
    --h4-border-line-height: 0;
    --h5-border-line-height: 0;
    --h5-border-line-height: 0;

    border: 0;
    box-shadow: none;
    width: auto;
    max-width: 300px;
    float: right;

    // & .image-embed.is-loaded { height: 0; }

    //Center collapse Arrow
    & > .callout-title { 
        padding: 0; 
        justify-content: center;
    }
    & .callout-fold { padding-right: 0; }

    &.is-collapsed .callout-fold {
        border: 1px solid var(--hr, var(--background-modifier-border));
        padding: 5px 10px;
    }
    
    //Display title collapse arrow on hover only
    & > .callout-title .callout-title-inner 
    { display: none; }
    
    // Fixed for export: DO NOT display: none; ON CALLOUT ICON
    &:not(
        [data-callout-metadata~="show-title"], 
        [data-callout-metadata~="s-t"]
    ) .callout-icon svg { width: 0; height: 0; }

    //Hide Background Color 
    &:not(:hover):not(.is-collapsed) .callout-title 
    { background-color: transparent; }
    

    //Show title
    &:is([data-callout-metadata~="show-title"], [data-callout-metadata~="s-t"]) {
        &:not(:hover):not(.is-collapsed) > .callout-title {
            display: flex;
            gap: 0;
        }
        &.is-collapsed .callout-title {
            border: 1px solid var(--hr, var(--background-modifier-border));
            display: flex;
        }
        & .callout-title .callout-title-inner {
            display: unset;
            align-items: center;
            align-content: center;
            padding: 5px 10px;
        }
        & .callout-fold {
            padding: unset;
            margin-top: auto;
            margin-bottom: auto; 
        }

        &.is-collapsed .callout-fold { border: 0; }
    }
    

    //Flush content and add border
    & > .callout-content {
        border: 1px solid var(--table, var(--background-modifier-border));
        margin: 0;
        border-radius: var(--radius, var(--co-radius));
    }
    //Style Tables
    & table { width: 100%; }
    & table td {
        white-space: pre-wrap;
        word-wrap: normal;
        word-break: normal;
    }
    & :is(p, table) {
        margin-block-start: 0;
        margin-block-end: 0;
        margin: 0;
    }
    
    //Resize Headers
    & :is(h1, h2, h3, h4, h5, h6) {
        font-size: 20px;
        text-align: center;
        margin: 0;
        padding: 2px;
        color: var(--text-normal);
        background: var(--outer-bar, var(--background-secondary)); 
    }
    //Image 
    // & p,
    & .internal-embed,
    & img
    { 
        display: block;
        margin: auto;
        padding: auto;
        text-align: center; 
    }

    &[data-callout-metadata][data-callout-metadata][data-callout-metadata~="left"] {
        --callout-margin: 0 5px 0 0;
    }

    
    &[data-callout-metadata~="wikipedia"] table {
        --table-header-color: var(--text);
        --table-header-background: transparent;
        --table-header-background-hover: var(--td);

        --table-row-background-hover: var(--td);
        --table-row-alt-background: transparent;
        --table-column-alt-background: transparent;
        // --table-border-color: var(--table);

        // & tr td { border-top-color: var(--hr); }
        // & tr td { border-top: 1.1px solid var(--hr); }
        & tr:last-child { margin-bottom: 2px; }
    }

}
@media print { .callout[data-callout~="infobox"] { max-width: 400px; } }
.theme-light .callout[data-callout~="infobox"][data-callout-metadata~="wikipedia"] {
    --th-text: var(--th)
}
