
/* Cards */
.callout[data-callout~="cards"] {
    --callout-color: transparent;
    --callout-icon: layout-dashboard;
    --callout-padding: 2px;
    --callout-content-padding: 0px;
    --callout-blend-mode: normal;

    box-shadow: none;
    border: 0;
    width: auto;
    
    & > .callout-title { display: none; }
    & > .callout-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        
        border-radius: 0;
        padding-inline-start: 0px;
        padding: 0;
    }
    & p {
        margin-block-start: 0;
        margin-block-end: 0;
        padding: 0;
    }
    
    &:not([data-callout-metadata~='nstr'], [data-callout-metadata~='no-strong']) strong {
        display: block;
        text-align: center;
        margin: auto;
        background-color: var(--outer-bar, var(--background-secondary));
    }
    & br { display: none; }


    
    // Columns
    &[data-callout-metadata~="1"] :is(.dataview.table-view-table tbody, .callout-content) {
        grid-template-columns: repeat(1, 1fr);
    }
    &[data-callout-metadata~="2"] :is(.dataview.table-view-table tbody, .callout-content) {
        grid-template-columns: repeat(2, 1fr);
    }
    &[data-callout-metadata~="4"] :is(.dataview.table-view-table tbody, .callout-content) {
        grid-template-columns: repeat(4, 1fr);
    }
    &[data-callout-metadata~="5"] :is(.dataview.table-view-table tbody, .callout-content) {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Dataview Cards */

//Table
.callout[data-callout~="cards"][data-callout-metadata~="dataview"] {
    // Undo General Cards Grid Styling
    --callout-content-padding: 0;
    // --callout-cards-outline: ;

    & .callout-content {
        display: unset;
        grid-template-columns: unset;
    }
    & br { display: block; }


    & .block-language-dataview { padding: 5px; }
    & .dataview.table-view-table {
        display: grid;

        // Undo Table Cell Styling
        & :is(td, tr) {
            border: 0;
            background: transparent;
            padding: 0;
        }
        // Hide Background in dv Table
        & strong { background: transparent; }
    }
    // Restyle Table Headers
    & .table-view-thead {
        & th {
            border: 0;
            background-color: transparent;
        }
        & tr { display: none; }
    }

    // Display cells as grid
    & .dataview.table-view-table tbody {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

        & tr { 
            display: grid;
            align-content: flex-start;
            margin: 0;
            padding: 10px;
            // flex-direction: column;

            // background-color: var(--aside-bg);
            border: 2px solid var(--outline, var(--background-modifier-box-shadow));
            box-shadow: var(--shadow-ml, var(--input-shadow));
        }
    }
}


//List
.callout[data-callout~="cards"][data-callout-metadata~="dvl"] {
    & .callout-content { display: block; }
    & br { display: unset; }

    & .block-language-dataviewjs .dataview-result-list-li,
    & .list-view-ul li {
        padding: 10px;
        background-color: var(--outer-bar, var(--background-secondary));
        box-shadow: var(--shadow-s, var(--input-shadow));
        margin-bottom: 5px;
    }
    & .dataview.list-view-ul li::before { margin-left: -27px; }
    & ul { padding-inline-start: unset; }
} 

// Columns
.callout[data-callout~="cards"]{
    &[data-callout-metadata~="1"] :is(.dataview.table-view-table tbody, .callout-content) {
        grid-template-columns: repeat(1, 1fr);
    }
    &[data-callout-metadata~="2"] :is(.dataview.table-view-table tbody, .callout-content) {
        grid-template-columns: repeat(2, 1fr);
    }
    &[data-callout-metadata~="4"] :is(.dataview.table-view-table tbody, .callout-content) {
        grid-template-columns: repeat(4, 1fr);
    }
    &[data-callout-metadata~="5"] :is(.dataview.table-view-table tbody, .callout-content) {
        grid-template-columns: repeat(5, 1fr);
    }
}

//Image Sizing
.callout[data-callout~="cards"][data-callout-metadata~="dataview"] {
    & img:not(.link-favicon) { 
        width: 100%; 
        object-fit: cover 
    }

    &[data-callout-metadata~="img-micro"]       img { height: var(--micro);     }
    &[data-callout-metadata~="img-tiny"]        img { height: var(--tiny);      }
    &[data-callout-metadata~="img-small"]       img { height: var(--small);     }
    &[data-callout-metadata~="img-small-med"]   img { height: var(--small-med); }
    &[data-callout-metadata~="img-med-small"]   img { height: var(--med-small); }
    &[data-callout-metadata~="img-medium"]      img { height: var(--medium);    }
    &[data-callout-metadata~="img-med-tall"]    img { height: var(--med-tall);  }
    &[data-callout-metadata~="img-tall"]        img { height: var(--tall);      }
}