
// Align Callout Content Text
.callout.callout:is(
    [data-callout-metadata~="txt-l"],
    [data-callout-metadata~="text-left"]
) > .callout-content {
    text-align: left;
}
.callout.callout:is(
    [data-callout-metadata~="txt-r"],
    [data-callout-metadata~="text-right"]
) > .callout-content {
    text-align: right;
}
.callout.callout:is(
    [data-callout-metadata~="txt-c"],
    [data-callout-metadata~="text-center"]
) > .callout-content {
    text-align: center;
}


// Align Callout Title Text
.callout.callout:is(
    [data-callout-metadata~="ttl-c"], 
    [data-callout-metadata~="title-center"]
) {
    & .callout-title { justify-content: center; }
    
    & .callout-title-inner {
        display: block;
        flex: unset;
    }
}


// Text Sizing
.callout.callout:is(
    [data-callout-metadata~='text-small'],
    [data-callout-metadata~='txt-s']
) {
    --font-text-size: var(--font-smallest);
    --tag-size: var(--font-smallest);
    --table-text-size: var(--font-smallest);
}