.callout-original .callout,
.callout:is(
    [data-callout-metadata~='callout-original'], 
    [data-callout-metadata~='co-o']
) {
    --callout-padding: 0;
    --callout-title-padding: 10px 15px;
    --callout-content-padding: 5px 15px;
    --callout-border-opacity: 1;
    --callout-margin: 5px 5px 5px 0;
    
    border-left-width: 3px;
    background-color: var(--note, var(--background-primary));
    box-shadow: var(--shadow-m);
    margin: var(--callout-margin);

    & .callout-title {
        background: rgba(var(--callout-color), .1);
    }
}