@use "utils";

@include utils.repeat-selector(".callout", 3) {
    --callout-micro: 10%;
    --callout-tiny: 20%;
    --callout-small: 30%;
    --callout-small-med: 40%;
    --callout-med-small: 50%;
    --callout-medium: 60%;
    --callout-med-tall: 80%;
    --callout-tall: 95%;
}

$callout-type-to-width: (
    wmicro: --callout-micro,
    wtiny: --callout-tiny,
    wsmall: --callout-small,
    ws-med: --callout-small-med,
    wm-sm: --callout-med-small,
    wmed: --callout-medium,
    wm-tl: --callout-med-tall,
    wtall: --callout-tall
);

@each $type, $width in $callout-type-to-width {
    @include utils.select-by-callout-metadata(3, #{$type}) {
        max-width: unset;
        width: var(#{$width});
    }
}

@include utils.select-by-callout-metadata(3, "sban", "wfull") {
    width: 100%;
    float: unset;
    max-width: 100%;
}

$callout-type-to-width-c: (
    wtiny-c: 19%,
    wsmall-c: 32.4%,
    ws-med-c: 39%,
    wm-sm-c: 49%,
    wmed-c: 59%,
    wm-tl-c: 79%
);

@each $type, $width in $callout-type-to-width-c {
    @include utils.select-by-callout-metadata(3, #{$type}) {
        width: #{$width};
    }
}

@include utils.select-by-callout-metadata(3, "wfit") {
    width: fit-content;
    max-width: min-content;
}
@include utils.select-by-callout-metadata(2, "static") {
    --callout-micro: 50px;
    --callout-tiny: 100px;
    --callout-small: 200px;
    --callout-small-med: 300px;
    --callout-med-small: 400px;
    --callout-medium: 500px;
    --callout-med-tall: 600px;
    --callout-tall: 700px;
}

$padding-type-to-value: (
    (content-padding-small, c-p-sm): 6px,
    (content-padding-medium, c-p-med): 12px,
    (content-padding-large, c-p-lg): 24px
);

@each $padding-type, $padding-value in $padding-type-to-value {
    @include utils.select-by-callout-metadata(2, $padding-type...) {
        padding: $padding-value;
    }
}
