body {
    --folder-icon: "\e801";
    --folder-font: var(--its);

    --file-icon: "\e800";
    --file-font: var(--its);
    --file-icon-margin: 6px;
    
    --nav-item-children-padding-left: 2px;
}


/*Nav Folder/File Icons*/
.nav-folder-children .nav-folder-title .nav-folder-title-content::before,
.nav-file-title .nav-file-title-content::before {
    margin-right: var(--file-icon-margin);
    font-size: var(--nav-item-size);
    font-weight: 10;
    width: var(--nav-item-size);
}

//Folder
.nav-folder-children .nav-folder-title-content::before {
    content: var(--folder-icon);
    font-family: var(--folder-font);
    color: var(--folder);
    text-align: center;
}

.nav-folder-children .nav-folder:not(.is-collapsed) > .nav-folder-title .nav-folder-title-content {
    &::before { color: var(--folder-open); } 
    &:hover::before { color: var(--nav-item-color-active); }
}


//Files
.nav-file-title .nav-file-title-content::before {
    content: var(--file-icon);
    font-family: var(--file-font);
    text-align: center;
    color: var(--file-icon-color);
}

//Hover
.nav-folder-title:is(.is-active, :hover) .nav-folder-title-content::before,
.nav-file-title:is(.is-active, :hover) .nav-file-title-content::before,
.nav-file-title:is(.is-active, :hover) .nav-file-icon
{ color: var(--nav-item-color-active); }