/* Vault Icon */
body {
    --vault-icon-image: '';
}

// Vault Icon
.workspace-sidedock-vault-profile::before {
    content: '';
    background-image: var(--vault-icon-image);
    background-size: contain;
    background-repeat: no-repeat;
}
// Icon Size
.vault-icon .workspace-sidedock-vault-profile::before {
    width: 32px;
    height: 28px;
    // margin-right: 5px;
}

// Mobile
.vault-icon .workspace-drawer-header-name::before {
    margin-right: 10px;
}
.vault-icon .workspace-drawer-header {
    padding-left: 10px;
    padding-right: 10px;
}
