/* Vault Icon */
body {
    --vault-icon-image: '';
}

.nav-folder.mod-root > .nav-folder-title {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 0;
}

.nav-folder.mod-root > .nav-folder-title::before {
    content: '';
    background-image: var(--vault-icon-image);
    background-size: contain;
    background-repeat: no-repeat;
}
// 
.vault-icon .nav-folder.mod-root > .nav-folder-title::before {
    width: 32px;
    height: 28px;
    margin-right: 5px;
}

// Mobile
.vault-icon .workspace-drawer-header-name::before {
    margin-right: 10px;
}
.vault-icon .workspace-drawer-header {
    padding-left: 10px;
    padding-right: 10px;
}
