
/*Notion Colors*/
.notion.notion {
    --font: var(--default-font);
    --f-w-h: 900;
    --f-w-v: 900;
    --hr-sym: "";

    background: var(--note);
}
.theme-dark.notion,
.theme-dark .notion.notion {
    --background-primary: var(--note);
    --background-primary-alt: var(--side-bar);
    --background-secondary: var(--side-bar);
    --background-secondary-alt: var(--side-bar);
    --background-modifier-cover: var(--side-bar);

    --text-normal: var(--text);
    --text-muted: var(--soft-text);
    --text-accent: var(--text);
    --text-accent-hover: var(--accent2-lite);

    --background-modifier-border: var(--hr);

    --background-modifier-form-field: rgb(255, 255, 255, 0.1);
    --background-modifier-form-field-highlighted: rgb(255, 255, 255, 0.1);
    --text-highlight-bg: rgb(255, 255, 255, 0.1);
    --text-highlight-bg-active: rgba(45, 170, 219, 0.3);
    --text-selection: rgba(45, 170, 219, 0.3);

    --text-faint: var(--inactive);

    --interactive-accent: var(--bttn);
    --text-on-accent: var(--text-dl);
    
    --scrollbar-bg: #3b4044;
    --scrollbar-thumb-bg: #474C50;
    
    //
    --text: #EBEBEB;
    --headers: var(--text);
    --accent2-lite: #2EA1CF;
    --lite-accent: var(--bttn);
    --soft-text: #A8ABAC;
    --inactive: #5D6265;
    --footnote: #7A7D7F;
    --file: var(--text);
    --code-text: var(--text);
    --code-bg: #3F4447;

    --note: #2F3437;
    --note-rgb: 47, 52, 55;
    --outline: #0f0f0f40;
    --bttn: transparent;
    --bg: #3C4144;
    --side-bar: #373C3F;
    --outer-bar: var(--embed-bg);
    --embed-bg: #3F4447;
    --code-bg: var(--bg);
    
    --th: #373c3f;
    --td: #0f0f0f33;
    
    --hr: #3C3F43;
    --table: #4C5153;
    --lines: var(--table); /*#3E4245*/

    --bttn: #43B3E0; /*#889FC3*/
    --tag: #708dbb;
    --folder: var(--bttn);
    --text-dl: white;
    --i-at: var(--bttn);

    --f-hover: var(--text);
    --accent: var(--tag); /*#474C50*/
    --accent2: var(--soft-text);
    --dark-accent: #4B5053; /*#26292B*/
    --dark-sidebar: var(--side-bar);
    // --aside-bg: #373C3F;
    --aside-bg: var(--note);
    --deep-dark-accent: var(--outer-bar);

    --graph-bg: var(--note);
    --graph-lines: #5D626555;
    --graph-node: var(--headers);
    --graph-fill: var(--folder);
    --graph-404: var(--inactive);
    --graph-img: var(--soft-text);
    --graph-tag: var(--accent);
    --graph-focused: var(--accent);

    --sphd-pre-1: var(--lite-accent);
    --sphd-pre-2: var(--accent2);
    --sphd-pre-3: var(--inactive);
    --sphd-pre-4: var(--hr);
    --sphd-pre-5: var(--note);
    --sphd-pre-6: var(--td);
    --sphd-ed-1: var(--lite-accent);
    --sphd-ed-2: var(--accent2);
    --sphd-ed-3: var(--inactive);
    --sphd-ed-4: var(--hr);
    --sphd-ed-5: var(--note);
    --sphd-ed-6: var(--td);
}
.theme-light.notion,
.theme-light .notion.notion {
    --background-primary: var(--note);
    --background-primary-alt: var(--side-bar);
    --background-secondary: var(--side-bar);
    --background-secondary-alt: var(--side-bar);
    --background-modifier-cover: var(--side-bar);
    
    --text-normal: var(--text);
    --text-muted: var(--soft-text);
    --text-accent: var(--text);
    --text-accent-hover: var(--accent2-lite);

    --background-modifier-border: var(--hr);

    --background-modifier-form-field: rgba(242, 241, 238, 0.6);
    --background-modifier-form-field-highlighted: rgba(45, 170, 219, 0.2);
    --text-highlight-bg: rgba(55, 53, 47, 0.078);
    --text-highlight-bg-active: rgba(45, 170, 219, 0.2);
    --text-selection: rgba(45, 170, 219, 0.3);

    --scrollbar-bg: #EDECE9;
    --scrollbar-thumb-bg: #D3D1CB;

    --interactive-accent: var(--bttn);
    --text-accent: var(--text);
    --text-on-accent: white;
    --text-faint: var(--inactive);
    --text-muted: var(--soft-text);

    //
    --note: #FFFFFF;
    --note-rgb: 247, 246, 243;
    --side-bar: #F7F6F3;
    --accent: #D3D1CB;
    --dark-accent: #E8E7E4;
    
    --outer-bar: #F1F1EF;
    --inactive: #CFCECD;
    --bg: #EDECE9;
    --embed-bg: #F1F1EF;
    --dark-sidebar: var(--side-bar);
    --aside-bg: var(--note);
    --deep-dark-accent: var(--outer-bar);
    
    --headers: var(--text);
    --text: #37352f; /*#8D8C89*/
    --accent2-lite: #2EA1CF;
    --lite-accent: var(--bttn);
    --soft-text: #82817C;
    --hr: #EDEDEC;
    --file: #69685f;
    --outline: #0f0f0f15;
    
    --td: #37352F10;
    --th: var(--side-bar);
    --th-text: var(--text);

    --hr: rgba(55, 53, 47, 0.1);
    --lines: var(--hr);
    --table:#e9e9e7;

    --bttn: #43B3E0;
    --tag: var(--bttn);
    --folder: var(--bttn);
    --text-dl: white;
    --i-at: var(--bttn);

    --f-hover: var(--text);
    --accent: #43B3E0; 
    --accent2: var(--soft-text);
    --footnote: #A09E9A;

    --code-bg: #f7f6f3;
    --code-text: var(--text);
    
    --graph-bg: var(--note);
    --graph-lines: #CFCECD55;
    --graph-node: var(--soft-text);
    --graph-fill: var(--folder);
    --graph-404: var(--file);
    --graph-img: #000;
    --graph-tag: var(--accent);
    --graph-focused: var(--accent);

    --sphd-pre-1: var(--lite-accent);
    --sphd-pre-2: var(--accent2);
    --sphd-pre-3: var(--inactive);
    --sphd-pre-4: var(--hr);
    --sphd-pre-5: var(--note);
    --sphd-pre-6: var(--td);
    --sphd-ed-1: var(--lite-accent);
    --sphd-ed-2: var(--accent2);
    --sphd-ed-3: var(--inactive);
    --sphd-ed-4: var(--hr);
    --sphd-ed-5: var(--note);
    --sphd-ed-6: var(--td);
}
.notion  {
    & .titlebar * { color: var(--text) !important; }
    
    & .modal.mod-settings .vertical-tab-content-container,
    & .vertical-tab-content,
    & .community-plugin-info {
        background: var(--note);
    }
    &:not(.unset-link-c) {
        --text-accent: var(--text);
        --accent2-lite: var(--text);
    }

    //Notion Links
    & .internal-link,
    & .external-link,
    & .cm-underline {
        color: var(--accent2-lite);
        border-bottom: 1px solid var(--table);
        font-weight: 600;
        text-decoration: unset;
    }
    & .internal-link.is-unresolved,
    & .external-link,
    & .is-unresolved .cm-underline {
        color: var(--inactive);
    }
    & a { font-weight: 600; }
    & .external-link { color: var(--soft-text); }
    
    & .external-link:hover,
    & .internal-link:hover,
    & .cm-underline:hover {
        background: var(--text-highlight-bg);
    }
    
    /*Notion Style Dataview: .dvl-c class*/
    & .dvl-c,
    &.dvl-c 
    {
        // & .table-view-table > thead::before {
        //     content: "\E805";
        //     font-family: var(--its);
        // }
        & .block-language-dataviewjs .dataview-result-list-li,
        & .list-view-ul li,
        & .dataview.table-view-table > tbody > tr {
            flex: 1 1 200px;
            
            border-radius: 3px;
            background: var(--embed-bg);
            border: 0;
            box-shadow: var(--outline) 0px 0px 0px 1px;
            
            &:hover { cursor: pointer; }
        }
    }
}
.theme-light.notion.notion,
.theme-light .notion.notion {
    & .dvl-c,
    &.dvl-c {
        & .block-language-dataviewjs .dataview-result-list-li,
        & .list-view-ul li,
        & .dataview.table-view-table > tbody > tr {
            background: var(--note);
        }
    }
}


