

/*--Outgoing Links--*/
body .search-result-file-match-destination-file-container .search-result-file-match-destination-file {
    border-radius: var(--radius) !important;
    border: 0;
}

.outgoing-link-item.outgoing-link-item:nth-child(odd) {
    background-color: var(--td);
}

.backlink-pane,
.outgoing-link-pane{
    & > .tree-item-self {
        text-align: center;
        background-color: var(--aside-bg);
        box-shadow: 0 2px 0 var(--outline);
        margin-bottom: 10px;
    }
}

.backlink-pane .search-result-container {
    margin: 5px;
}