.tab-auto {
    --tab-width: fit-content;
    --tab-max-width: 100%;
    --tab-min-width: 10ch;

    
    // // & .workspace .mod-root .workspace-tab-header,
    // // & .workspace-tab-header-container-inner { flex: auto; }
    & .mod-root .workspace-tab-header-container {
        flex: 0 1 auto;
    }
    & .mod-root .workspace-tab-header-container-inner {
        // overflow: unset;
        flex: 1 1 min-content;
        flex-wrap: nowrap;
    }
    & .workspace .mod-root .workspace-tab-header-inner-title {
        // text-overflow: unset;
        flex: 1 1 fit-content;
    }
    // & .mod-root .workspace-tab-header-spacer { display: none; }
}
.tab-wide {
    --tab-width: auto;
    --tab-max-width: 100%;

    & .workspace .mod-root .workspace-tab-header,
    & .workspace-tab-header-container-inner { flex: auto; }

    // & .workspace .mod-root .workspace-tab-header { flex: 1 1 auto; }

    & .workspace-tab-header-spacer { display: none; }
}