.titlebar-colors.titlebar-colors.titlebar-colors {
    --titlebar-text-color: var(--inactive);
    --titlebar-text-color-focused: var(--text-dl);

    --titlebar-background: var(--dark-accent);
    --titlebar-background-focused: var(--dark-accent);
    --titlebar-bubble-colors: var(--outline);
    --sidebar-tab-background-color: var(--note);

    // --tab-text-color: var(--soft-text);
    // --tab-text-color-focused: var(--text);
    --tab-text-color: var(--text-dl);
    --tab-text-color-focused: var(--text-dl);

    --tab-font-weight: 500;
    --tab-font-weight-active: 900;

    --tab-outline-width: 0;
    --tab-divider-color: var(--td);

    & .workspace-tab-header.is-active {
        --sidebar-tab-color-hover: var(--text);
        --sidebar-icon-color: var(--text);
    }

    &.theme-light {
        --sidebar-icon-color-active: var(--text);
    }

    & .sidebar-toggle-button, 
    & .workspace-tabs.mod-top .workspace-tab-header-container {
        background-color: var(--titlebar-background);
        // padding: 0;

        --sidebar-icon-color: var(--text-on-accent);
        --icon-color: var(--text-dl);
    }

    & :is(.mod-left-split, .mod-right-split) .workspace-tab-header.is-active,
    & :is(.mod-left-split, .mod-right-split) .workspace-tab-header .workspace-tab-header-inner-icon {
    //     --tab-text-color: var(--text);
    //     --tab-text-color-active: var(--text);
    //     --tab-text-color-hover: var(--text);
    //     --tab-text-color-focused-active: var(--text);
        --tab-text-color-focused-active-current: var(--text);
    }
}