.titlebar-bubbles.titlebar-bubbles {
    --tab-outline-width: 0;
    --titlebar-bubble-colors: var(--accent);
}

.titlebar-bubbles .mod-root {
    --tab-radius: var(--radius-m);
    --tab-radius-active: var(--radius-m);

    --tab-text-padding: 3px 5px;
    --tab-text-padding-inner: 1px 3px;
    --tab-gap: 0 10px;


    // & .workspace-tab-header { padding: var(--tab-gap); }

    & .workspace-tab-header-container-inner,
    & .workspace-tab-header-container {
        align-items: center;
        align-content: center;
        gap: var(--size-2-3);
    }
    & .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner,
    & .workspace-tab-header-container-inner,
    & .workspace-tab-header-inner {
        margin: unset;
        padding: var(--tab-text-padding);
    }

    //Tab
    & .workspace-tab-header {
        box-shadow: 2px 2px 0 var(--titlebar-bubble-colors);
        border: 2px solid var(--titlebar-bubble-colors);
        padding: var(--tab-text-padding-inner);
    }

    //Hover Color
    & .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner 
    { background-color: unset; }
    & .workspace-tab-header:not(.is-active):hover { background-color: var(--td); }

    //New Tab
    & .workspace-tab-header-new-tab { padding: 0; }

    //Remove Tab Corners
    & .workspace-tab-header.is-active::before,
    & .workspace-tab-header.is-active::after { display: none; }
}

