.titlebar-bubbles.titlebar-bubbles.titlebar-bubbles {
    --tab-outline-width: 0;
    --titlebar-bubble-colors: #0b0f13;
    --titlebar-bubble-colors-inactive: #0b0f1350;
    
    --tab-text-color-focused-active: var(--text);
    --tab-divider-color: transparent;
}

 
.titlebar-bubbles :is(.mod-left-split, .mod-right-split, .mod-root) {
    --tab-radius: var(--radius-m);
    --tab-radius-active: var(--radius-m);

    --tab-text-padding: 3px 5px;
    --tab-text-padding-inner: 1px 3px;
    --tab-gap: 0 10px;

    --tab-text-color-focused-active-current: var(--text);
    --tab-curve: 0;
    

    // & .workspace-tab-header { padding: var(--tab-gap); }

    & .workspace-tab-header-container-inner,
    & .workspace-tab-header-container {
        align-items: center;
        align-content: center;
        gap: var(--size-2-3);
    }
    & .workspace-tab-header:not(.is-active) .workspace-tab-header-inner,
    & .workspace-tab-header-container-inner,
    & .workspace-tab-header-inner {
        margin: unset;
        padding: var(--tab-text-padding);
    }
    
    //Tab
    & .workspace-tab-header {
        box-shadow: 2px 2px 0 var(--titlebar-bubble-colors);
        border: 2px solid var(--titlebar-bubble-colors);
        padding: var(--tab-text-padding-inner);
        --sidebar-tab-background-color-hover: transparent;

        &:not(.is-active) {
            --titlebar-bubble-colors: var(--titlebar-bubble-colors-inactive);
        }
    }
    //Sliding Tab Fix
    & .mod-stacked .workspace-tab-header { border: none; }

    //Hover Color
    & .workspace-tab-header:not(.is-active):hover { 
        background-color: var(--titlebar-bubble-colors-inactive); 
        
        & .workspace-tab-header-inner { background-color: unset; }
    }

    //New Tab
    & .workspace-tab-header-new-tab { padding: 0; }

    //Remove Tab Corners
    // & .workspace-tab-header.is-active::before,
    // & .workspace-tab-header.is-active::after { display: none; }


    & .workspace-tab:not(.mod-stacked) .workspace-tab-header:not(.is-active) .workspace-tab-header-inner {
        color: var(--text-on-accent);
    }
}

