/*--Headings--*/
h1, h2, h3, h4, h5, h6, .cm-s-obsidian .cm-header {
    font-weight: var(--f-w-h);
    font-family: var(--font);
    color: var(--headers);
}


.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
    margin-bottom: calc(var(--head-h) - 1.5em) !important;
}

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
    margin: var(--head-h) 0;
    line-height: calc(var(--lh) - .3em) !important;
}

/*Font Sizes*/
.markdown-preview-view h1,
.cm-s-obsidian .cm-header-1 { font-size: var(--f-s-h); }
.markdown-preview-view h2   { font-size: calc(var(--f-s-h) - 4px); }
.cm-s-obsidian .cm-header-2 { font-size: calc(var(--f-s-h) - 6px); }
.markdown-preview-view h3   { font-size: calc(var(--f-s-h) - 8px); }
.cm-s-obsidian .cm-header-3 { font-size: calc(var(--f-s-h) - 10px); }
.markdown-preview-view h4   { font-size: calc(var(--f-s-h) - 10px); }
.cm-s-obsidian .cm-header-4 { font-size: calc(var(--f-s-h) - 12px); }
.markdown-preview-view h5,
.cm-s-obsidian .cm-header-5 { font-size: calc(var(--f-s-h) - 14px); }
.markdown-preview-view h6,
.cm-s-obsidian .cm-header-6 { font-size: calc(var(--f-s-h) - 16px); }

/*Heading: Inline Code Size Fix*/
.cm-s-obsidian span.cm-inline-code.cm-header-1:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight), 
.cm-s-obsidian span.cm-inline-code.cm-header-1,
.markdown-preview-view h1 code { font-size: calc(var(--f-s-h) - 6px); }
.cm-s-obsidian span.cm-inline-code.cm-header-2:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight), 
.cm-s-obsidian span.cm-inline-code.cm-header-2,
.markdown-preview-view h2 code { font-size: calc(var(--f-s-h) - 10px); }
.cm-s-obsidian span.cm-inline-code.cm-header-3:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight), 
.cm-s-obsidian span.cm-inline-code.cm-header-3,
.markdown-preview-view h3 code { font-size: calc(var(--f-s-h) - 13px); }
.cm-s-obsidian span.cm-inline-code.cm-header-4:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight), 
.cm-s-obsidian span.cm-inline-code.cm-header-4,
.markdown-preview-view h4 code { font-size: calc(var(--f-s-h) - 17px); }
.cm-s-obsidian span.cm-inline-code.cm-header-5:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight), 
.cm-s-obsidian span.cm-inline-code.cm-header-5,
.markdown-preview-view h5 code { font-size: calc(var(--f-s-h) - 19px); }
.cm-s-obsidian span.cm-inline-code.cm-header-6:not(.cm-formatting):not(.cm-hmd-indented-code):not(.obsidian-search-match-highlight), 
.cm-s-obsidian span.cm-inline-code.cm-header-6,
.markdown-preview-view h6 code { font-size: calc(var(--f-s-h) - 21px); }


/*Editor Heading Re-size*/
/*Inspired by Red Graphite*/
.cm-s-obsidian pre.HyperMD-header > span > span:first-child {
    font-size: 10px;
    color: var(--lines);
}

/*Heading Line*/

/*Editor Heading Lines*/
.cm-s-obsidian pre.HyperMD-header:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: var(--table);
    left: 0;
}

h1, .HyperMD-header-1,
h2, .HyperMD-header-2,
h3, .HyperMD-header-3,
h4, .HyperMD-header-4 {
    &::after {
        content: "";
        display: block;
        background: var(--table);
        height: 4px;
    }
}

h1, .HyperMD-header-1 { &::after { width: 100%; } }
h2, .HyperMD-header-2 { &::after { width: 85%;  } }
h3, .HyperMD-header-3 { &::after { width: 65%;  } }
h4, .HyperMD-header-4 { &::after { width: 40%;  } }




/*--Center Headings--*/
.hc h1,
.hc h2,
.hc h3,
.hc h4,
.hc h5,
.hc h6,
.hc .HyperMD-header,
.hcl .HyperMD-header
{ text-align: center; }






/*--Center Headings With Line--*/
.hcl {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;

        & > :not(.collapse-indicator):nth-child(2) { padding: 0 10px; }
        & > :not(.collapse-indicator):nth-child(2):not(:last-child) { padding: 0 10px; }
    }

    & .heading-collapse-indicator { position: absolute; }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6
    {
        &:before,
        &:after {
            content: '';
            height: 0;
            flex: 1;
        }
        &:before { margin-right: .3em; }
        &:after  { margin-left: .3em; }
    }

    & h1:before,
    & h1:after
    {
        border-top: 6px solid var(--accent);
    }
    & h2:before,
    & h2:after {
        border-top: 5px solid var(--headers);
    }    
    & h3:before,
    & h3:after {
        border-top: 4px solid var(--i-at);
    }
    & h4:before,
    & h4:after {
        border-top: 3px solid var(--accent2-lite);
    }
    & h5:before,
    & h5:after {
        border-top: 3px solid var(--lines);
    }
    & h6:before,
    & h6:after {
        border-top: 3px solid var(--table);
    }
}






/*--Illusion Headers--*/
body .illusion {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & .cm-s-obsidian .HyperMD-header {
        padding: 7px;
        color: var(--text-dl);
        box-shadow: 5px 5px var(--outline);
    }

    & .HyperMD-header.CodeMirror-line { 
        box-shadow: 0px 2px var(--outline);
        padding: 2px;
        padding-bottom: 5px;
    }
    
    & h1:after,
    & h2:after,
    & h3:after,
    & h4:after,
    & h5:after,
    & h6:after,
    & .cm-s-obsidian .HyperMD-header:after {
        height: 0;
    }

    & h1,
    & .HyperMD-header-1.CodeMirror-line { background-color: var(--sphd-ed-1); }
    & h2,
    & .HyperMD-header-2.CodeMirror-line { background-color: var(--sphd-ed-2); }
    & h3,
    & .HyperMD-header-3.CodeMirror-line { background-color: var(--sphd-ed-3); }
    & h4,
    & .HyperMD-header-4.CodeMirror-line { background-color: var(--sphd-ed-4); }
    & h5,
    & .HyperMD-header-5.CodeMirror-line { background-color: var(--sphd-ed-5); }
    & h6,
    & .HyperMD-header-6.CodeMirror-line { background-color: var(--sphd-ed-6); }

    //Color White
    & .markdown-preview-view .heading-collapse-indicator svg,
    & .cm-s-obsidian .cm-header,
    & .cm-s-obsidian pre.HyperMD-header > span > span:first-child {
        display:block;
        color: var(--text-dl);
    }

    & .markdown-preview-view .heading-collapse-indicator {
        padding-left: 40px;
    }
}
.markdown-preview-view.illusion {
    & .heading-collapse-indicator svg { color: var(--text-dl); }

    & .heading-collapse-indicator {
        padding-left: 40px;
    }
}

/* Heading Indicators */
.is-live-preview .HyperMD-header {
    &::before {
        font-family: var(--font-monospace);
        color: var(--footnote);
        font-size: calc(var(--f-s-text) - 4px);
        position: relative;
        margin-left: -15px;
        left: -12px;
    }

    &.HyperMD-header-1::before { content: "H1"; }
    &.HyperMD-header-2::before { content: "H2"; }
    &.HyperMD-header-3::before { content: "H3"; }
    &.HyperMD-header-4::before { content: "H4"; }
    &.HyperMD-header-5::before { content: "H5"; }
    &.HyperMD-header-6::before { content: "H6"; }
    & .cm-fold-indicator .collapse-indicator {
        right: -5px;
    }
} 

.hc,
.hcl,
.writing
{ 
    &.is-live-preview,
    & .is-live-preview {
        & .HyperMD-header::before {
            position: absolute;
            font-size: 16px;
            left: 10px;
            margin: auto;
        }
        & .HyperMD-header-1 > .cm-fold-indicator {
            font-size: unset;
            float: left;
            left: 10px;
        }
    }
}

/*Apply Header Color Over Link*/
body.hd-ovr {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & .cm-s-obsidian .cm-header
    { & > * { color: var(--headers); } }

    &.head-spec {
        & h1 > * { color: var(--sphd-pre-1); }
        & h1 > * { color: var(--sphd-pre-1); }
        & h2 > * { color: var(--sphd-pre-2); }
        & h3 > * { color: var(--sphd-pre-3); }
        & h4 > * { color: var(--sphd-pre-4); }
        & h5 > * { color: var(--sphd-pre-5); }
        & h6 > * { color: var(--sphd-pre-6); }
        & .cm-header-1 > * { color: var(--sphd-ed-1); }
        & .cm-header-2 > * { color: var(--sphd-ed-2); }
        & .cm-header-3 > * { color: var(--sphd-ed-3); }
        & .cm-header-4 > * { color: var(--sphd-ed-4); }
        & .cm-header-5 > * { color: var(--sphd-ed-5); }
        & .cm-header-6 > * { color: var(--sphd-ed-6); }
    }
}