
/*----Embed Adjustments----*/
.internal-embed {
    margin-left: auto;
    margin-right: auto;
}

.internal-embed[alt*="inline"]{
    display: inline;
}
.internal-embed[alt*="block"]{
    display: block !important;
}

/*Embed Link Hide/Move*/
.internal-embed[alt*="nlk"] .markdown-embed-link {
    display: none;
}

.internal-embed[alt*="lk-l"] .markdown-embed-link {
    left: 10px;
    right: unset;
}

.internal-embed[alt*="lk-clear"] .markdown-embed-link {
    background-color: transparent;
}

/*Title Hide/Show*/
.internal-embed[alt*="no-t"] .markdown-embed-title,
.internal-embed[alt*="no-title"] .markdown-embed-title,
.file-embed-title {
    display: none;
}

.internal-embed[alt*="ttl"] .markdown-embed-title, .file-embed-title{
    display: block;
}

.internal-embed[alt*="right"] {
    float: right;
    margin-left: .5em;
}
.internal-embed[alt*="left"] {
    float: left;
    margin-right: .5em;
}
.internal-embed[alt*="center"] {
    margin: auto;
}

.internal-embed[alt*="nob"] li {
    list-style: none;
    margin: 0;
}
.internal-embed[alt*="nob"] ul{
    padding-inline-start: 0;
}
.internal-embed[alt*="em+"] .markdown-embed .markdown-preview-view,
.markdown-preview-view .internal-embed[alt*="em+"]:not(.image-embed) {
    padding: 20px 10px;
    display: block !important;
    width: 100%;
    background-color: var(--embed-bg);
}
.internal-embed[alt*="em+"] .markdown-embed-link{
    color: var(--accent);
}


/*Clean Embeds*/
.internal-embed[alt*="clean"] .markdown-embed,
.internal-embed[alt*="clean"].is-loaded:not(.image-embed),
.internal-embed[alt*="clean"] .admonition {
    padding: 0;
    margin: 0;
    border: 0;
    box-shadow: 0 0 0 var(--note) !important;
    margin-block-start: 0;
    margin-block-end: 0;
}

.internal-embed[alt*="nmg"] .markdown-embed .markdown-preview-view {
    margin: 0;
    padding: 0;
}

/*Hide Headings*/
.internal-embed[alt*="no-h"] .markdown-embed h1,
.internal-embed[alt*="no-h"] .markdown-embed h2,
.internal-embed[alt*="no-h"] .markdown-embed h3,
.internal-embed[alt*="no-h"] .markdown-embed h4,
.internal-embed[alt*="no-h"] .markdown-embed h5,
.internal-embed[alt*="no-h"] .markdown-embed h6 {
    display: none;
}
/*Hide Specific Headings*/
.internal-embed[alt*="n-h1"] .markdown-embed h1,
.internal-embed[alt*="n-h2"] .markdown-embed h2,
.internal-embed[alt*="n-h3"] .markdown-embed h3,
.internal-embed[alt*="n-h4"] .markdown-embed h4,
.internal-embed[alt*="n-h5"] .markdown-embed h5,
.internal-embed[alt*="n-h6"] .markdown-embed h6 {
    display: none;
}



/*Height Adjustment*/
.internal-embed[alt*="htiny"] .markdown-embed-content {
    height: var(--tiny);
}
.internal-embed[alt*="hsmall"] .markdown-embed-content {
    height: var(--small);
}
.internal-embed[alt*="hs-med"] .markdown-embed-content{
    height: var(--small-med);
}
.internal-embed[alt*="hm-sm"] .markdown-embed-content{
    height: var(--med-small);
}
.internal-embed[alt*="hmed"] .markdown-embed-content{
    height: var(--medium);
}
.internal-embed[alt*="htall"] .markdown-embed-content{
    height: var(--tall);
}
.internal-embed[alt*="full"] .markdown-embed-content,
.internal-embed[alt*="full"] .markdown-embed-content > .markdown-preview-view { 
    max-height: unset;
}

/*Width Adjustment*/
.internal-embed[alt*="wtiny"]{
    width: 20%;
}
.internal-embed[alt*="wsmall"]{
    width: 30%;
}
.internal-embed[alt*="ws-med"]{
    width: 40%;
}
.internal-embed[alt*="wm-small"]{
    width: 50%;
}
.internal-embed[alt*="wmed"]{
    width: 60%;
}
.internal-embed[alt*="wm-tl"]{
    width: 80%;
}
.internal-embed[alt*="wtall"]{
    width: 95%;
}
