
/*--Center Headings--*/
.hc h1,
.hc h2,
.hc h3,
.hc h4,
.hc h5,
.hc h6 { text-align: center; }






/*--Center Headings With Line--*/
.hcl {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    & .heading-collapse-indicator{
        position: absolute;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        &:before,
        &:after {
            content: '';
            height: 0;
            flex: 1;
        }
        &:before { margin-right: .3em; }
        &:after { margin-left: .3em; }
    }

    & h1:before,
    & h1:after {
        border-top: 6px solid var(--accent);
    }
    & h2:before,
    & h2:after {
        border-top: 5px solid var(--headers);
    }    
    & h3:before,
    & h3:after {
        border-top: 4px solid var(--i-at);
    }
    & h4:before,
    & h4:after {
        border-top: 3px solid var(--accent2-lite);
    }
    & h5:before,
    & h5:after {
        border-top: 3px solid var(--lines);
    }
    & h6:before,
    & h6:after {
        border-top: 3px solid var(--table);
    }
}








/*--Illusion Headers--*/
body .illusion {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & .cm-s-obsidian .HyperMD-header {
        padding: 7px;
        color: var(--text-dl);
        box-shadow: 5px 5px var(--outline);
    }

    & .HyperMD-header.CodeMirror-line { 
        box-shadow: 0px 2px var(--outline);
        padding: 2px;
        padding-bottom: 5px;
    }
    
    & h1:after,
    & h2:after,
    & h3:after,
    & h4:after,
    & h5:after,
    & h6:after,
    & .cm-s-obsidian .HyperMD-header:after {
        height: 0;
    }

    & h1,
    & .HyperMD-header-1.CodeMirror-line { background-color: var(--sphd-ed-1); }
    & h2,
    & .HyperMD-header-2.CodeMirror-line { background-color: var(--sphd-ed-2); }
    & h3,
    & .HyperMD-header-3.CodeMirror-line { background-color: var(--sphd-ed-3); }
    & h4,
    & .HyperMD-header-4.CodeMirror-line { background-color: var(--sphd-ed-4); }
    & h5,
    & .HyperMD-header-5.CodeMirror-line { background-color: var(--sphd-ed-5); }
    & h6,
    & .HyperMD-header-6.CodeMirror-line { background-color: var(--sphd-ed-6); }

    //Color White
    & .markdown-preview-view .heading-collapse-indicator svg,
    & .cm-s-obsidian .cm-header
    & .cm-s-obsidian pre.HyperMD-header > span > span:first-child {
        display:block;
        color: var(--text-dl);
    }

    & .markdown-preview-view .heading-collapse-indicator {
        padding-left: 40px;
    }
}
.markdown-preview-view.illusion {
    & .heading-collapse-indicator svg { color: var(--text-dl); }

    & .heading-collapse-indicator {
        padding-left: 40px;
    }
}


.is-live-preview .HyperMD-header {
    &::before {
        font-family: var(--font-monospace);
        padding-right: 5px;
        color: var(--footnote);
        font-size: calc(var(--f-s-text) - 4px);
    }

    &.HyperMD-header-1::before { content: "H1"; }
    &.HyperMD-header-2::before { content: "H2"; }
    &.HyperMD-header-3::before { content: "H3"; }
    &.HyperMD-header-4::before { content: "H4"; }
    &.HyperMD-header-5::before { content: "H5"; }
    &.HyperMD-header-6::before { content: "H6"; }
} 
