
/*----Image Positions/Adjustments----*/

/*Captions*/
.img-cap .image-embed::after,
.image-embed[src*="#cap"]::after,
img[src*="#cap"]::after {
    content: attr(alt);
    color: var(--inactive);
    display: block;
    text-align: center;
}

/* Lithou's Img-Grid CSS */
.img-grid span.image-embed[alt*="."],
span.image-embed[src*="grid"],
span.image-embed[alt*="grid"],
img[alt*="grid"],
img[src*="#grid"] { 
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
}

.img-grid img[alt*="."],
.image-embed[alt*="grid"],
.image-embed[src*="#grid"],
img[alt*="grid"],
img[src*="#grid"] {
    max-height: 30vh;
}

.img-grid img[alt*="."]:hover,
.image-embed[src*="#grid"]:hover,
img[src*="#grid"]:hover,
img[alt*="grid"]:hover {
    transform: scale(1.5);
}


/*Invert Colors*/
.theme-dark img[alt*="invertb"],
.theme-dark img[src*="#invertb"] {
    filter: invert(1) hue-rotate(180deg);
}  
.theme-light img[alt*="invertw"],
.theme-light img[src*="#invertw"] {
    filter: invert(1) hue-rotate(180deg);
}
.theme-dark img[alt*="invertbc"],
.theme-dark img[src*="#invertbc"] {
    filter: invert(1) hue-rotate(180deg) contrast(1.5);
}
.theme-light img[alt*="invertwc"],
.theme-light img[src*="#invertwc"] {
    filter: invert(1) hue-rotate(180deg) contrast(1.45);
}

/*Fix Float Issues*/
img[alt*="clear"],
img[src*="#clear"] {
    clear: both;
}
img[alt*="unclr"],
img[src*="#unclr"] {
    clear: none !important;
}

/*Round Image*/
img[alt*="circle"] {
    border-radius: 50%;
}

/*Center Image*/
img[alt*="ctr"],
img[src*="#ctr"], img[src*="#center"]
.image-embed[alt*="center"],
.imgctr img {
    display:block;
    margin-left: auto;
    margin-right: auto;
}


/*--Simplified Version--*/
/*Image Locations*/
/*Left & Right*/
img,
.image-embed {
    &[alt*="left"],
    &[src*="#left"],
    &[alt*="locl"],
    &[src*="#locl"] img 
    {
        float:left;
        margin-right: 2%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    &[alt*="right"],
    &[src*="#right"],
    &[alt*="locr"],
    &[src*="#locr"] img 
    {
        float:right;
        margin-left: 2%;
        margin-bottom: 0px;
    }
}

/*Image Shapes*/
/*Banners*/
img,
.image-embed {
    &[alt*="banner"],
    &[src*="#banner"] {
        display: block;
        object-fit: cover;
        height: 150px;
        width: 100%;
        margin-bottom: 0px;
    }
}

img[alt*="banner+small"],
.image-embed[src*="#banner+small"] {
    display: block;
    object-fit: cover;
    height: var(--tiny);
    width: 100%;
    margin-bottom: 0px;
}

img[alt*="banner+tall"],
.image-embed[src*="#banner+tall"] {
    display: block;
    object-fit: cover;
    height: var(--medium);
    width: 100%;
    margin-bottom: 0px;
}

/*Portait*/
img[alt*="portrait"],
.image-embed[src*="#portrait"] {
    object-fit: cover;
    height: var(--small-med);
    width: 40%;
}

img[alt*="portrait+small"],
.image-embed[src*="#portrait+small"] {
    height: var(--small);
    width: 20%;
    object-fit: cover;
}

img[alt*="portrait+tall"],
.image-embed[src*="#portrait+tall"] {
    height: 500px;
    width: 50%;
    object-fit: cover;
}

/*Profile*/
img[alt*="p.rofile"],
.image-embed[src*="#p.rofile"] {
    object-fit: cover;
    height: 100px;
    width: 100px;
    object-position: center !important;
}

img[alt*="p.rofile+medium"],
.image-embed[src*="#p.rofile+medium"] {
    object-fit: cover;
    height: 250px;
    width: 250px;
}

/*--Customizable Version--*/
/*-Image Sizing-*/

/*Fit image within bounds WITHOUT stretching*/
img[alt*="cover"], 
img[src*="#cover"], 
span.image-embed[src*="#cover"] img,
img[alt*="cvr"],
img[src*="#cvr"], 
span.image-embed[src*="#cvr"] img {
    object-fit: cover;
}

/*Height*/
img[alt*="hmicro"],
img[src*="#hmicro"],
.image-embed[src*="#hmicro"] img {
    height: var(--micro);
}
img[alt*="htiny"],
img[src*="#htiny"],
.image-embed[src*="#htiny"] img {
    height: var(--tiny);
}
img[alt*="hsmall"],
img[src*="#hsmall"],
.image-embed[src*="#hsmall"] img {
    height: var(--small);
}
img[alt*="hs-med"],
img[src*="#hs-med"],
.image-embed[src*="#hs-med"] img {
    height: var(--small-med);
}
img[alt*="hm-sm"],
img[src*="#hm-sm"],
.image-embed[src*="#hs-sm"] img {
    height: var(--med-small);
}
img[alt*="hmed"],
img[src*="#hmed"],
.image-embed[src*="#hmed"] img {
    height: var(--medium);
}
img[alt*="hm-tl"],
img[src*="#hm-tl"],
.image-embed[src*="#hm-tl"] img {
    height: var(--med-tall);
}
img[alt*="htall"],
img[src*="#htall"],
.image-embed[src*="#htall"] img {
    height: var(--tall);
}

/*Width*/
img[alt*="wmicro"],
img[src*="#wmicro"],
.image-embed[src*="#wmicro"] img,
.image-embed[alt*="#wmicro"]::after {
    width: var(--micro); 
}

img[alt*="wtiny"],
img[src*="#wtiny"],
.image-embed[src*="#wtiny"] img,
.image-embed[src*="#wtiny"]::after { 
    width: var(--tiny); 
}

img[alt*="wsmall"],
img[src*="#wsmall"],
.image-embed[src*="#wsmall"] img,
.image-embed[src*="#wsmall"]::after {
    width: var(--small);
}

img[alt*="ws-med"],
img[src*="#ws-med"],
.image-embed[src*="#ws-med"] img,
.image-embed[src*="#ws-med"]::after {
    width: var(--small-med); 
}

img[alt*="wm-sm"],
img[src*="#wm-sm"],
.image-embed[src*="#wm-sm"] img,
.image-embed[src*="#wm-sm"]::after {
    width: var(--med-small); 
}

img[alt*="wmed"],
img[src*="#med"],
.image-embed[src*="#wmed"] img,
.image-embed[src*="#wmed"]::after {
    width: var(--medium); 
}

img[alt*="wm-tl"],
img[src*="#m-tl"],
.image-embed[src*="#wm-tl"] img,
.image-embed[src*="#wm-tl"]::after {
    width: var(--med-tall); 
}

img[alt*="wtall"],
img[src*="#tall"],
.image-embed[src*="#wtall"] img,
.image-embed[src*="#wtall"]::after {
    width: var(--tall); 
}


/*--Image Position--*/
/*Inner Image*/
img[alt*="pt"],
.image-embed[src*="#pt"] img{
    object-fit: cover;
    object-position: top;
}
img[alt*="pb"],
.image-embed[src*="#pb"] img{
    object-fit: cover;
    object-position: bottom;
}
img[alt*="pl"],
.image-embed[src*="#pl"] img{
    object-fit: cover;
    object-position: left;
}
img[alt*="p+cl"],
.image-embed[src*="#p+cl"] img{
    object-fit: cover;
    object-position: 25%;
}
img[alt*="pr"],
.image-embed[src*="#pr"] img{
    object-fit: cover;
    object-position: right;
}
img[alt*="p+cr"],
.image-embed[src*="#p+cr"] img{
    object-fit: cover;
    object-position: 75%;
}
img[alt*="pc"],
.image-embed[src*="#pc"] img{
    object-fit: cover;
    object-position: center;
}
img[alt*="p+tc"],
.image-embed[src*="#p+tc"] img{
    object-fit: cover;
    object-position: 50% 10%;
}
img[alt*="p+tcc"],
.image-embed[src*="#p+tcc"] img{
    object-fit: cover;
    object-position: 50% 20%;
}
img[alt*="p+cct"],
.image-embed[src*="#p+cct"] img{
    object-fit: cover;
    object-position: 50% 30%;
}
img[alt*="p+ct"],
.image-embed[src*="#p+ct"] img{
    object-fit: cover;
    object-position: 50% 40%;
}
img[alt*="p+cb"],
.image-embed[src*="#p+cb"] img{
    object-fit: cover;
    object-position: 50% 60%;
}
img[alt*="p+ccb"],
.image-embed[src*="#p+ccb"] img{
    object-fit: cover;
    object-position: 50% 70%;
}
img[alt*="p+bc"],
.image-embed[src*="#p+bc"] img{
    object-fit: cover;
    object-position: 50% 80%;
}
img[alt*="p+bcc"],
.image-embed[src*="#p+bcc"] img{
    object-fit: cover;
    object-position: 50% 90%;
}


/*--Image Shapes--*/
/*Banners*/
img[alt*="sban"],
.internal-embed[src*="#sban"] img {
    object-fit: cover;
    width: 100%;
}

/*Profile*/
/*Rounded Image*/
img[alt*="sprf"]{
    object-fit: cover;
    border-radius: 100%;
}
