.theme-dark {
    --chbx-q: 253, 175, 0; /*#fdaf00*/
    --chbx-h: 92, 118, 153; /*#5c7699*/
    --chbx-d: 62, 69, 82; /*#3e4552*/
    --chbx-i: 194, 42, 42; /*#c22a2a*/
    --chbx-a: 248, 114, 181; /*#f872b5*/
    --chbx-R: 170, 179, 202; /*#aab3ca*/
    --chbx-id:231, 231, 171; /* #e7e7ab*/
    --chbx-B: 136, 94, 233; /*#885ee9*/
    --chbx-P: 79, 165, 79; /*#4fa54f*/
    --chbx-C: 207, 67, 67; /*#cf4343*/
    --chbx-N: 133, 91, 65; /*#855b41*/
    --chbx-b: 230, 129, 63; /*#e6813f*/
    --chbx-I: 82, 139, 212; /*#528bd4*/
}

.theme-light {
    --chbx-q: 253, 175, 0; /*#fdaf00*/
    --chbx-h: 168, 177, 189; /*#a8b1bd*/
    --chbx-d: 203, 212, 235; /*#cad3eb*/
    --chbx-i: 219, 1, 1; /*#db0101*/
    --chbx-a: 248, 114, 181; /*#f872b5*/
    --chbx-R: 159, 186, 223; /*#9fbadf*/
    --chbx-id:202, 199, 0; /* #cac700*/
    --chbx-B: 82, 139, 212; /*#528bd4*/
    --chbx-P: 79, 165, 79; /*#4fa54f*/
    --chbx-C: 214, 108, 108; /*#d66c6c*/
    --chbx-N: 161, 106, 73; /*#a16a49*/
    --chbx-b: 251, 146, 76; /*#fb924c*/
    --chbx-I: 182, 118, 255; /*#b676ff*/
}