/*Restore Strike Throughs*/
.check-strike {
    & .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task]:not([data-task=" "]),
    & .markdown-preview-view ul > li.task-list-item.is-checked, 
    & .markdown-preview-view ol > li.task-list-item.is-checked 
    { text-decoration: line-through 2px; }
} 
.chst-reg .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="x"],
.chst-reg ul li[data-task="x"].task-list-item.is-checked,

.chst-chk .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="X"],
.chst-chk ul li[data-task="X"].task-list-item.is-checked,

.chst-drop .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="-"],
.chst-drop ul li[data-task="-"].task-list-item.is-checked,

.chst-frwd .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task=">"],
.chst-frwd ul li[data-task=">"].task-list-item.is-checked,

.chst-defr .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="D"],
.chst-defr ul li[data-task="D"].task-list-item.is-checked,

.chst-q .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="?"],
.chst-q ul li[data-task="?"].task-list-item.is-checked,

.chst-half .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="/"],
.chst-half ul li[data-task="/"].task-list-item.is-checked,

.chst-add .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="+"],
.chst-add ul li[data-task="+"].task-list-item.is-checked,

.chst-rsrch .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="R"],
.chst-rsrch ul li[data-task="R"].task-list-item.is-checked,

.chst-imp .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="!"],
.chst-imp ul li[data-task="!"].task-list-item.is-checked,

.chst-idea .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="i"],
.chst-idea ul li[data-task="i"].task-list-item.is-checked,

.chst-brn .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="B"],
.chst-brn ul li[data-task="B"].task-list-item.is-checked,

.chst-pro .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="P"],
.chst-pro ul li[data-task="P"].task-list-item.is-checked,

.chst-con .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="C"],
.chst-con ul li[data-task="C"].task-list-item.is-checked,

.chst-quot .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="Q"],
.chst-quot ul li[data-task="Q"].task-list-item.is-checked,

.chst-note .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="N"],
.chst-note ul li[data-task="N"].task-list-item.is-checked,

.chst-book .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="b"],
.chst-book ul li[data-task="b"].task-list-item.is-checked,

.chst-info .markdown-source-view.mod-cm6 .HyperMD-task-line[data-task="I"],
.chst-info ul li[data-task="I"].task-list-item.is-checked
{ text-decoration: line-through 2px; }
