/*Title Hide/Show*/
.internal-embed:is(
    [alt~="no-t"], 
    [alt~="no-title"]
) .markdown-embed-title,
.file-embed-title {
    display: none;
}
.internal-embed:is(
    [alt~="no-inline-title"], 
    [alt~="no-it"]
) .inline-title,
.file-embed-title {
    display: none;
}

.internal-embed:is(
    [alt~="ttl"], 
    [alt~="title"]
) .markdown-embed-title, 
.file-embed-title 
{ display: block; }