//Minified headers
body.embed-mini-headers .markdown-embed {
    --h1-size: var(--embed-header-size);
    --h2-size: var(--embed-header-size);
    --h3-size: var(--embed-header-size);
    --h4-size: var(--embed-header-size);
    --h5-size: var(--embed-header-size);
    --h6-size: var(--embed-header-size);
}