/*Clean Embeds*/
.embed-clean .internal-embed,
.internal-embed[alt*="clean"] {
    & > .markdown-embed,
    &.is-loaded:not(.image-embed) {
        --embed-padding: 0;
        border: none;
        box-shadow: none;

        &:not(:hover) {
            --embed-border-color: transparent;

            --embed-border-left-color: var(--embed-border-color);
            --embed-border-right-color: var(--embed-border-color);
            --embed-border-top-color: var(--embed-border-color);
            --embed-border-bottom-color: var(--embed-border-color);
        
            --embed-border-left: var(--embed-thickness) var(--embed-border-type) var(--embed-border-left-color);
            --embed-border-right: var(--embed-thickness) var(--embed-border-type) var(--embed-border-right-color);
            --embed-border-top: var(--embed-thickness) var(--embed-border-type) var(--embed-border-top-color);
            --embed-border-bottom: var(--embed-thickness) var(--embed-border-type) var(--embed-border-bottom-color);
        }
        
    }
    &.inline-embed { --embed-title-padding: 0; }
} 