.internal-embed[alt*="right"] {
    float: right;
    margin-left: .5em;
}
.internal-embed[alt*="left"] {
    float: left;
    margin-right: .5em;
}
.internal-embed[alt*="center"] {
    margin: auto;
}

:not(.lp-embed-float) .is-live-preview .internal-embed:is([alt*="right"], [alt*="left"]) {
    float: unset;
}