body {
    --callout-margin: 5px 0; // Personal
    --callout-padding: var(--size-4-3) var(--size-4-4);
}

.callout.callout.callout {
    --callout-blend-mode: normal;
    
    margin: var(--callout-margin);
    
}
.callout .callout { --callout-margin: 0; }

//Fix Callout icon Alignment
.callout-icon { align-self: center;}

//Fixes
// .markdown-embed .markdown-rendered .callout {
//     --callout-margin: 5px 0;

//     & p {
//         margin-block-start: 1em;
//         margin-block-end: 1em; 
//     }
// }