
body {
    --code-background: var(--code-bg);
    --code-normal: var(--code-text);

    --code-shadow: 0 2px 0 var(--outline);
}
    
//Codeblock top padding
.cm-s-obsidian div.HyperMD-codeblock.HyperMD-codeblock-begin-bg {
    padding-top: 6px;
}

// Codeblock shadow
.cm-s-obsidian span.cm-inline-code,
.markdown-rendered pre {
    box-shadow: var(--code-shadow);
}

//Fix Codeblock Radius
.cm-s-obsidian div.HyperMD-codeblock-begin-bg {
    border-top-left-radius: var(--radius-s);
    border-top-right-radius: var(--radius-s);
}
.cm-s-obsidian div.HyperMD-codeblock-end-bg {
    border-bottom-left-radius: var(--radius-s);
    border-bottom-right-radius: var(--radius-s);
}