body
{
    //
    --link-decoration: none;
    --link-decoration-hover: none;
    --link-external-decoration: none;
    --link-unresolved-opacity: 1;
    
    --link-unresolved-color: var(--inactive);
    --link-color-hover: var(--lite-accent);
    --link-external-color-hover: var(--text-accent-hover);
    
    --link-font: inherit;
    --link-external-font: var(--link-font); //Pesonal
    --link-weight: inherit;
    --link-border: none;
    
    --link-transform: none;
    --link-background: transparent;
    --link-background-hover: var(--link-background);
}


//Link
.is-live-preview .cm-hmd-internal-link,
.internal-link { font-family: var(--link-font); }

.is-live-preview .cm-underline,
.external-link { font-family: var(--link-external-font); }

a[href^='https'],
.internal-link,
.external-link,
.cm-underline {
    font-weight: var(--link-weight);
    border-bottom: var(--link-border);
    text-transform: var(--link-transform);
    background-color: var(--link-background);

    &:hover {
        background-color: var(--link-background-hover);
    }
}


//Recolor []
.cm-s-obsidian {
    &:not(.is-live-preview) .cm-link,
    & .cm-line.cm-active .cm-formatting-link + .cm-link.cm-link,
    & .cm-image-alt-text.cm-link:not(.cm-formatting),
    & .cm-formatting-link-string.cm-string
    { color: var(--text-muted); }
}

/*-External Links-*/
//Hide SVG Image
.external-link {
    background-image: url();
    padding-right: unset;
}

/*Change External Link Symbol*/
.external-link:after {
    content: "\e809";
    font-family: var(--its);
    padding-left: 2px;
    display: inline-block;
    font-size: inherit;
    opacity: .5;
    font-weight: 100 !important;
    font-style: normal !important;
}