body .cm-s-obsidian.markdown-source-view:not(.is-live-preview) {

    //Tag Fixes
    --tag-background: transparent;
    --tag-color: var(--tag-text);
    --tag-padding-x: 0;
    --tag-size: var(--font-size);

    //Header Fixes
    --h1-font: var(--font-default);
    --h2-font: var(--font-default);
    --h3-font: var(--font-default);
    --h4-font: var(--font-default);
    --h5-font: var(--font-default);
    --h6-font: var(--font-default);

    --header-weight: 900;
    --h1-weight: var(--header-weight);
    --h2-weight: var(--header-weight);
    --h3-weight: var(--header-weight);
    --h4-weight: var(--header-weight);
    --h5-weight: var(--header-weight);
    --h6-weight: var(--header-weight);

    --h1-size: var(--font-text);
    --h2-size: var(--font-text);
    --h3-size: var(--font-text);
    --h4-size: var(--font-text);
    --h5-size: var(--font-text);
    --h6-size: var(--font-text);

    --p-spacing: 0.25em;

    //Lists
    --list-marker-color-collapsed: var(--list-marker-color);

    //Tags
    --tag-radius: 0;
    --tag-border-radius: 0;
    --tag-border-width: 0;
    
    //Fix codeblock
    .cm-line.HyperMD-codeblock { padding-left: 5px; }

}