body {        
    //Scrollbar
    // --scrollbar-bg: inherit; //var(--bg);
    --scrollbar-thumb-bg: var(--accent);
    --scrollbar-active-thumb-bg: var(--lite-accent);

    --scrollbar-border-width: 0; //personal
    --scrollbar-width: 12px; //personal
}

//Fixed Scrollbars
body:not(.native-scrollbars) ::-webkit-scrollbar {
    background-color: inherit;
    width: var(--scrollbar-width);
    height: calc(var(--scrollbar-width) + 1px);
}

// body:not(.native-scrollbars) ::-webkit-scrollbar-thumb {
//     border-width: var(--scrollbar-border-width);
// }