body {
    --search-border: var(--box-border);
    --search-box-shadow: var(--shadow-s);
}


/*Search Styling*/
.search-results-children .search-result {
    margin-right: 0px;
    margin-bottom: 10px; 
    
    background: var(--note);
    border: var(--search-border); 
    box-shadow: var(--search-box-shadow);
}
.search-result-container {
    // padding: 0;
    padding-left: var(--size-4-3);
    padding-right: var(--size-4-2);
}

// Note Title
.search-result-file-title {
    background: var(--code-bg);
    box-shadow: 0 2px 0 var(--td);
    padding: 5px 10px;
    // padding-left: 20px;
    line-height: var(--lh);
    margin-bottom: 0;
}
.search-result:not(.is-collapsed) .search-result-file-title:not(:hover) {
    color: var(--text);
}

// Search Note Text
.search-result-file-matches {
    margin: 0;
    padding: 0; 
    border: 0;
    box-shadow: unset;
}
.search-result-file-match {
    margin: auto;
    width: auto;
    z-index: 0;
    padding: 8px 10px;
    color: var(--text);
    left: 0;
}
.search-result-file-match:hover {
    padding-right: var(--size-4-5);
}
.search-result-file-title:hover .search-result-file-matched-text {
    color: var(--text-on-accent);
    border-bottom: 2px solid var(--text-on-accent);
}

//.search-result-file-title .tree-item-flair-outer { margin-left: var(--size-4-1); }




//Fix Document Search Highlight
.cm-s-obsidian span.obsidian-search-match-highlight {
    box-shadow: 0 0 0 2px var(--accent);
    border-radius: var(--radius-s);
    background-color: var(--text-highlight-bg-active)
}
.search-results-info .dropdown:hover
{
    color: var(--lite-accent);
    font-weight: 900;
}
.search-results-result-count {
    // & .clickable-icon.clickable-icon {
    //     &.has-active-menu, 
    //     &:active
    //     {
    //         background-color: var(--sidebar-tab-background-color-hover);
    //     }
    // }

    &:hover {
        color: var(--text-dl);

        & .more-options-icon { background-color: var(--text-dl); }
        & .more-options-icon svg { fill: var var(--sidebar-tab-background-color-hover); }
    }
}

.document-search-container.document-search-container {
    padding: var(--size-4-2);
    background-color: transparent;
    
    & .document-search, 
    & .document-replace { 
        flex-wrap: wrap; 
        justify-content: center;
    }
}