.theme-dark,
.theme-light {
    
    --sidebar-markdown-font-size: var(--font-text-size);
    --sidebar-tab-text-display: none;

    --sidebar-tab-background-color: var(--bttn);

    --ribbon-background: var(--outer-bar);
    --ribbon-background-collapsed: var(--note);
    --ribbon-width: 40px;
    
    --ribbon-border-width: 0;
    --ribbon-border-color: var(--outer-bar);
    --ribbon-icon-size: var(--icon-l);
    --ribbon-icon-stroke: var(--icon-l-stroke-width);

    --sidebar-icon-color: var(--text);
    --sidebar-icon-color-active: var(--text-dl);
    --sidebar-tab-icon-size: var(--icon-l);
    --sidebar-tab-icon-stroke: var(--icon-l-stroke-width);

    --sidebar-tab-background-color-hover: var(--accent);
    --sidebar-tab-color-hover: var(--text-dl);

    --sidebar-tab-border-color: transparent;
    --sidebar-tab-border-color-active: var(--bttn);
    --sidebar-tab-border-width: 0;
    --sidebar-tab-padding: 0 var(--size-4-3);
}
//Fix Tab Sizing / Padding
:is(.mod-right-split, .mod-left-split) .workspace-tab-header-container-inner {
    padding: 0;
    margin: 0;
}
.mod-right-split .workspace-tab-header-container-inner {
    margin-left: 2px;
}
:is(.mod-left-split, .mod-right-split) .workspace-tab-header-inner {
    padding: var(--sidebar-tab-padding);
}


// Fix Sidebar Button
.workspace-ribbon.mod-left { 
    margin-top: 0; 
    gap: 0;
}
.sidebar-toggle-button {
    padding: 0;
    position: relative;
    height: var(--header-height);

    // & .clickable-icon { width: 100%; }
    & .clickable-icon {
        padding: 10px;
    }
}

:is(.mod-left-split, .mod-right-split) .workspace-tab-header-inner-icon .svg-icon {
    --icon-size: var(--sidebar-tab-icon-size);
    --icon-stroke: var(--sidebar-tab-icon-stroke);
}


//Sidebar Tab Outline
:is(.mod-left-split, .mod-right-split) .workspace-tab-header-inner {
    background-color: transparent;
    border-bottom: var(--sidebar-tab-border-width) solid var(--sidebar-tab-border-color);
}
:is(.mod-left-split, .mod-right-split) .is-active .workspace-tab-header-inner {
    border-color: var(--sidebar-tab-border-color-active);
}


//Fix Left Sidebar Tab Icons
.clickable-icon.side-dock-ribbon-action {
    padding: 10px;
}

//Ribbon
.workspace-ribbon { 
    padding: 0; 
    border-right: var(--ribbon-border-width) solid var(--ribbon-border-color);
}
.workspace-ribbon .side-dock-ribbon-action .svg-icon {
    --icon-size: var(--ribbon-icon-size);
    --icon-stroke: var(--ribbon-icon-stroke);
}

//Fix Active Left Sidebar Tab Icon Color
//Fix Remove background-modifier-hover
:is(.mod-left-split, .mod-right-split) .workspace-tab-header.is-active,
:is(.mod-left-split, .mod-right-split) .workspace-tab-header
{ 
    --background-modifier-hover: var(--sidebar-tab-background-color); 
    
    --tab-text-color: var(--text);
    --tab-text-color-active: var(--text-dl);
    --tab-text-color-focused: var(--text);
    --tab-text-color-focused-active: var(--text-dl);
    --tab-text-color-focused-active-current: var(--sidebar-icon-color-active);
    
    // --icon-color-focused: var(--sidebar-icon-color-active);
    & .workspace-tab-header-inner-icon { --icon-color-focused: var(--sidebar-icon-color-active); }
}

//Fix Active Left Sidebar Tab Icon Color
// .is-focused .mod-active .workspace-tab-header.is-active .workspace-tab-header-inner-icon,
// .workspace-tab-header-inner:hover .workspace-tab-header-inner-icon,
// .mod-top-left-space.mod-active .workspace-tab-header.is-active {
//     --titlebar-text-color-focused: var(--sidebar-icon-color-active);
//     --tab-text-color-hover: var(--sidebar-icon-color-active);
//     --icon-color-hover: var(--sidebar-icon-color-active);
// }

//Fixed Hover Icon Background Color
:is(.mod-left-split, .mod-right-split) .is-active:hover .workspace-tab-header-inner,
:is(.clickable-icon, .workspace-tab-header-inner-icon):hover,
.workspace-tab-header-container .clickable-icon:hover,
.workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner,
.side-dock-ribbon .clickable-icon:hover,
.workspace-tab-header:hover .workspace-tab-header-inner .workspace-tab-header-inner-icon
{
    background-color: var(--sidebar-tab-background-color-hover);
    color: var(--sidebar-tab-color-hover);
}

//Fix Icon Height
.side-dock-actions { margin-top: var(--header-height); }

//
.workspace-tab-header-inner .workspace-tab-header-inner-icon {
    color: var(--sidebar-icon-color);
}

//Fix Arrow Alignment
.tree-item-self .tree-item-icon { 
    position: relative;
    margin-left: -3px;
}
//Fix Spacing
// .tree-item-self { gap: 4px; }

// .tree-item-self.is-clickable {
//     margin-left: 0 !important;
//     padding-left: 0 !important;
// }