body {
    //Radius
    --tab-curve: var(--radius-s);
    --tab-radius: var(--radius-s);
    --tab-radius-active: var(--radius-s);

    //Font
    --tab-font-size: var(--font-size);
    --tab-font-weight: 500;
    --tab-font-weight-active: 900; //Personal
    
    //Width
    --tab-width: 200px;
    --tab-max-width: 320px;

    //Color
    --tab-outline-width: 0;
    --tab-outline-color: var(--accent);
    --tab-divider-color: var(--hr);
    
    --tab-background: var(--outer-bar);
    --tab-background-active: var(--note);
    --tab-container-background: var(--outer-bar); //Horizontal Split Tab background color;
    
    --tab-text-color: var(--inactive); //Inactive tab text
    --tab-text-color-active: var(--text);
    --tab-text-color-focused: var(--inactive); //Active Window Inactive tab Text
    --tab-text-color-focused-active: var(--text);
    --tab-text-color-focused-active-current: var(--text); //Active Pane
    --tab-text-color-hover: var(--text); //Personal
    
    //Tab Stacked
    --tab-stacked-font-weight: 700;
    --tab-stacked-font-size: 15px;
    --tab-stacked-shadow: -10px 0 10px var(--tab-stacked-shadow-color);
    --tab-stacked-shadow-color: var(--drop-shadow);
}



.view-header-title-container:not(.mod-at-end):after 
{ display: none; }

//Fix Tab Hover
.workspace-tab-header.workspace-tab-header:hover 
{ color: var(--tab-text-color-hover); }

//Fix Focused Inactive Tab Hover
.workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner-close-button,
body.is-focused :is(.mod-left-split, .mod-right-split) .workspace-tab-header:not(.is-active):hover .workspace-tab-header-inner-title 
{ color: var(--text-dl); }

//Font weight of active note
.is-active .workspace-tab-header-inner-title 
{ font-weight: var(--tab-font-weight-active); }


//Fix Fade Spacing on Text
.workspace .mod-root .workspace-tab-header-inner-title 
{ padding-right: 10px; }


//Fix Tab Top Outline
.mod-root .workspace-tab-header-container-inner {
    padding-top: 2px;
}

// Fix Tab Stacked Hover
.mod-root .mod-stacked .workspace-tab-header:hover .workspace-tab-header-inner {
    color: var(--tab-text-color-hover);
}



//----
//Hide Active Note Title

// :is(.show-inline-title, .show-view-header) .mod-root .workspace-tabs:not(.mod-stacked) .workspace-tab-header.is-active {
//     flex: 0 1 auto; 

//     & .workspace-tab-header-inner-title { display: none; }

//     & .workspace-tab-header-inner-icon {
//        display: flex;
//        opacity: 1;
//        color: var(--text);
//    }
// }

