.theme-dark,
.theme-light {
    --table-header-weight: var(--font-bold);
    --table-header-size: var(--font-text);

    --table-header-color: var(--text-dl);
    --table-header-text-color: var(--lite-accent);
    
    --table-header-background: var(--th);
    --table-header-background-hover: var(--accent);

    
    --table-border-color: var(--note);

    --table-column-alt-background: var(--td);
    --table-row-alt-background: var(--td);

    --table-row-background-hover: var(--highlight);
    --table-row-edit-font-size: var(--font-small); //Personal

    --table-cell-padding-x: var(--size-4-2);
    --table-cell-padding-y: var(--size-2-2);
    --table-header-padding-x: var(--size-4-2);
    --table-header-padding-y: var(--size-2-2);
}


//Fix Table Header Row Editmode Colors
.cm-s-obsidian .HyperMD-table-row-0 {
    color: var(--table-header-text-color);
}

//Wrap table rows
body:not(.table-unwrap) .cm-s-obsidian .HyperMD-table-row.HyperMD-table-row {
    min-width: min-content;
    white-space: pre-wrap;
}
//Fix table breaking text
.markdown-rendered table td {
    word-break: normal;
}
.is-live-preview .cm-table-widget table {
    margin-block-start: 0;
    margin-block-end: 0;
}

//Fix Missing Font Size Variable
.cm-s-obsidian .HyperMD-table-row {
    font-size: var(--table-row-edit-font-size);
}


//Tables
.markdown-rendered {
    & th { padding: var(--table-header-padding-y) var(--table-header-padding-x); }
    & td { padding: var(--table-cell-padding-y) var(--table-cell-padding-x); }
    
    & table th { --latex-color: var(--table-header-color); } //Fix Coloring
} 

.markdown-rendered table {
    & thead tr > th:first-child { border-top-left-radius: var(--radius-s); }
    & thead tr > th:last-child { border-top-right-radius: var(--radius-s); }
    & tbody tr:last-child > td:last-child { border-bottom-right-radius: var(--radius-s); }
    & tbody tr:last-child > td:first-child { border-bottom-left-radius: var(--radius-s); }
}
