.theme-dark,
.theme-light {    
    --tag-color: var(--text-dl);
    --tag-color-hover: var(--text-dl);
    --tag-background: var(--tag);
    --tag-background-hover: var(--accent);
    
    --tag-border-color: var(--tag);
    --tag-border-color-hover: var(--accent);
    
    --tag-decoration-hover: underline;

    --tag-font: var(--font-default);
    --tag-font-weight: inherit;
}

//Tag Font
a.tag,
.cm-hashtag
{ 
    font-family: var(--tag-font);
    font-weight: var(--tag-font-weight);
}