/*Bolded Right Side Table*/
.table.table {
    & td:nth-child(1) { font-weight: 900; }
    & tr:not(:hover) td:nth-child(1) {
        background-color: var(--outer-bar);
    }
} 

.table-column-header tr {
    & td:nth-child(1) {
        background-color: var(--table-header-background);
        
        &:hover { background-color: var(--table-header-background-hover); }
    }
}