.tables-no-hover {
    --table-header-background-hover: var(--table-header-background);

    & tbody tr {
        &:nth-child(odd):hover {
            --table-row-background-hover: var(--table-row-alt-background);
        }
        &:nth-child(even):hover {
            --table-row-background-hover: var(--table-row-background);
        }
    }
}