/*Bolded Right Side Table*/
.table.table {
    --table-style-column-header-background: var(--outer-bar);
    --table-style-column-header-bold-weight: var(--bold-weight);
    --table-style-column-header-bold-color: var(--bold-color);

    & td:nth-child(1) { 
        font-weight: var(--table-style-column-header-bold-weight); 
        color: var(--table-style-column-header-bold-color);
    }
    
    & tr td:nth-child(1) {
        background-color: var(--table-style-column-header-background);
    }
    & tr:hover td:nth-child(1) { background-color: var(--table-row-alt-background-hover); }
} 

.table-column-header tr {
    & td:nth-child(1) {
        background-color: var(--table-header-background);
        
        &:hover { background-color: var(--table-header-background-hover); }
    }
}