.tables-no-alt-background.tables-no-alt-background,
.table-nalt.table-nalt 
{ 
    --table-column-alt-background: transparent; 
    --table-row-alt-background: transparent;
}

.tables-no-alt-column-background.tables-no-alt-column-background {
    --table-column-alt-background: transparent;
}
.tables-no-alt-row-background.tables-no-alt-row-background {
    --table-row-alt-background: transparent;
}
