// .show-inline-title { --file-margins: 10px 32px 32px 32px; }

//Size
.inline-title-small {
    --inline-title-size: var(--font-size);
}
.inline-title-medium {
    --inline-title-size: var(--font-ui-medium);
}

//Font
.inline-title-normal-font {}

//Position
.inline-title-position-left { --inline-title-position: left; }
.inline-title-position-center { --inline-title-position: center; }
.inline-title-position-right { --inline-title-position: right; }