// Wide Tabs
.sidebar-tabs-wide :is(.mod-left-split, .mod-right-split) {
    & .workspace-tab-header-container { padding-right: 0; }
    & .workspace-tab-header-container-inner { flex: 1 0 auto; }
    & .workspace-tab-header { width: 100%; }
    & .workspace-tab-header-inner { justify-content: center; }
    & .workspace-tab-header-spacer { display: none; }
}

// Sidebar Tabs Underline
.sidebar-tabs-underline,
.sidebar-tabs-overline {
    & :is(.mod-left-split.mod-left-split, .mod-right-split.mod-right-split) {    
    --tab-outline-width: 0;
    --sidebar-icon-color: var(--inactive);
    --sidebar-icon-color-active: var(--headers);
    --icon-color-focused: var(--text);
    
    --sidebar-tab-border-color: var(--inactive);
    --sidebar-tab-border-color-active: var(--headers);
    --sidebar-tab-border-width: 4px;
    --sidebar-tab-background-color: var(--note);
    
    
    & .is-active.is-active {
        --sidebar-tab-border-color: var(--sidebar-icon-color-active);
        --tab-text-color-focused-active: var(--text);
        --tab-text-color-focused-active-current: var(--text);
        
        &:hover {
            --sidebar-icon-color-active: var(--text);
            --sidebar-tab-border-color: var(--sidebar-tab-border-color-active);
            --sidebar-tab-background-color-hover: var(--accent);
        }
    }
}}
.sidebar-tabs-overline :is(.mod-left-split, .mod-right-split) {
    & .workspace-tab-header-inner {
        border-bottom: unset;
        border-top: var(--sidebar-tab-border-width) solid var(--sidebar-tab-border-color);
    }
    
}



// Sidebar Tabs
.sidebar-tabs-tabular :is(.mod-left-split, .mod-right-split, .workspace-ribbon.mod-left) {
    --sidebar-tab-background-color: var(--note);
    --sidebar-tab-border-width: 0;
    --sidebar-tab-padding: 0 var(--size-4-4);
    --sidebar-icon-color-active: var(--lite-accent);
    --sidebar-icon-color: var(--soft-text);
    
    --tab-outline-width: 0;
    --tab-container-background: var(--outer-bar);

    --titlebar-background: var(--outer-bar);
}